cpn-ansible-job:
  job:
    image:
      repository: "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#image | jsonPath {.repository.ghcr}>/cloud-pi-native/git-ansible"
      tag: "1"
    command:
    - /bin/sh
    - -c
    - |
      git clone {{ dsc.gitlab.repoSocle.url }} -b {{ dsc.gitlab.repoSocle.revision }} socle && \
      cd socle && \
      ansible-playbook post-install/gitlab.yaml
    extraEnvFrom:
    - secretRef: 
        name: ansible-secret
  # Wait longer enough for GitLab instance to be ready
    activeDeadlineSeconds: 1800
    backoffLimit: 60
  cronJob:
    create: true
    command:
    - /bin/sh
    - -c
    - |
      git clone {{ dsc.gitlab.repoSocle.url }} -b {{ dsc.gitlab.repoSocle.revision }} socle && \
      cd socle && \
      ansible-playbook post-install/gitlab-ci-catalog.yaml
