{% if dsc.global.backup.velero.enabled | default(false) %}
dso-backup:
  global:
    appName: gitlab
  strategy: cnpg
  velero:
    backupNamePrefix: socle
  cnpg:
    clusterName: pg-cluster-gitlab
  application:
    workloads:
      - type: deployment
        name: gitlab-webservice-default
        replicas: 2
        podLabelSelector:
          app: webservice
          gitlab.com/webservice-name: default
          release: gitlab
        shutdownTimeout: 300
      - type: deployment
        name: gitlab-sidekiq-all-in-1-v2
        replicas: 2
        podLabelSelector:
          app: sidekiq
          queue-pod-name: all-in-1
          release: gitlab
        shutdownTimeout: 300
      - type: deployment
        name: gitlab-gitlab-exporter
        replicas: 1
        podLabelSelector:
          app: gitlab-exporter
          release: gitlab
        shutdownTimeout: 180
      - type: deployment
        name: gitlab-toolbox
        replicas: 1
        podLabelSelector:
          app: toolbox
          release: gitlab
        shutdownTimeout: 180
{% endif %}
