- ansible.builtin.set_fact:
    vault_auth_path: "jwt"
    vault_auth_role: "default-ci"
    npm_file: "{{ lookup('file', '{{ playbook_dir }}/roles/gitlab/npm_file') }}"
    mvn_config_file: "{{ lookup('ansible.builtin.template', 'mvn_conf_file.j2') }}"

- name: Install gitlab subscription
  kubernetes.core.k8s:
    template: "{{ item }}"
  with_items:
    - operator-group.yaml.j2
    - operator-subscription.yaml.j2

- name: Wait Gitlab CRD exist
  kubernetes.core.k8s_info:
    api_version: apps.gitlab.com/v1beta1
    kind: GitLab
    namespace: "{{ dsc.gitlab.namespace }}"
  register: gitlab_kind
  until: gitlab_kind.api_found
  retries: 15
  delay: 5

- name: Get Gitlab client secret
  kubernetes.core.k8s_info:
    kind: Secret
    namespace: "{{ dsc.keycloak.namespace }}"
    name: keycloak-client-secret-gitlab-client
  register: gitlab_secret
  failed_when: gitlab_secret.resources | length == 0

- name: Define provider secret content
  ansible.builtin.set_fact:
    provider: |
      name: openid_connect
      label: Keycloak
      args:
        name: openid_connect
        scope:
          - openid
          - generic
        response_type: code
        issuer: https://{{ keycloak_domain }}/realms/dso
        client_auth_method: query
        discovery: true
        uid_field: email
        client_options:
          identifier: {{ gitlab_secret.resources[0].data.CLIENT_ID | b64decode }}
          secret: {{ gitlab_secret.resources[0].data.CLIENT_SECRET | b64decode }}
          redirect_uri: https://{{ gitlab_domain }}/users/auth/openid_connect/callback

- name: Create keycloak secret
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      data:
        provider: "{{ provider | b64encode }}"
      kind: Secret
      metadata:
        name: openid-connect
        namespace: "{{ dsc.gitlab.namespace }}"

- name: Create exposed_ca Secret
  kubernetes.core.k8s:
    kind: Secret
    namespace: "{{ dsc.gitlab.namespace }}"
    name: exposed-ca
    definition:
      data:
        tls.crt: "{{ exposed_ca_pem | b64encode }}"

- name: Prepare Gitlab helm values
  ansible.builtin.set_fact:
    gitlab_values: "{{ lookup('template', 'gitlab-instance.yaml.j2') | from_yaml }}"

- name: Merge with gitlab user values
  ansible.builtin.set_fact:
    gitlab_values: "{{ gitlab_values | combine(dsc.gitlab['values'], recursive=True) }}"

- name: Install gitlab instance
  kubernetes.core.k8s:
    api_version: apps.gitlab.com/v1beta1
    kind: GitLab
    name: gitlab
    namespace: "{{ dsc.gitlab.namespace }}"
    definition:
      spec:
        chart:
          version: "{{ dsc.gitlab.chartVersion }}"
          values: "{{ gitlab_values }}"

  # - name: Wait gitlab instance to be 'Running'
  #  kubernetes.core.k8s_info:
  #    api_version: apps.gitlab.com/v1beta1
  #    kind: GitLab
  #    namespace: "{{ dsc.gitlab.namespace }}"
  #    name: gitlab
  #  register: gitlab_instance
  #  until: gitlab_instance.resources[0] is defined and gitlab_instance.resources[0].status is defined and gitlab_instance.resources[0].status.phase == 'Running'
  #  retries: 45
  #  delay: 20

- name: Wait Gitlab webservice endpoint to be available
  kubernetes.core.k8s_info:
    kind: Endpoints
    namespace: "{{ dsc.gitlab.namespace }}"
    name: gitlab-webservice-default
  register: endpoint
  until: endpoint.resources[0].subsets[0].addresses[0] is defined
  retries: 45
  delay: 20

- name: Find gitlab token in inventory
  kubernetes.core.k8s_info:
    namespace: "{{ dsc.console.namespace }}"
    kind: ConfigMap
    name: dso-config
  register: ansible_inventory

- name: Get gitlab token
  ansible.builtin.set_fact:
    gitlab_token: "{{ ansible_inventory.resources[0].data.GITLAB_TOKEN }}"
  when: ansible_inventory.resources[0].data.GITLAB_TOKEN is defined and ansible_inventory.resources[0].data.GITLAB_TOKEN | length != 0
  register: set_token_inv

- name: Test Gitlab token
  when: set_token_inv.skipped is not defined
  ansible.builtin.uri:
    validate_certs: "{{ dsc.exposedCA.type == 'none' }}"
    url: "https://{{ gitlab_domain }}/api/v4/admin/ci/variables"
    headers:
      "PRIVATE-TOKEN": "{{ gitlab_token }}"
  register: test_token
  ignore_errors: true

- name: Initialize gitlab token
  when: (set_token_inv.skipped is defined and set_token_inv.skipped) or (test_token.status != 200)
  block:
    - name: Get toolbox pod name
      kubernetes.core.k8s_info:
        kind: pod
        label_selectors:
          - app = toolbox
        namespace: "{{ dsc.gitlab.namespace }}"
      register: toolbox_pods

    - name: Set toolbox pod name
      ansible.builtin.set_fact:
        tb_pod: "{{ toolbox_pods.resources[0].metadata.name }}"

    - name: Create Token
      kubernetes.core.k8s_exec:
        pod: "{{ tb_pod }}"
        namespace: "{{ dsc.gitlab.namespace }}"
        command: >
          bash -c "echo 'PersonalAccessToken.create!(user_id: 1
          , name: \"ANSIBLE-DSO\"
          , scopes: [:api, :read_repository, :write_repository]
          , expires_at: 365.days.from_now).token' | gitlab-rails console"
      register: token

    - name: Set new gitlab token
      ansible.builtin.set_fact:
        gitlab_token: "{{ token.stdout_lines[-2][1:-1] }}"
    #      when: ansible_inventory.resources[0].data.GITLAB_TOKEN is defined

    - name: Update inventory
      kubernetes.core.k8s:
        kind: ConfigMap
        name: dso-config
        namespace: "{{ dsc.console.namespace }}"
        state: patched
        definition:
          data:
            GITLAB_TOKEN: "{{ gitlab_token }}"

- name: Get settings
  ansible.builtin.uri:
    validate_certs: "{{ dsc.exposedCA.type == 'none' }}"
    url: "https://{{ gitlab_domain }}/api/v4/application/settings"
    headers:
      "PRIVATE-TOKEN": "{{ gitlab_token }}"
  register: get_settings
  ignore_errors: true

- name: Set some parameters
  ansible.builtin.uri:
    validate_certs: "{{ dsc.exposedCA.type == 'none' }}"
    url: "https://{{ gitlab_domain }}/api/v4/application/settings"
    method: PUT
    headers:
      "PRIVATE-TOKEN": "{{ gitlab_token }}"
    body:
      signup_enabled: false
      outbound_local_requests_allowlist_raw: "0.0.0.0/0"
      default_branch_protection: 0
      import_sources:
        - git
    body_format: form-urlencoded
  changed_when: true

- name: Set parent group name
  ansible.builtin.set_fact:
    index: "0"
    parent: ""

- name: Include create group
  ansible.builtin.include_tasks:
    file: create-group.yaml

- name: "Set or update some CI/CD variables"
  community.general.gitlab_group_variable:
    api_url: "https://{{ gitlab_domain }}"
    api_token: "{{ gitlab_token }}"
    validate_certs: "{{ dsc.exposedCA.type == 'none' }}"
    group: "{{ dsc.global.projectsRootDir | join('/') }}"
    purge: false
    variables:
      - name: VAULT_KV
        value: forge-dso
      - name: CATALOG_PATH
        value: "{{ dsc.global.projectsRootDir | join('/') }}/catalog"
      - name: PROJECTS_ROOT_DIR
        value: "{{ dsc.global.projectsRootDir | join('/') }}"
      - name: "NEXUS_HOST_URL"
        value: "https://{{ nexus_domain }}"
      - name: "NEXUS_HOSTNAME"
        value: "{{ nexus_domain }}"
      - name: "SONAR_HOST_URL"
        value: "https://{{ sonar_domain }}"
      - name: "VAULT_AUTH_PATH"
        value: "{{ vault_auth_path }}"
      - name: "VAULT_AUTH_ROLE"
        value: "{{ vault_auth_role }}"
      - name: "VAULT_SERVER_URL"
        value: "https://{{ vault_domain }}"
      - name: "MVN_CONFIG_FILE"
        variable_type: "file"
        value: "{{ mvn_config_file }}"
      - name: "NPM_FILE"
        variable_type: "file"
        value: "{{ npm_file }}"

- name: "Set or update proxy CI/CD variables"
  community.general.gitlab_group_variable:
    api_url: "https://{{ gitlab_domain }}"
    api_token: "{{ gitlab_token }}"
    validate_certs: "{{ dsc.exposedCA.type == 'none' }}"
    group: "{{ dsc.global.projectsRootDir | join('/') }}"
    purge: false
    state: "{{ dsc.proxy.enabled | ternary('present', 'absent') }}"
    variables:
      - name: "HTTP_PROXY"
        value: "{{ dsc.proxy.http_proxy | default ('') }}"
      - name: "HTTPS_PROXY"
        value: "{{ dsc.proxy.https_proxy | default ('') }}"
      - name: "NO_PROXY"
        value: "{{ dsc.proxy.no_proxy | default ('') }}"
      - name: "PROXY_HOST"
        value: "{{ dsc.proxy.host | default ('') }}"
      - name: "PROXY_PORT"
        value: "{{ dsc.proxy.port | default ('') }}"
      - name: "http_proxy"
        value: "{{ dsc.proxy.http_proxy | default ('') }}"
      - name: "https_proxy"
        value: "{{ dsc.proxy.https_proxy | default ('') }}"
      - name: "no_proxy"
        value: "{{ dsc.proxy.no_proxy | default ('') }}"

- name: "Set or update CA_BUNDLE variable"
  community.general.gitlab_group_variable:
    api_url: "https://{{ gitlab_domain }}"
    api_token: "{{ gitlab_token }}"
    validate_certs: "{{ dsc.exposedCA.type == 'none' }}"
    group: "{{ dsc.global.projectsRootDir | join('/') }}"
    purge: false
    state: "{{ dsc.additionalsCA | ternary('present', 'absent') }}"
    variables:
      - name: "CA_BUNDLE"
        value: "{{ [additionals_ca_pem, exposed_ca_pem] | join('\n') }}"
        variable_type: file

- name: "Set or update insecure args variables"
  community.general.gitlab_group_variable:
    api_url: "https://{{ gitlab_domain }}"
    api_token: "{{ gitlab_token }}"
    validate_certs: "{{ dsc.exposedCA.type == 'none' }}"
    group: "{{ dsc.global.projectsRootDir | join('/') }}"
    purge: false
    state: "{{ dsc.gitlab.insecureCI | ternary('present', 'absent') }}"
    variables:
      - name: "EXTRA_KANIKO_ARGS"
        value: "--skip-tls-verify"
      - name: "EXTRA_GIT_ARGS"
        value: "-c http.sslVerify=false"
      - name: "EXTRA_VAULT_ARGS"
        value: "-tls-skip-verify"
