apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDashboard
metadata:
  name: {{ dsc_name}}-argo-cd
  namespace: {{ dsc.grafana.namespace }}
spec:
  datasources:
    - inputName: "datasource"
      datasourceName: "Prometheus"
  resyncPeriod: 30s
  instanceSelector:
    matchLabels:
      app: {{ grafana_label }}
  configMapRef:
    name: {{ dsc_name}}-argo-cd-dashboard-definition
    key: json
