apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDashboard
metadata:
  name: {{ dsc_name }}-gitlab-runner
  namespace: {{ dsc.grafana.namespace }}
spec:
  datasources:
    - inputName: "DS_PROMETHEUS"
      datasourceName: "Prometheus"
  resyncPeriod: 30s
  instanceSelector:
    matchLabels:
      app: {{ grafana_label }}
  grafanaCom:
    id: 14016
    revision: 2
