apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDashboard
metadata:
  name: nexus
  namespace: {{ dsc.grafana.namespace }}
spec:
  datasources:
    - inputName: "DS_PROMETHEUS-DEV"
      datasourceName: "Prometheus"
  resyncPeriod: 30s
  instanceSelector:
    matchLabels:
{% if dsc.global.environment == 'production' %}
      app: {{ dsc.grafana.namespace }}-prod
{% else %}
      app: {{ dsc.grafana.namespace }}-horsprod
{% endif %}
  grafanaCom:
    id: 16459
    revision: 1
