---
apiVersion: v2
name: keycloakx
type: application
version: {{ dsc.keycloakx.chartVersion }}
dependencies:
- name: cluster
  alias: cluster
  version: {{ dsc.cloudnativepg.cluster.chartVersion }}
  repository: {{ dsc.cloudnativepg.cluster.helmRepoUrl }}
  condition: cluster.enabled
- name: keycloakx
  alias: keycloakx
  version: {{ dsc.keycloakx.chartVersion }}
  repository: {{ dsc.keycloakx.helmRepoUrl }}
- name: cpn-job
  alias: cpn-ansible-job
  version: {{ dsc.cpnAnsibleJob.chartVersion | quote }}
  repository: {{ dsc.cpnAnsibleJob.helmRepoUrl }}
  condition: cpn-ansible-job.enabled
{% if dsc.global.backup.velero.enabled | default(false) %}
- name: dso-backup
  alias: dso-backup
  version: {{ dsc.global.backup.dsoBackup.chartVersion | default('1.0.0') | quote }}
  repository: {{ dsc.global.backup.dsoBackup.helmRepoUrl | default(dsc.cpnAnsibleJob.helmRepoUrl) }}
  condition: dso-backup.enabled
{% endif %}
