apiVersion: v1
kind: Secret
metadata:
  name: helm-docker-registry-secret
  namespace: {{ dsc.argocdInfra.namespace }}
type: Opaque
stringData:
  username: {{ dsc.global.dockerAccount.username }} 
  password: {{ dsc.global.dockerAccount.password }}
