apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: vault-plugin-secret
  namespace: {{ dsc.argocdInfra.namespace }}
data:
  VAULT_ADDR: {{ ('https://' + vaultinfra_domain) | b64encode }}
  VAULT_TOKEN: {{ vault_infra_token | b64encode  }}
  AVP_TYPE: {{ 'vault' | b64encode }}
  AVP_AUTH_TYPE: {{ 'token' | b64encode }}
  AVP_IGNORE_MISSING: {{ 'true' | b64encode }}

