apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration:
  name: console-pi-native
  namespace: {{ DSC.argocd.namespace }}
spec:
  destination:
    namespace: {{ DSC.console.namespace }}
    server: https://kubernetes.default.svc
  project: console-pi-native
  source: 
    path: helm
    repoURL: https://github.com/cloud-pi-native/console.git
    targetRevision: v{{ DSC.console.release }}
    releaseName: console-pi
    helm:
      parameters:
        - name: ingress.hosts[0]
          value: {{ CONSOLE_DOMAIN }}
        - name: postgres.container.db
          value: dso-console-db
        - name: postgres.container.user
          value: dso
        - name: postgres.container.pass
          value: {{ DSC.console.dbPassword }}
        - name: keycloak.client_id_backend
          value: {{ console_backend_secret.resources[0].data.CLIENT_ID | b64decode }}
        - name: keycloak.client_secret_backend
          value: {{ console_backend_secret.resources[0].data.CLIENT_SECRET | b64decode }}
        - name: keycloak.client_id_frontend
          value: {{ console_frontend_secret.resources[0].data.CLIENT_ID | b64decode }}
        - name: keycloak.redirect_uri
          value: https://{{ CONSOLE_DOMAIN }}
        - name: keycloak.session_secret
          value: {{ session_secret }}
        - name: keycloak.domain
          value: "{{ KEYCLOAK_DOMAIN }}/auth"
        - name: keycloak.realm
          value: dso
{% if DSC.exposedCA.type != 'none' %}
        - name: server.extra_ca.name
          value: bundle
        - name: server.extra_ca.key
          value: ca.pem
{% endif %}
{% for key, val in DSC.ingress.annotations.items() %}
        - name: ingress.annotations.{{ key | regex_escape }}
          value: {{ val }}
{% endfor %}
{% for key, val in DSC.ingress.labels.items() %}
        - name: ingress.labels.{{ key | regex_escape }}
          value: {{ val }}
{% endfor %}
{% if DSC.ingress.tls.type == 'tlsSecret' %}
        - name: ingress.tls.secretName
          value: {{ DSC.ingress.tls.tlsSecret.name }}
{% endif %}
  syncPolicy:
    automated: {}
    syncOptions:
    - CreateNamespace=true






