apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration:
  name: console-pi-native
  namespace: {{ ARGOCD_NAMESPACE }}
spec:
  destination:
    namespace: {{ CONSOLE_NAMESPACE }}
    server: https://kubernetes.default.svc
  project: console-pi-native
  source: 
    path: helm
    repoURL: https://github.com/dnum-mi/dso-console.git
    targetRevision: v{{ CONSOLE_RELEASE }}
    releaseName: console-pi
    helm:
      parameters:
        - name: client.ingress.hosts[0]
          value: {{ CONSOLE_DOMAIN }}
        - name: postgres.container.db
          value: dso-console-db
        - name: postgres.container.user
          value: dso
        - name: postgres.container.pass
          value: {{ CONSOLE_DB_PASSWORD }}
        - name: keycloak.client_id_backend
          value: {{ console_backend_secret.resources[0].data.CLIENT_ID | b64decode }}
        - name: keycloak.client_secret_backend
          value: {{ console_backend_secret.resources[0].data.CLIENT_SECRET | b64decode }}
        - name: keycloak.client_id_frontend
          value: {{ console_frontend_secret.resources[0].data.CLIENT_ID | b64decode }}
        - name: keycloak.redirect_uri
          value: https://{{ CONSOLE_DOMAIN }}
        - name: keycloak.session_secret
          value: {{ session_secret }}
        - name: keycloak.domain
          value: "{{ KEYCLOAK_DOMAIN }}/auth"
        - name: keycloak.realm
          value: dso
{% if additionals_ca | length %}
        - name: server.extra_ca.name
          value: bundle
        - name: server.extra_ca.key
          value: ca.pem
{% endif %}
{% for key, val in ingress.annotations.items() %}
        - name: server.ingress.annotations.{{ key | regex_escape }}
          value: {{ val }}
        - name: client.ingress.annotations.{{ key | regex_escape }}
          value: {{ val }}
{% endfor %}
{% for key, val in ingress.labels.items() %}
        - name: server.ingress.labels.{{ key | regex_escape }}
          value: {{ val }}
        - name: client.ingress.labels.{{ key | regex_escape }}
          value: {{ val }}
{% endfor %}
{% if ingress.tls.type == 'tlsSecret' %}
        - name: server.ingress.tls.secretName
          value: {{ ingress.tls.tlsSecret.name }}
        - name: client.ingress.tls.secretName
          value: {{ ingress.tls.tlsSecret.name }}
{% endif %}
  syncPolicy:
    automated: {}
    syncOptions:
    - CreateNamespace=true






