apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: console-pi-native
  namespace: {{ dsc.argocd.namespace }}
spec:
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'
  destinations:
  - name: '*'
    namespace: {{ dsc.console.namespace }}
    server: '*'
{% if dsc.global.environment == 'development' %}
  - name: '*'
    namespace: '*'
    server: '*'
{% endif %}
  namespaceResourceWhitelist:
  - group: '*'
    kind: '*'
  roles:
  - description: admin-RO
    groups:
    - /admin
    - admin
    name: admin-RO
    policies:
    - p, proj:console-pi-native:admin-RO, applications, get, console-pi-native/*, allow
  - description: admin-RW
    groups:
    - /admin
    - admin
    name: admin-RW
    policies:
    - p, proj:console-pi-native:admin-RW, applications, *, console-pi-native/*, allow
  sourceRepos:
  - "{{ dsc.console.helmRepoUrl }}"
