---
apiVersion: v2
name: global 
type: application
version: 1.0.0
{% if dsc.global.backup.cnpg.enabled or (dsc.global.backup.velero.enabled | default(false)) %}
dependencies:
{% if dsc.global.backup.cnpg.enabled %}
- name: cpn-job
  alias: cpn-ansible-job
  version: {{ dsc.cpnAnsibleJob.chartVersion | quote }}
  repository: {{ dsc.cpnAnsibleJob.helmRepoUrl }}
{% endif %}
{% if dsc.global.backup.velero.enabled | default(false) %}
- name: dso-backup
  alias: dso-backup
  version: {{ dsc.global.backup.dsoBackup.chartVersion | default('1.0.0') | quote }}
  repository: {{ dsc.global.backup.dsoBackup.helmRepoUrl | default(dsc.cpnAnsibleJob.helmRepoUrl) }}
{% endif %}
{% endif %}
