{% if dsc.exposedCA.type == "configmap" or dsc.exposedCA.type == "secret" %}
kind: Secret
apiVersion: v1
type: Opaque
metadata:
  name: exposed-ca 
  annotations:
    avp.kubernetes.io/remove-missing: "true"
data:
  tls.crt: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#exposedCa | base64encode>
{% endif %}
