apiVersion: v1
kind: Secret
metadata:
  name: vault-backup-s3-credentials
  annotations:
    avp.kubernetes.io/remove-missing: "true"
type: Opaque
stringData:
  S3_ACCESS_KEY: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#backup | jsonPath {.s3AccessKey}>
  S3_SECRET_KEY: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#backup | jsonPath {.s3SecretKey}>
