gitlabrunner:
  fullnameOverride: gitlab-runner
  replicas: 1

## How many old ReplicaSets for this Deployment you want to retain
  revisionHistoryLimit: 2
  
  gitlabUrl: http://gitlab-webservice-default.{{ dsc.gitlab.namespace }}.svc.cluster.local:8080/
  
  runnerToken: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/gitlab/values#runnerToken>
  
  rbac:
    create: true
    rules:
  #    - apiGroups: [""]
  #      resources: ["pods", "secrets", "configmaps"]
  #      verbs: ["list", "get", "watch", "create", "delete", "update"]
  #    - apiGroups: [""]
  #      resources: ["pods/exec", "pods/attach"]
  #      verbs: ["create"]
  #    - apiGroups: [""]
  #      resources: ["pods/log"]
  #      verbs: ["get"]
      - resources: ["configmaps", "events", "pods", "pods/attach", "pods/exec", "secrets", "services"]
        verbs: ["get", "list", "watch", "create", "patch", "update", "delete"]
      - apiGroups: [""]
        resources: ["pods/exec"]
        verbs: ["create", "patch", "delete"]
    podSecurityPolicy:
      enabled: true

  serviceAccount:
    create: true
    name: gitlab-runner

  resources:
    requests:
      ephemeral-storage: "500Mi"
    limits:
      ephemeral-storage: "2Gi"
  
{% if dsc.global.metrics.enabled %}
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  
  ## Configure a service resource e.g., to allow scraping metrics via
  ## prometheus-operator serviceMonitor
  service:
    enabled: true
{% endif %}
  
  runners:
    # runner configuration, where the multi line strings is evaluated as
    # template so you can specify helm values inside of it.
    #
    # tpl: https://helm.sh/docs/howto/charts_tips_and_tricks/#using-the-tpl-function
    # runner configuration: https://docs.gitlab.com/runner/configuration/advanced-configuration.html
    config: |
      [[runners]]
{% if dsc.exposedCA.type != 'none' %}
        tls-ca-file = "/home/gitlab-runner/.gitlab-runner/certs/tls.crt"
{% endif %}
        [runners.kubernetes]
          namespace = "{{ dsc.gitlab.namespace }}"
          image = "ubuntu:22.04"
          # multiple "always" to retry pull on fail (see. https://docs.gitlab.com/runner/executors/kubernetes.html#set-a-pull-policy)
          pull_policy = ["always", "always"]
{% if dsc.gitlabrunner.resources is defined and dsc.gitlabrunner.resources != 'none' %}
          # request and limit of build pod and override allowed in ci
{% if dsc.gitlabrunner.resources.requests is defined and dsc.gitlabrunner.resources.requests != 'none' %}
          cpu_request = "{{ dsc.gitlabrunner.resources.requests.cpu }}"
          memory_request = "{{ dsc.gitlabrunner.resources.requests.memory }}"
{% endif %}
{% if dsc.gitlabrunner.resources.limits is defined and dsc.gitlabrunner.resources.limits != 'none' %}
          cpu_limit = "{{ dsc.gitlabrunner.resources.limits.cpu }}"
          memory_limit = "{{ dsc.gitlabrunner.resources.limits.memory }}"
{% endif %}
{% if dsc.gitlabrunner.resources.overwrite is defined and dsc.gitlabrunner.resources.overwrite != 'none' %}
{% if dsc.gitlabrunner.resources.overwrite.requests != 'none' %}
          cpu_request_overwrite_max_allowed = "{{ dsc.gitlabrunner.resources.overwrite.requests.cpu }}"
          memory_request_overwrite_max_allowed = "{{ dsc.gitlabrunner.resources.overwrite.requests.memory }}"
{% endif %}
{% if dsc.gitlabrunner.resources.overwrite.limits != 'none' %}
          memory_limit_overwrite_max_allowed = "{{ dsc.gitlabrunner.resources.overwrite.limits.cpu }}"
          cpu_limit_overwrite_max_allowed = "{{ dsc.gitlabrunner.resources.overwrite.limits.memory }}"
{% endif %}
{% endif %}
{% endif %}
{% if dsc.gitlabrunner.taint.enabled %}
          [runners.kubernetes.node_selector]
            role = "gitlab-runner"
          [runners.kubernetes.node_tolerations]
            "role=gitlab-runner" = "NoSchedule"
{% endif %}
  
    ## Specify the name for the runner.
    name: gitlab-runner
  
    ## The name of the secret containing runner-token and runner-registration-token
    secret: gitlab-runner-secret
  
  ## Configure environment variables that will be present when the registration command runs
  ## This provides further control over the registration process and the config.toml file
  ## ref: `gitlab-runner register --help`
  ## ref: https://docs.gitlab.com/runner/configuration/advanced-configuration.html
  ##
  volumeMounts:
    - name: root-gitlab-runner
      mountPath: /.gitlab-runner
  
  volumes:
    - name: root-gitlab-runner
      emptyDir:
        medium: "Memory"

{% if dsc.gitlabrunner.taint.enabled %}
  nodeSelector:
    role: "gitlab-runner"
  
  tolerations:
    - effect: NoSchedule
      key: role
      operator: Equal
      value: gitlab-runner
{% endif %}
