{% if dsc.global.backup.cnpg.enabled %}
apiVersion: v1
kind: Secret
metadata:
  annotations:
    avp.kubernetes.io/remove-missing: "true"
  name: ansible-secret
type: Opaque
{% if dsc.global.backup.s3.endpointCA.namespace is defined and
dsc.global.backup.s3.endpointCA.name is defined and
dsc.global.backup.s3.endpointCA.key is defined %}
data:
  ca.pem: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#cnpgS3CaPem>
{% endif %}
stringData:
  VAULT_INFRA_TOKEN: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#vault_infra_token>
{% if dsc.proxy.enabled %}
  HTTP_PROXY: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#proxy | jsonPath {.httpProxy}>
  HTTPS_PROXY: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#proxy | jsonPath {.httpsProxy}>
  NO_PROXY: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#proxy | jsonPath {.noProxy}>
{% endif %}
{% endif %}
