---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ dsc_name }}-dsc-access-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: dsc-access-role
subjects:
  - kind: ServiceAccount
    name: cpn-ansible-job
    namespace: {{ dsc.keycloak.namespace }}
  - kind: ServiceAccount
    name: cpn-ansible-job
    namespace: {{ dsc.gitlab.namespace }}
  - kind: ServiceAccount
    name: cpn-ansible-job
    namespace: {{ dsc.vault.namespace }}
  - kind: ServiceAccount
    name: cpn-ansible-job
    namespace: {{ dsc.harbor.namespace }}
  - kind: ServiceAccount
    name: cpn-ansible-job
    namespace: {{ dsc.sonarqube.namespace }}
  - kind: ServiceAccount
    name: cpn-ansible-job
    namespace: {{ dsc.awx.namespace }}
{% if dsc.global.backup.cnpg.enabled %}
  - kind: ServiceAccount
    name: cpn-ansible-job
    namespace: {{ dsc.global.namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ dsc_name }}-pgdump-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: pgdump-role
subjects:
  - kind: ServiceAccount
    name: cpn-ansible-job
    namespace: {{ dsc.global.namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ dsc_name }}-cpn-ansible-job-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cpn-ansible-job-role
subjects:
  - kind: ServiceAccount
    name: cpn-ansible-job
    namespace: {{ dsc.global.namespace }}

{% endif %}
