---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: cpn-ansible-job-binding
  namespace: {{ dsc.console.namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cpn-ansible-job-role
subjects:
  - kind: ServiceAccount
    name: cpn-ansible-job
    namespace: {{ dsc.gitlab.namespace }}
  - kind: ServiceAccount
    name: cpn-ansible-job
    namespace: {{ dsc.sonarqube.namespace }}
{% if dsc.global.backup.s3.endpointCA.namespace is defined %}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: bind-access-cnpg-s3-ca-secret
  namespace: {{ dsc.global.backup.s3.endpointCA.namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: access-cnpg-s3-ca-secret
subjects:
  - kind: ServiceAccount
    name: cpn-ansible-job
    namespace: {{ dsc.gitlab.namespace }}
{% endif %}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: bind-access-vault-infra-secret
  namespace: {{ dsc.vaultInfra.namespace }} 
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: access-vault-infra-secret
subjects:
  - kind: ServiceAccount
    name: cpn-ansible-job
    namespace: {{ dsc.keycloak.namespace }}
  - kind: ServiceAccount
    name: cpn-ansible-job
    namespace: {{ dsc.gitlab.namespace }}
