---
apiVersion: v2
name: nexus3
type: application
version: {{ dsc.nexus.chartVersion }}
dependencies:
- name: nexus3
  alias: nexus
  version: {{ dsc.nexus.chartVersion }}
  repository: "{{ dsc.nexus.helmRepoUrl if 'oci://' in dsc.nexus.helmRepoUrl else dsc.nexus.helmRepoUrl ~ '/nexus' }}"
{% if dsc.global.backup.velero.enabled | default(false) %}
- name: dso-backup
  alias: dso-backup
  version: {{ dsc.global.backup.dsoBackup.chartVersion | default('1.0.0') | quote }}
  repository: {{ dsc.global.backup.dsoBackup.helmRepoUrl | default(dsc.cpnAnsibleJob.helmRepoUrl) }}
{% endif %}
