---
apiVersion: v2
name: nexus3
type: application
version: {{ dsc.nexus.chartVersion }}
dependencies:
- name: nexus3
  alias: nexus3
  version: {{ dsc.nexus.chartVersion }}
  repository: "{{ dsc.nexus.helmRepoUrl if 'oci://' in dsc.nexus.helmRepoUrl else dsc.nexus.helmRepoUrl ~ '/nexus' }}"
