apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ dsc.gitlab.namespace }}-operator-group
  namespace: {{ dsc.gitlab.namespace }}
spec:
  targetNamespaces:
    - {{ dsc.gitlab.namespace }}
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: gitlab-runner-operator-kubernetes
  namespace: {{ dsc.gitlab.namespace }}
spec:
  channel: stable
  installPlanApproval: Automatic
  name: gitlab-runner-operator
  source: certified-operators
  sourceNamespace: openshift-marketplace
  #startingCSV: gitlab-runner-operator.v1.10.0
