config:
  gitlab:
    url: https://{{ dsc.gitlab.subDomain }}{{ dsc.global.rootDomain }}
    token: {{ gitlab_token }}
  redis:
    url: null
  wildcards:
    - {}
serviceMonitor :
  enabled: true
  endpoints:
    - port: http
      interval: 30s
      path: /metrics