{% if dsc.proxy.enabled %}
envVars:
  - name: HTTP_PROXY
    value: "{{ dsc.proxy.http_proxy }}"
  - name: HTTPS_PROXY
    value: "{{ dsc.proxy.https_proxy }}"
  - name: NO_PROXY
    value: "{{ dsc.proxy.no_proxy }}"
{% endif %}
