---
# https://kubernetes.io/docs/concepts/configuration/configmap/
kind: DsoSocleConfig
apiVersion: cloud-pi-native.fr/v1alpha
metadata:
  name: conf-dso
spec:
  argocd:
    namespace: dso-argocd
    subDomain: argocd
    helmRepoUrl: https://charts.bitnami.com/bitnami
  certmanager:
    helmRepoUrl: https://charts.jetstack.io
  cloudnativepg:
    namespace: dso-cloudnativepg
    helmRepoUrl: https://cloudnative-pg.github.io/charts
  console:
    namespace: dso-console
    subDomain: console
    helmRepoUrl: https://cloud-pi-native.github.io/helm-charts
  gitlab:
    namespace: dso-gitlab
    subDomain: gitlab
    insecureCI: false
    pvcGitalySize: 50Gi
  gitlabCiPipelinesExporter:
    helmRepoUrl: https://charts.visonneau.fr
  gitlabOperator:
    namespace: dso-gitlab-operator
    helmRepoUrl: https://gitlab.com/api/v4/projects/18899486/packages/helm/stable
  gitlabCatalog:
    catalogRepoUrl: https://github.com/cloud-pi-native/gitlab-ci-catalog.git
  gitlabRunner:
    helmRepoUrl: https://charts.gitlab.io
  global:
    backup:
      velero:
        enabled: false
      cnpg:
        enabled: false
    metrics:
      enabled: false
    alerting:
      enabled: false
  grafana:
    namespace: dso-grafana
    subDomain: grafana
    grafanaPvcSize: 5Gi
  grafanaOperator:
    namespace: dso-grafana-operator
    ociChartUrl: ghcr.io/grafana/helm-charts/grafana-operator
  harbor:
    namespace: dso-harbor
    subDomain: harbor
    helmRepoUrl: https://helm.goharbor.io
    pvcRegistrySize: 50Gi
    pvcJobLogSize: 5Gi
    pvcDatabaseSize: 10Gi
    pvcRedisSize: 5Gi
    pvcTrivySize: 10Gi
  keycloak:
    namespace: dso-keycloak
    subDomain: keycloak
    helmRepoUrl: https://charts.bitnami.com/bitnami
    postgresPvcSize: 1Gi
  kyverno:
    namespace: dso-kyverno
    helmRepoUrl: https://kyverno.github.io/kyverno
  nexus:
    namespace: dso-nexus
    subDomain: nexus
    storageSize: 25Gi
    proxyCacheSize: 25Gi
  sonarqube:
    namespace: dso-sonarqube
    subDomain: sonar
    helmRepoUrl: https://sonarsource.github.io/helm-chart-sonarqube
    postgresPvcSize: 5Gi
  vault:
    namespace: dso-vault
    subDomain: vault
    helmRepoUrl: https://helm.releases.hashicorp.com
    pvcSize: 23Gi
