---
# https://kubernetes.io/docs/concepts/configuration/configmap/
kind: DsoSocleConfig
apiVersion: cloud-pi-native.fr/v1alpha
metadata:
  name: conf-dso
spec:
  argocd:
    namespace: dso-argocd
    subDomain: argocd
    helmRepoUrl: https://argoproj.github.io/argo-helm
    values: {}
  argocdInfra:
    installEnabled: false
    namespace: infra-argocd
    subDomain: infra-argocd
    helmRepoUrl: https://argoproj.github.io/argo-helm
    values: {}
  certmanager:
    helmRepoUrl: https://charts.jetstack.io
    forcedInstall: false
    values: {}
  cloudnativepg:
    namespace: dso-cloudnativepg
    helmRepoUrl: https://cloudnative-pg.github.io/charts
    forcedInstall: false
    values: {}
  console:
    namespace: dso-console
    subDomain: console
    helmRepoUrl: https://cloud-pi-native.github.io/helm-charts
    cnpg:
      mode: primary
      exposed: false
    values: {}
  gitlab:
    namespace: dso-gitlab
    subDomain: gitlab
    insecureCI: false
    pvcGitalySize: 50Gi
    cnpg:
      mode: primary
      exposed: false
    values: {}
  gitlabCatalog:
    catalogRepoUrl: https://github.com/cloud-pi-native/gitlab-ci-catalog.git
  gitlabCiPipelinesExporter:
    helmRepoUrl: https://charts.visonneau.fr
    values: {}
  gitlabOperator:
    namespace: dso-gitlab-operator
    helmRepoUrl: https://gitlab.com/api/v4/projects/18899486/packages/helm/stable
    forcedInstall: false
    values: {}
  gitlabRunner:
    helmRepoUrl: https://charts.gitlab.io
    values: {}
  global:
    backup:
      velero:
        enabled: false
      cnpg:
        enabled: false
      vault:
        enabled: false
      vaultInfra:
        enabled: false
    metrics:
      enabled: false
    alerting:
      enabled: false
    gitOps:
      watchpointEnabled: true
  grafana:
    namespace: dso-grafana
    subDomain: grafana
    grafanaPvcSize: 5Gi
  grafanaOperator:
    namespace: dso-grafana-operator
    ociChartUrl: oci://ghcr.io/grafana/helm-charts/grafana-operator
    values: {}
  harbor:
    namespace: dso-harbor
    subDomain: harbor
    helmRepoUrl: https://helm.goharbor.io
    pvcRegistrySize: 50Gi
    pvcJobLogSize: 5Gi
    pvcDatabaseSize: 10Gi
    pvcRedisSize: 5Gi
    pvcTrivySize: 10Gi
    cnpg:
      mode: primary
      exposed: false
    values: {}
  keycloak:
    namespace: dso-keycloak
    subDomain: keycloak
    helmRepoUrl: oci://registry-1.docker.io/bitnamicharts
    postgresPvcSize: 1Gi
    pluginDownloadUrl: https://github.com/codegouvfr/keycloak-theme-dsfr/releases/download/v2.1.4/keycloak-theme-for-kc-26-and-above.jar
    cnpg:
      mode: primary
      exposed: false
    values: {}
  keycloakInfra:
    installEnabled: false
    namespace: infra-keycloak
    subDomain: infra-keycloak
    helmRepoUrl: oci://registry-1.docker.io/bitnamicharts
    postgresPvcSize: 1Gi
    pluginDownloadUrl: https://github.com/codegouvfr/keycloak-theme-dsfr/releases/download/v2.1.4/keycloak-theme-for-kc-26-and-above.jar
    cnpg:
      mode: primary
      exposed: false
    values: {}
  kyverno:
    namespace: dso-kyverno
    helmRepoUrl: https://kyverno.github.io/kyverno
    forcedInstall: false
    values: {}
  nexus:
    namespace: dso-nexus
    subDomain: nexus
    storageSize: 25Gi
    proxyEnabled: false
    proxyCacheSize: 25Gi
  sonarqube:
    namespace: dso-sonarqube
    subDomain: sonar
    helmRepoUrl: https://sonarsource.github.io/helm-chart-sonarqube
    postgresPvcSize: 5Gi
    cnpg:
      mode: primary
      exposed: false
    values: {}
  vault:
    namespace: dso-vault
    subDomain: vault
    helmRepoUrl: https://helm.releases.hashicorp.com
    pvcSize: 23Gi
    values: {}
  vaultInfra:
    installEnabled: false
    namespace: infra-vault
    subDomain: infra-vault
    helmRepoUrl: https://helm.releases.hashicorp.com
    pvcSize: 23Gi
    values: {}
