---
kind: DsoSocleConfig
apiVersion: cloud-pi-native.fr/v1alpha
metadata:
  name: conf-dso
spec:
  additionalsCA: []
  #  - kind: ConfigMap
  #    name: kube-root-ca.crt
  #    namespace: default
  exposedCA:
    type: none
  #  type: configmap
  #  configmap:
  #    namespace: dso-global
  #    name: ca-cert
  #    key: ingress.crt
  global:
    platform: openshift
    offline: false
    environment: production
    projectsRootDir:
      - forge
    rootDomain: .example.com
    infraRootDomain: .infra.example.com
    logs: {}
    metrics: {}
    alerting: {}
    dockerAccount:
      enabled: false
    backup:
      cnpg:
        enabled: false
        pathPrefix: cnpg
      gitlab:
        enabled: false
        pathPrefix: gitlab
      vault:
        enabled: false
        pathPrefix: vault
      vaultInfra:
        enabled: false
        pathPrefix: vault-infra
    gitOps:
      repo:
        url: https://github.com/cloud-pi-native/socle.git
        revision: main
        path: gitops
      watchpointEnabled: true
      envName: sandbox
      namespacePrefix: dso-
    smtp: {}
  argocd:
    admin:
      enabled: false
    zoneName: default
  argocdInfra:
    admin:
      enabled: false
    namespace: infra-argocd
    projectName: default
  awx: {}
  certmanager: {}
  cloudnativepg: {}
  console: {}
  cpnAnsibleJob: {}
  cpnIntegrationTestJob: {}
  dashboard: {}
  gitlab: {}
  glexporter: {}
  gitlabOperator: {}
  gitlabrunner: {}
  #  resources:
  #    overwrite:
  #      requests:
  #        memory: "6Gi"
  #        cpu: "2"
  #      limits:
  #        memory: "6Gi"
  #        cpu: "2"
  grafana: {}
  harbor:
    adminPassword: anotherGreatPassword
    pvcRegistrySize: 50Gi
  ingress:
    annotations:
      route.openshift.io/termination: edge
    tls:
      type: none
  keycloak: {}
  keycloakInfra: {}
  kyverno: {}
  nexus: {}
  observatorium:
    enabled: false
  prometheus:
    crd:
      type: external
  proxy:
    enabled: false
  #  host: 192.168.xx.xx
  #  http_proxy: http://192.168.xx.xx:3128/
  #  https_proxy: http://192.168.xx.xx:3128/
  #  no_proxy: .cluster.local,.svc,10.0.0.0/8,127.0.0.1,192.168.0.0/16,api.example.com,api-int.example.com,canary-openshift-ingress-canary.apps.example.com,console-openshift-console.apps.example.com,localhost,oauth-openshift.apps.example.com,svc.cluster.local,localdomain
  #  port: "3128"
  sonarqube: {}
  tests: {}
  vault: {}
  vaultInfra: {}
