---
kind: DsoSocleConfig
apiVersion: cloud-pi-native.fr/v1alpha
metadata:
  name: conf-dso
spec:
  certmanager: {}
  additionalsCA: []
  exposedCA:
    type: none
  argocd:
    admin:
      enabled: false
  cloudnativepg: {}
  console:
    dbPassword: myAwesomePassword
    values: {}
  gitlab: {}
  gitlabOperator: {}
  gitlabRunner:
    resources:
      overwrite:
        requests:
          memory: "6Gi"
          cpu: "2"
        limits:
          memory: "6Gi"
          cpu: "2"
  global:
    environment: production
    projectsRootDir:
      - forge
    rootDomain: .example.com
    metrics:
      enabled: false
  grafana: {}
  grafanaDatasource: {}
  grafanaOperator: {}
  harbor:
    adminPassword: anotherGreatPassword
    pvcRegistrySize: 20Gi
  ingress:
    tls:
      type: none
  kubed: {}
  keycloak: {}
  nexus:
    storageSize: 25Gi
  proxy:
    enabled: false
  sonarqube: {}
  vault: {}
