---
- name: Inject config under raft if ha
  when: dsc.global.metrics.enabled and vault_values.vault.server.ha.raft.enabled
  ansible.builtin.blockinfile:
    path: "{{ dest_path }}/values.yaml"
    insertafter: '^      raft:\s*$'
    block: "{{ values.vault.raft_standalone_config | indent(8, true) }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: config"

- name: Inject config under standalone
  when: dsc.global.metrics.enabled and vault_values.vault.server.standalone.enabled
  ansible.builtin.blockinfile:
    path: "{{ dest_path }}/values.yaml"
    insertafter: '^    standalone:\s*$'
    block: "{{ values.vault.raft_standalone_config | indent(6, true) }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: config"

- name: Inject serverTelemetry under vault
  when: dsc.global.metrics.enabled
  ansible.builtin.blockinfile:
    path: "{{ dest_path }}/values.yaml"
    insertafter: '^vault:\s*$'
    block: "{{ values.vault.serverTelemetry | indent(2, true) }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: serverTelemetry"
