apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    app.kubernetes.io/name: gitlab
  name: kyverno
  namespace: {{ dsc.kyverno.namespace }}
spec:
  groups:
  - name: Kyverno
    rules:
    - alert: Kyverno admission controller not available
      annotations:
        message: Kyverno admission controller in namespace {{ dsc.kyverno.namespace }} has not been available for the last 5 minutes.
        summary: Kyverno admission controller down (no ready pod)"
      expr: |
        sum(kube_pod_status_ready{
        pod=~"kyverno-admission-controller-.*",
        namespace="{{ dsc.kyverno.namespace }}",
        condition="true"}) == 0
      for: 1m
      labels:
        severity: critical
    - alert: Kyverno background controller not available
      annotations:
        message: Kyverno background controller in namespace {{ dsc.kyverno.namespace }} has not been available for the last 5 minutes.
        summary: Kyverno background controller down (no ready pod)"
      expr: |
        sum(kube_pod_status_ready{
        pod=~"kyverno-background-controller-.*",
        namespace="{{ dsc.kyverno.namespace }}",
        condition="true"}) == 0
      for: 1m
      labels:
        severity: critical
    - alert: Kyverno cleanup controller not available
      annotations:
        message: Kyverno cleanup controller in namespace {{ dsc.kyverno.namespace }} has not been available for the last 5 minutes.
        summary: Kyverno cleanup controller down (no ready pod)"
      expr: |
        sum(kube_pod_status_ready{
        pod=~"kyverno-cleanup-controller-.*",
        namespace="{{ dsc.kyverno.namespace }}",
        condition="true"}) == 0
      for: 1m
      labels:
        severity: critical
    - alert: Kyverno reports controller not available
      annotations:
        message: Kyverno reports controller in namespace {{ dsc.kyverno.namespace }} has not been available for the last 5 minutes.
        summary: Kyverno reports controller down (no ready pod)"
      expr: |
        sum(kube_pod_status_ready{
        pod=~"kyverno-reports-controller-.*",
        namespace="{{ dsc.kyverno.namespace }}",
        condition="true"}) == 0
      for: 1m
      labels:
        severity: critical
    - alert: Kyverno Pod not healthy
      annotations:
        message: Kyverno {{"{{"}} $labels.pod {{"}}"}} pod in namespace {{ dsc.kyverno.namespace }} has been unavailable for the last 5 minutes.
        summary: Kyverno {{"{{"}} $labels.pod {{"}}"}} pod not healthy (container {{"{{"}} $labels.container {{"}}"}} is not ready)
      expr: |
        kube_pod_container_status_ready{
        pod!~"(.*-)*admission-reports(-.*)*",
        namespace="{{ dsc.kyverno.namespace }}"} == 0
      for: 1m
      labels:
        severity: warning
