---
apiVersion: v2
name: glexporter 
type: application
version: {{ dsc.glexporter.chartVersion }}
dependencies:
- name: gitlab-ci-pipelines-exporter
  alias: glexporter 
  version: {{ dsc.glexporter.chartVersion }}
  repository: "{{ dsc.glexporter.helmRepoUrl }}"
