apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingressargo-http-solver
  namespace: argo-system
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
spec:
  rules:
    - host: solver{{ ROOT_DOMAIN }}