---

- name: GitLab CI Pipelines Exporter installation
  when: dsc.global.metrics.enabled
  block:
    - name: Get Gitlab namespace
      kubernetes.core.k8s_info:
        kind: Namespace
        name: "{{ dsc.gitlab.namespace }}"
      register: gitlab_ns

    - name: Fail if Gitlab namespace is not present
      ansible.builtin.fail:
        msg: Gitlab ne semble pas avoir été provisionné sur le cluster veuillez l'installer avant
      when: gitlab_ns | length == 0

    - name: Get dso-config inventory
      kubernetes.core.k8s_info:
        namespace: "{{ dsc.console.namespace }}"
        kind: Secret
        name: dso-config
      register: ansible_inventory

    - name: Get gitlab token
      ansible.builtin.set_fact:
        gitlab_token: "{{ ansible_inventory.resources[0].data.GITLAB_TOKEN | b64decode }}"

    - name: Add GitLab CI Pipelines Exporter helm repo
      kubernetes.core.helm_repository:
        name: mvisonneau
        repo_url: "{{ dsc.gitlabCiPipelinesExporter.helmRepoUrl }}"
        force_update: true

    - name: Set path fact
      ansible.builtin.set_fact:
        path: "{{ role_path + '/templates/values' }}"

    - name: Compute Gitlab CI Pipelines Exporter helm values
      ansible.builtin.include_role:
        name: combine
      vars:
        combine_path: "{{ path }}"
        combine_user_values: "{{ dsc.gitlabCiPipelinesExporter['values'] }}"
        combine_dest_var: "gl_ci_pipelines_exporter_values"

    - name: Deploy GitLab CI Pipelines helm
      kubernetes.core.helm:
        name: gitlab-ci-pipelines-exporter
        chart_ref: mvisonneau/gitlab-ci-pipelines-exporter
        chart_version: "{{ dsc.gitlabCiPipelinesExporter.chartVersion }}"
        release_namespace: "{{ dsc.gitlab.namespace }}"
        values: "{{ gl_ci_pipelines_exporter_values }}"
