---
apiVersion: v2
name: gitlab
type: application
version: {{ dsc.gitlabOperator.chartVersion }}
dependencies:
- name: cpn-cnpg
  alias: cpn-cnpg
  version: {{ dsc.cpnCnpg.chartVersion | quote }}
  repository: {{ dsc.cpnCnpg.helmRepoUrl }}
- name: gitlab-operator
  alias: gitlab
  version: {{ dsc.gitlabOperator.chartVersion }}
  repository: "{{ dsc.gitlabOperator.helmRepoUrl }}"
- name: cpn-ansible-job
  alias: cpn-ansible-job
  version: {{ dsc.cpnAnsibleJob.chartVersion | quote }}
  repository: {{ dsc.cpnAnsibleJob.helmRepoUrl }}
