cloudnativepg:
  image:
    registry: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#image | jsonPath {.repository.ghcr}>/cloudnative-pg/cloudnative-pg

{% if dsc.global.imagePullSecrets is defined %}
  imagePullSecrets: {{ dsc.global.imagePullSecrets | to_json }}
{% endif %}
