sonarqube:
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchLabels:
                app.kubernetes.io/instance: {{ dsc.global.gitOps.envName }}-{{ dsc.sonarqube.namespace }}
                app.kubernetes.io/name: {{ dsc.global.gitOps.envName }}-{{ dsc.sonarqube.namespace }}
                app.kubernetes.io/component: sonarqube-sonarqube
            topologyKey: kubernetes.io/hostname
