sonarqube:
{% if dsc.global.platform == "openshift" %}
  OpenShift:
    enabled: true
  
  securityContext:
    fsGroup: null
  
  containerSecurityContext:
    runAsUser: null
    runAsGroup: null
  
  ingress:
    annotations:
      route.openshift.io/termination: "edge"
  
  initContainers:
    securityContext:
      runAsUser: null
      runAsGroup: null
  
  account:
  #setAdminPassword:
    securityContext: {}

cpn-ansible-job:
  global:
    platform: openshift 
{% elif dsc.global.platform == "kubernetes" %}
  account:
  #setAdminPassword:
    securityContext:
      runAsUser: 101
{% endif %}
