cluster:
  nameOverride: "pg-cluster-sonar"
  fullnameOverride: "pg-cluster-sonar"
  cluster:
    primaryUpdateMethod: restart
    enablePDB: false
    imageName: "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#image | jsonPath {.repository.ghcr}>/{{ dsc.sonarqube.cnpg.imageName }}"
{% if use_image_pull_secrets %}
    imagePullSecrets:
    - name: dso-config-pull-secret
{% endif %}
    initdb:
      owner: "dso_admin"
      database: "sonardb"
  
    # Require 1Gi of space per instance using default storage class
    storage:
      size: {{ dsc.sonarqube.postgresPvcSize }}
{% if dsc.sonarqube.postgresWalPvcSize is defined %}
    walStorage:
      enabled: true
      size: {{ dsc.sonarqube.postgresWalPvcSize }}
{% endif %}
  
    postgresql:
      parameters:
        max_worker_processes: "60"
{% if dsc.sonarqube.postgresWalMaxSlotKeepSize is defined %}
        max_slot_wal_keep_size: {{ dsc.sonarqube.postgresWalMaxSlotKeepSize }}
{% endif %}
      pg_hba:
        - host sonardb dso_admin all md5
        - host sonardb streaming_replica all md5

{% if dsc.global.backup.velero.enabled %}
    annotations:
      pre.hook.backup.velero.io/command: '["/bin/bash", "-c", "(( $(date +%d) %2 == 0 )) && index=0 || index=1; pg_dump -U postgres -Fc -d sonardb > /var/lib/postgresql/data/app.dump-${index}"]'
      pre.hook.backup.velero.io/container: postgres
      pre.hook.backup.velero.io/on-error: Fail
      pre.hook.backup.velero.io/timeout: 90s
{% endif %}

    monitoring:
      enabled: {{ dsc.global.metrics.enabled }}

{% if dsc.global.backup.cnpg.enabled %}
  backups:       
    destinationPath: s3://<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#backup | jsonPath {.s3BucketName}>/cnpg
    enabled: true
    endpointURL: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#backup | jsonPath {.s3Endpoint}>
    retentionPolicy: 14d
    s3:          
      accessKey: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#backup | jsonPath {.s3AccessKey}>
      secretKey: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#backup | jsonPath {.s3SecretKey}>
    scheduledBackups:
    - name: pg-cluster-sonar
      schedule: 0 0 */6 * * *                                                              
      backupOwnerReference: self
      method: barmanObjectStore
{% if dsc.global.cloudProvider is defined and dsc.global.cloudProvider == 'Scaleway' %}
    wal:
      encryption: ''
    data:
      encryption: ''
{% endif %}
{% if dsc.global.backup.s3.endpointCA is defined %}
    endpointCA:
      create: true
      name: {{ dsc.global.backup.s3.endpointCA.name }}
      key: {{ dsc.global.backup.s3.endpointCA.key }}
      value: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#cnpgS3CaPem>
{% endif %}
{% endif %}
