cpn-cnpg:
  nameOverride: "pg-cluster-sonar"
{% if dsc.sonarqube.cnpg.imageName is defined %}
  imageName: "{{ dsc.sonarqube.cnpg.imageName }}"
{% else %}
  imageName: "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#image | jsonPath {.repository.ghcr}>/cloudnative-pg/postgresql:16.1"
{% endif %}
{% if use_image_pull_secrets %}
  imagePullSecrets:
  - name: dso-config-pull-secret
{% endif %}
  username: "dso_admin"
  dbName: "sonardb"

  # Require 1Gi of space per instance using default storage class
  pvcSize:
    data: {{ dsc.sonarqube.postgresPvcSize }}
{% if dsc.sonarqube.postgresWalPvcSize is defined %}
    wal: {{ dsc.sonarqube.postgresWalPvcSize }}
{% endif %}

  parameters:
    max_worker_processes: "60"
{% if dsc.sonarqube.postgresWalMaxSlotKeepSize is defined %}
    max_slot_wal_keep_size: {{ dsc.sonarqube.postgresWalMaxSlotKeepSize }}
{% endif %}

{% if dsc.global.backup.velero.enabled %}
  annotations:
    pre.hook.backup.velero.io/command: '["/bin/bash", "-c", "(( $(date +%d) %2 == 0 )) && index=0 || index=1; pg_dump -U postgres -Fc -d sonarqube > /var/lib/postgresql/data/app.dump-${index}"]'
    pre.hook.backup.velero.io/container: postgres
    pre.hook.backup.velero.io/on-error: Fail
    pre.hook.backup.velero.io/timeout: 90s
{% endif %}

{% if dsc.sonarqube.cnpg.exposed %}
  exposed: true
  nodePort: {{ dsc.sonarqube.cnpg.nodePort }}
{% endif %}

{% if dsc.sonarqube.cnpg.initPassword %}
  initSecret:
    enabled: true 
    username: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/sonarqube/values#cnpg | jsonPath  
      {.username} | base64encode>
    password: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/sonarqube/values#cnpg | jsonPath
      {.password} | base64encode>
{% endif %}

{% if dsc.sonarqube.cnpg.mode == "replica" %}
{%- filter indent(width=4) %}
{{ dsc.sonarqube.cnpg.connectionParameters }}
{%- endfilter %}
{% endif %}

{% if dsc.sonarqube.cnpg.mode == "replica" %}
  mode: "replica"
{% endif %}

  monitoring:
    enabled: {{ dsc.global.metrics.enabled }}
{% if dsc.global.metrics.additionalLabels is defined %}
    podMonitorAdditionalLabels:
{% for key, value in dsc.global.metrics.additionalLabels.items() %}
      {{ key }}: {{ value }}
{% endfor %}
{% endif %}

{% if dsc.global.backup.cnpg.enabled or dsc.sonarqube.cnpg.mode == "restore" %}
  backup:
    destinationPath: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#externalClusters | jsonPath {.pgCluster.barmanObjectStore.destinationPath}>
    endpointURL: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#externalClusters | jsonPath {.pgCluster.barmanObjectStore.endpointURL}>
{% if dsc.global.backup.cnpg.enabled and dsc.sonarqube.cnpg.mode != "restore" %}
    enabled: true
{% if dsc.global.backup.s3.endpointCA.key is defined %}
    endpointCA:
      create: true
      name: "bundle-cnpg-s3"
      key: "ca.pem"
      value: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#cnpgS3CaPem>
{% endif %}
{% endif %}
    s3Credentials:
      create: true
      secretName: pg-cluster-backup
      accessKeyId:
        key: {{ dsc.global.backup.s3.credentials.accessKeyId.key | default ('') }}
        value: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#externalClusters | jsonPath {.pgCluster.barmanObjectStore.s3Credentials.accessKeyId.value}>
      secretAccessKey:
        key: {{ dsc.global.backup.s3.credentials.secretAccessKey.key | default('') }}
        value: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#externalClusters | jsonPath {.pgCluster.barmanObjectStore.s3Credentials.secretAccessKey.value}>
{% if dsc.global.backup.cnpg.compression != 'none' %}
    compression: "{{ dsc.global.backup.cnpg.compression }}"
{% endif %}
    retentionPolicy: "{{ dsc.global.backup.cnpg.retentionPolicy }}"
{% endif %}
