cpn-ansible-job:
  job:
    name: "sonarqube"
    dscName: "{{ dsc_name }}"
    extraEnv:
      - name: VAULT_INFRA_TOKEN
        value: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#vault_infra_token>
