cpn-ansible-job:
  job:
    name: "sonarqube" 
    extraEnv:
      - name: VAULT_INFRA_TOKEN
        value: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#vault_infra_token>
