certmanager:
  install: true

registry:
  enabled: false

nginx-ingress:
  enabled: false

gitlab:
  webservice:
    registry:
      enabled: false
{% if dsc.global.metrics.enabled %}
    metrics:
      serviceMonitor:
        enabled: true
{% endif %}
  sidekiq:
    registry:
      enabled: false
{% if dsc.global.metrics.enabled %}
    metrics:
      podMonitor:
        enabled: true
{% endif %}
  unicorn:
    registry:
      enabled: false
  gitaly:
    priorityClassName: gitlab-gitaly
    resources:
      requests:
        cpu: 1000m
        memory: 2Gi
      limits:
        cpu: 1000m
        memory: 2Gi
    securityContext:
      fsGroupChangePolicy: OnRootMismatch
{% if dsc.global.metrics.enabled %}
    metrics:
      serviceMonitor:
        enabled: true
{% endif %}
    persistence:
      size: {{ dsc.gitlab.pvcGitalySize }}
  gitlab-exporter:
{% if dsc.global.metrics.enabled %}
    metrics:
      serviceMonitor:
        enabled: true
{% endif %}
  kas:
    enabled: false
{% if dsc.global.metrics.enabled %}
    metrics:
      serviceMonitor:
        enabled: true
{% endif %}
  toolbox:
    backups:
      cron:
        enabled: {{ dsc.global.backup.gitlab.enabled }}
        schedule: {{ dsc.global.backup.gitlab.cron }}
        extraArgs: {{ dsc.global.backup.gitlab.extraArgs }}
{% if dsc.global.backup.gitlab.enabled %}
      objectStorage:
        config:
          secret: gitlab-backup
          key: config
{% endif %}

global:
  psql:
    serviceName: pooler-pg-cluster-gitlab-rw
    port: 5432
    database: gitlabhq_production
    username: gitlab
    password:
      secret: pg-cluster-gitlab-app
      key: password
  registry:
    enabled: false
  certificates:
    customCAs:
{% for item in dsc.additionalsCA %}
{% if item.kind == 'ConfigMap' %}
      - configMap: {{ item.name }}
{% endif %}
{% if item.kind == 'Secret' %}
      - secret: {{ item.name }}
{% endif %}
{% endfor %}
{% if dsc.exposedCA.type != 'none' %}
      - secret: exposed-ca
{% endif %}
  hosts:
    domain: {{ dsc.global.rootDomain[1:] }}
    registry:
      name: gitlab-registry.example.com
    minio:
      name: {{ dsc_name }}-minio{{ dsc.global.rootDomain }}
    kas:
      name: {{ dsc_name }}-kas{{ dsc.global.rootDomain }}
{% if gitlab_domain %}
    gitlab:
      name: {{ gitlab_domain }}
{% endif %}

  appConfig:
    defaultProjectsFeatures:
      containerRegistry: false
    ldap:
      preventSignin: true
    omniauth:
      enabled: true
      syncProfileAttributes: ["email"]
      allowSingleSignOn: ["openid_connect"]
      blockAutoCreatedUsers: false
      autoSignInWithProvider: "openid_connect"
      autoLinkLdapUser: false
      autoLinkSamlUser: false
      autoLinkUser: ["openid_connect"]
      providers:
        - secret: openid-connect
    backups:
      bucket: "{{ dsc.global.backup.s3.bucketName }}"

  extraEnv:
    GITLAB_ROOT_EMAIL: "admin@example.com"

prometheus:
  install: false

postgresql:
  install: false
