---
apiVersion: v2
name: dashboard
type: application
version: 1.0.0 
dependencies:
- name: dso-observability
  alias: dashboard
  version: ">=0.0.0 <1.0.0"
  repository: https://cloud-pi-native.github.io/helm-charts
