global:
  security:
    allowInsecureImages: true
image:
  registry: "{{ dsc.global.registry | default('docker.io') }}"
  repository: bitnamilegacy/keycloak
  pullPolicy: "IfNotPresent"

{% if dsc.global.imagePullSecrets is defined %}
global:
  imagePullSecrets: {{ dsc.global.imagePullSecrets | to_json }}
{% endif %}
