---
apiVersion: v2
name: certmanager
type: application
version: {{ dsc.certmanager.chartVersion }}
dependencies:
- name: certmanager
  alias: certmanager
  version: {{ dsc.certmanager.chartVersion }}
  repository: {{ dsc.certmanager.helmRepoUrl }}
