keycloak:
  global:
    security:
      allowInsecureImages: true
{% if dsc.global.imagePullSecrets is defined %}
    imagePullSecrets: {{ dsc.global.imagePullSecrets | to_json }}
{% endif %}
  # Overriding the official (non-Bitnami) Keycloak image: the Bitnami entrypoint
  image:
    registry: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#image | jsonPath {.repository.quay}>
    repository: keycloak/keycloak
    tag: "26.7.2"
    pullPolicy: "IfNotPresent"