{% if use_private_registry %}
keycloak:
  global:                                                                                                                                       
    security:
      allowInsecureImages: true
{% endif %}

{% if use_image_pull_secrets %}
keycloak:
  global:
    imagePullSecrets:
    - dso-config-pull-secret
{% endif %}
