cpn-ansible-job:
  job:
    image:
      repository: "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#image | jsonPath {.repository.ghcr}>/cloud-pi-native/git-ansible"
      tag: "1"
    command:
    - /bin/sh
    - -c
    - |
      git clone {{ dsc.keycloak.repoSocle.url }} -b {{ dsc.keycloak.repoSocle.revision }} socle && \
      cd socle && \
      ansible-playbook post-install/keycloak.yaml
    extraEnvFrom:
    - secretRef: 
        name: ansible-secret
    extraVolumes:
    - name: users-csv
      configMap:
        name: keycloak-users
    extraVolumeMounts:
    - name: users-csv
      mountPath: /config
      readOnly: true
