{% if dsc.global.playwright.enabled %}
playwright:
  job:
    image:
      repository: "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#image | jsonPath {.repository.ghcr}>/cloud-pi-native/playwright"
      tag: "1"
    command:
    - /bin/bash
    - -c
    - ./playwright.sh
    extraEnvFrom:
    - secretRef: 
        name: playwright-secret
{% endif %}
