{% if use_private_registry %}
injector:
  image:
    repository: "{{ dsc.global.registry }}/hashicorp/vault-k8s"
  agentImage:
    repository: "{{ dsc.global.registry }}/hashicorp/vault"

server:
  image:
    repository: "{{ dsc.global.registry }}/hashicorp/vault"

csi:
  image:
    repository: "{{ dsc.global.registry }}/hashicorp/vault-csi-provider"
  agent:
    image:
      repository: "{{ dsc.global.registry }}/hashicorp/vault"
{% endif %}

{% if dsc.global.imagePullSecrets is defined %}
global:
  imagePullSecrets: {{ dsc.global.imagePullSecrets | to_json }}
{% endif %}