{% if dsc.global.backup.gitlab.enabled %}
apiVersion: v1
data:
  config: |
    [default]
    access_key = "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#backup | jsonPath {.s3.credentials.accessKeyId.value}>"
    secret_key = "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#backup | jsonPath {.s3.credentials.secretAccessKey.value}>"
    host_base = "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#backup | jsonPath {.s3.endpointURL}>"
    host_bucket = "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#backup | jsonPath {.s3.endpointURL}>"
    proxy_host = "http://<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#proxy | jsonPath {.hostProxy}>"
    proxy_port = "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#proxy | jsonPath {.portProxy}>"
kind: Secret
metadata:
  annotations:
    avp.kubernetes.io/remove-missing: "true"
  name: gitlab-backup
type: Opaque
{% endif %}
