apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: vault-ingress
  namespace: {{ dsc.vault.namespace }}
  annotations:
{% for key, val in (dsc.ingress.annotations | combine(dsc.vault['values'].server.ingress.annotations | default([]))).items() %}
    {{ key }}: {{ val }}
{% endfor %}
  labels:
    app: vault
{% for key, val in dsc.ingress.labels.items() %}
    {{ key }}: {{ val }}
{% endfor %}
spec:
{% if not dsc.ingress.tls.type == 'none' %}
  tls:
    - hosts:
        - {{ vault_domain }}
{% if dsc.ingress.tls.type == 'tlsSecret' %}
      secretName: {{ dsc.ingress.tls.tlsSecret.name }}
{% else %}
      secretName: vault-tls-secret
{% endif %}
{% endif %}
  ingressClassName: {{ dsc.ingress.className | default('') }}
  rules:
    - host: {{ vault_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ dsc_name }}-vault{% if dsc.vault['values'].server.ha.enabled | default(true) %}-active{% endif +%}
                port:
                  number: 8200
