apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: vault-ingress
  namespace: {{ VAULT_NAMESPACE }}
  annotations:
{% for key, val in ingress.annotations.items() %}
    {{ key }}: {{ val }}
{% endfor %}
  labels:
    app: nexus
{% for key, val in ingress.labels.items() %}
    {{ key }}: {{ val }}
{% endfor %}
spec:
{% if not ingress.tls.type == 'none' %}
  tls:
    - hosts:
        - {{ VAULT_DOMAIN }}
      secretName: vault-issuer-account-key
{% endif %}
  rules:
    - host: {{ VAULT_DOMAIN }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: vault
                port:
                  number: 8200
