apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: vault-ingress
  namespace: vault-system
  annotations:
    cert-manager.io/cluster-issuer: {{ LETSENCRYPT_ENABLED | ternary('letsencrypt-issuer', '') }}
spec:
  tls:
    - hosts:
        - {{ VAULT_DOMAIN }}
      secretName: vault-system-issuer-account-key
  rules:
    - host: {{ VAULT_DOMAIN }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: vault
                port:
                  number: 8200
