vault:
  fullnameOverride: "{{ dsc_name }}-vault"
{% if dsc.global.metrics.enabled %}
  serverTelemetry:
    serviceMonitor:
      enabled: true
      authorization:
        credentials:
          name: {{ dsc_name }}-vault-keys
          key: root_token
{% if dsc.global.metrics.additionalLabels is defined %}
      selectors:
        labels: {{ dsc.global.metrics.additionalLabels }}
{% endif %}
  global:
    serverTelemetry:
      prometheusOperator: true
{% endif %}
  injector:
{% if dsc.global.metrics.enabled %}
    metrics:
      enabled: true
{% endif %}
  server:
    route:
      enabled: false
    ha:
      enabled: true
      replicas: 3
      apiAddr: "https://<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#domain | jsonPath {.vault}>"
      raft:
        enabled: true
    standalone:
      enabled: false
    auditStorage:
      enable: true
    dataStorage:
      enable: true
      size: {{ dsc.vault.pvcSize }}
