{% if dsc.global.backup.vault.enabled  %}
cpn-backup-utils:
  fullnameOverride: "{{ dsc_name }}-vault-backup-cpn-backup-utils"
  vault:
    enabled: true
    secrets:
      S3_BUCKET_NAME: <path:forge-dso/data/env/{{ dsc_name }}/apps/vault/values#backupSecrets | jsonPath {.s3BucketName}>
      S3_BUCKET_PREFIX: <path:forge-dso/data/env/{{ dsc_name }}/apps/vault/values#backupSecrets | jsonPath {.s3BucketPrefix}>
      S3_ENDPOINT: <path:forge-dso/data/env/{{ dsc_name }}/apps/vault/values#backupSecrets | jsonPath {.s3Endpoint}>
      VAULT_ADDR: "http://{{ dsc.vault.namespace }}-active:8200"
      VAULT_TOKEN: <path:forge-dso/data/env/{{ dsc_name }}/apps/vault/values#backupSecrets | jsonPath {.vaultToken}>
      S3_ACCESS_KEY: <path:forge-dso/data/env/{{ dsc_name }}/apps/vault/values#backupSecrets | jsonPath {.s3AccessKey}>
      S3_SECRET_KEY: <path:forge-dso/data/env/{{ dsc_name }}/apps/vault/values#backupSecrets | jsonPath {.s3SecretKey}>
    env:
      RETENTION: "{{ dsc.global.backup.vault.retentionPolicy }}"
      MC_EXTRA_ARGS: "{{ dsc.global.backup.vault.mcExtraArgs }}"
    job:
      schedule: '"{{ dsc.global.backup.vault.cron }}"'
{% endif %}
