cpn-ansible-job:
  job:
    image:
      repository: "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#image | jsonPath {.repository.ghcr}>/cloud-pi-native/git-ansible"
      tag: "1"
    command:
    - /bin/sh
    - -c
    - |
      git clone {{ dsc.vault.repoSocle.url }} -b {{ dsc.vault.repoSocle.revision }} socle && \
      cd socle && \
      ansible-playbook post-install/vault.yaml
    extraEnvFrom:
    - secretRef: 
        name: ansible-secret
    annotations:
      argocd.argoproj.io/hook: Sync
  cronJob:
    create: true
