{% if dsc.proxy.enabled %}
harbor:
  proxy:
    httpProxy: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#proxy | jsonPath {.httpProxy}>
    httpsProxy: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#proxy | jsonPath {.httpsProxy}>
    noProxy: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#proxy | jsonPath {.noProxy}>,.local,.internal
    components:
      - nginx
      - portal
      - core
      - jobservice
      - registry
      - trivy
      - database
      - redis
      - exporter
{% endif %}
