---
- name: CNPG s3 CA (secret)
  when: >
    dsc.global.backup.cnpg.enabled and
    dsc.global.backup.s3.endpointCA.namespace is defined and
    dsc.global.backup.s3.endpointCA.name is defined and
    dsc.global.backup.s3.endpointCA.key is defined
  block:
    - name: Get secret
      kubernetes.core.k8s_info:
        name: "{{ dsc.global.backup.s3.endpointCA.name }}"
        namespace: "{{ dsc.global.backup.s3.endpointCA.namespace }}"
        kind: Secret
      register: cnpg_s3_ca_resource

    - name: Extract key
      ansible.builtin.set_fact:
        cnpg_s3_ca_pem: "{{ cnpg_s3_ca_resource.resources[0].data[dsc.global.backup.s3.endpointCA.key] }}"

- name: Set envs fact
  ansible.builtin.set_fact:
    envs:
      - name: "{{ dsc_name }}"
        apps:
          - argocd_app: global
            clusterName: ""
            nameSpace: "global"
            customNamespacePrefix: ""
            syncWave: 10
            vault_values:
              vault_infra_token: "{{ vault_infra_token }}"
              image:
                repository:
                  docker: "{{ dsc.global.registry | default('docker.io') }}"
                  ghcr: "{{ dsc.global.registry | default('ghcr.io') }}"
                  gitlab: "{{ dsc.global.registry | default('registry.gitlab.com') }}"
                  gitlabOperator: "{{ dsc.global.registry | default('gitlab-org') }}"
                  minio: "{{ dsc.global.registry | default('minio') }}"
                  quay: "{{ dsc.global.registry | default('quay.io') }}"
              rootDomain: "{{ root_domain[1:] }}"
              domain:
                argocd: "{{ argocd_domain }}"
                awx: "{{ awx_domain }}"
                console: "{{ console_domain }}"
                gitlab: "{{ gitlab_domain }}"
                grafana: "{{ grafana_domain }}"
                harbor: "{{ harbor_domain }}"
                harborNotary: "{{ dsc.harbor.subDomain }}-notary{{ root_domain }}"
                keycloak: "{{ keycloak_domain }}"
                nexus: "{{ nexus_domain }}"
                nexusDockerProxy: "{{ dsc.nexus.subDomain }}-docker-proxy{{ root_domain }}"
                sonarqube: "{{ sonar_domain }}"
                vault: "{{ vault_domain }}"
              proxy:
                httpProxy: "{{ dsc.proxy.http_proxy | default('') }}"
                httpsProxy: "{{ dsc.proxy.https_proxy | default('') }}"
                noProxy: "{{ dsc.proxy.no_proxy | default('') }}"
                hostProxy: "{{ dsc.proxy.host | default('') }}"
                portProxy: "{{ dsc.proxy.port | default('') }}"
              exposedCa: "{{ exposed_ca_pem | default('') }}"
              cnpgS3CaPem: "{{ cnpg_s3_ca_pem | default('') }}"
              ingressClassName: "{{ dsc.ingress.className | default('') }}"
              dockerAccount:
                username: ""
                password: ""
              backup:
                s3BucketName: "{{ dsc.global.backup.s3.bucketName | default('') }}"
                s3BucketPrefix: "{{ dsc.global.backup.vault.pathPrefix | default('') }}"
                s3Endpoint: "{{ dsc.global.backup.s3.endpointURL | default('') }}"
                s3AccessKey: ""
                s3SecretKey: ""
                gitlab:
                  mcExtraArgs: "{{ dsc.global.backup.gitlab.mcExtraArgs | default('') }}"
                  pathPrefix: "{{ dsc.global.backup.gitlab.pathPrefix | default('') }}"
                  retentionPolicy: "{{ dsc.global.backup.gitlab.retentionPolicy | default('') }}"
              playwright:
                mattermost:
                  url: "{{ dsc.global.playwright.mattermost.url | default('') }}"
                  channelId: "{{ dsc.global.playwright.mattermost.channelId | default('') }}"
                  botToken: "{{ dsc.global.playwright.mattermost.botToken | default('') }}"
              smtp:
                authentication:
                  user: ""
                  password: ""
          - argocd_app: awx
            clusterName: "in-cluster"
            nameSpace: "awx"
            customNamespacePrefix: ""
            syncWave: 20
            vault_values:
              auth:
                adminPassword: "{{ lookup('ansible.builtin.password', '/dev/null', length=24, chars=['ascii_letters', 'digits']) }}"
          - argocd_app: certmanager
            clusterName: ""
            nameSpace: "certmanager"
            customNamespacePrefix: ""
            syncWave: 10
          - argocd_app: kyverno
            clusterName: ""
            nameSpace: "kyverno"
            customNamespacePrefix: ""
            syncWave: 10
          - argocd_app: cloudnativepg
            clusterName: ""
            nameSpace: "cloudnativepg"
            customNamespacePrefix: ""
            syncWave: 10
          - argocd_app: keycloak
            clusterName: ""
            nameSpace: "keycloak"
            customNamespacePrefix: ""
            syncWave: 20
            vault_values:
              auth:
                adminPassword: "{{ lookup('ansible.builtin.password', '/dev/null', length=24, chars=['ascii_letters', 'digits']) }}"
                userTmpPassword: "{{ lookup('ansible.builtin.password', '/dev/null', length=24, chars=['ascii_letters', 'digits', '!@#$%^&*()-_=+']) }}"
              initcontainers:
                pluginDownloadUrl: "{{ dsc.keycloak.pluginDownloadUrl }}"
          - argocd_app: gitlab
            clusterName: ""
            nameSpace: "gitlab"
            customNamespacePrefix: ""
            syncWave: 30
            vault_values:
              gitlab:
                toolbox:
                  backups:
                    cron:
                      enabled: "{{ dsc.global.backup.gitlab.enabled | default('false') }}"
                      schedule: "{{ dsc.global.backup.gitlab.cron | default('0 */6 * * *') }}"
                      extraArgs: "{{ dsc.global.backup.gitlab.extraArgs | default('') }}"
              gitlabToken: ""
              runnerToken: ""
          - argocd_app: glexporter
            clusterName: ""
            nameSpace: "gitlab"
            customNamespacePrefix: ""
            syncWave: 40
          - argocd_app: gitlabrunner
            clusterName: ""
            nameSpace: "gitlab"
            customNamespacePrefix: ""
            syncWave: 40
          - argocd_app: vault
            clusterName: ""
            nameSpace: "vault"
            customNamespacePrefix: ""
            syncWave: 40
            vault_values:
              vaultToken: >-
                {{
                  (vault_keys.resources[0].data.root_token)
                  if vault_keys.resources[0].data.root_token is defined and
                  vault_keys.resources[0].data.root_token | length > 0
                  else ''
                }}
          - argocd_app: harbor
            clusterName: ""
            nameSpace: "harbor"
            customNamespacePrefix: ""
            syncWave: 50
            vault_values:
              global:
                harborAdminPassword: |
                  "{{ lookup('ansible.builtin.password', '/dev/null', length=24, chars=['ascii_letters', 'digits']) }}"
                s3ImageChartStorage:
                  bucket: "{{ dsc.harbor.s3ImageChartStorage.bucket | default('') }}"
                  region: "{{ dsc.harbor.s3ImageChartStorage.region | default('') }}"
                  regionendpoint: "{{ dsc.harbor.s3ImageChartStorage.regionendpoint | default('') }}"
                  accesskey: ""
                  secretkey: ""
                proxyCache:
                  - name: dockerhub
                    registry:
                      credential:
                        accessKey: ""
                        accessSecret: ""
                        type: basic
                      endpointUrl: https://hub.docker.com
                      insecure: false
                      provider: docker-hub
          - argocd_app: argocd
            clusterName: ""
            nameSpace: "argocd"
            customNamespacePrefix: ""
            syncWave: 50
            vault_values:
              argocdServerAdminPassword: |
                "{{ lookup('ansible.builtin.password', '/dev/null', length=24, chars=['ascii_letters', 'digits']) }}"
          - argocd_app: sonarqube
            clusterName: ""
            nameSpace: "sonarqube"
            customNamespacePrefix: ""
            syncWave: 50
            vault_values:
              auth:
                adminPassword: "{{ lookup('ansible.builtin.password', '/dev/null', length=24, chars=['ascii_letters', 'digits']) }}"
                monitoringPassword: "{{ lookup('ansible.builtin.password', '/dev/null', length=24, chars=['ascii_letters', 'digits']) }}"
                sonarApiToken: >-
                  {{
                    (retrieved_token_pass)if retrieved_token_pass is defined and
                    retrieved_token_pass | length > 0
                    else ''
                  }}
          - argocd_app: console
            clusterName: ""
            nameSpace: "console"
            customNamespacePrefix: ""
            syncWave: 60
            vault_values:
              uri: >-
                {{
                  (pg_console_db_secret.resources[0].data.uri | b64decode)
                  if pg_console_db_secret is defined and
                  pg_console_db_secret.resources | length > 0
                  else ''
                }}
          - argocd_app: observability
            clusterName: "in-cluster"
            nameSpace: "argo"
            customNamespacePrefix: "infra-"
            syncWave: 60
            vault_values:
              endpoint:
                logs: "{{ dsc.global.logs.endpoint | default('') }}"
                metrics: "{{ dsc.global.metrics.endpoint | default('') }}"
              reverseProxyEndpoint:
                logs: "{{ dsc.observatorium.reverseProxy.logsHost | default('') }}"
                metrics: "{{ dsc.observatorium.reverseProxy.metricsHost | default('') }}"
              grafana:
                adminPassword: "{{ lookup('ansible.builtin.password', '/dev/null', length=24, chars=['ascii_letters', 'digits']) }}"
          - argocd_app: nexus
            clusterName: ""
            nameSpace: "nexus"
            customNamespacePrefix: ""
            syncWave: 60
            vault_values:
              auth:
                adminPassword: "{{ lookup('ansible.builtin.password', '/dev/null', length=24, chars=['ascii_letters', 'digits']) }}"
          - argocd_app: dashboard
            clusterName: ""
            nameSpace: "grafana"
            customNamespacePrefix: ""
            syncWave: 70
