---
- name: Set socle_version fact
  ansible.builtin.set_fact:
    socle_version: "{{ (lookup('ansible.builtin.file', '../../package.json') | from_json).version }}"

- name: Create or update DsoSocleConfig CRD
  kubernetes.core.k8s:
    definition: "{{ lookup('ansible.builtin.template', './templates/crd-conf-dso.yaml') | from_yaml }}"
  when: post_conf_job is not defined

- name: Get socle config from conf-dso dsc (default)
  when: dsc_cr is not defined
  kubernetes.core.k8s_info:
    kind: dsc
    name: conf-dso
    api_version: cloud-pi-native.fr/v1alpha
  register: socle_config

- name: Get socle config from dsc_cr extra var when defined
  when: dsc_cr is defined
  kubernetes.core.k8s_info:
    kind: dsc
    name: "{{ dsc_cr }}"
    api_version: cloud-pi-native.fr/v1alpha
  register: socle_config_custom

- name: Check socle_config_custom and exit if empty
  when: (dsc_cr is defined) and (socle_config_custom.resources | length == 0)
  block:
    - name: Warning message
      ansible.builtin.debug:
        msg:
          - Attention ! Vous avez lancé le playbook d'installation avec l'option '-e dsc_cr={{ dsc_cr }}'
          - mais la ressource dsc nommée '{{ dsc_cr }}' est vide ou inexistante côté cluster !
          - ""
          - Si votre intention est bien d'utiliser votre propre configuration plutôt que 'conf-dso', ressource dsc par défaut,
          - alors veuiller déclarer votre resource dsc '{{ dsc_cr }}' dans un fichier YAML
          - "nommé par exemple 'ma-conf-dso.yaml' et la créer via la commande suivante :"
          - ""
          - " kubectl apply -f ma-conf-dso.yaml "
          - ""
          - Puis relancer l'installation.

    - name: Exit playbook
      ansible.builtin.meta: end_play

- name: Set socle_config fact when dsc_cr defined and not empty
  ansible.builtin.set_fact:
    socle_config: "{{ socle_config_custom }}"
  when: (socle_config_custom is not skipped) and (socle_config_custom.resources | length > 0)

- name: Initialize config and exit
  when: socle_config.resources | length == 0
  block:
    - name: Create socle config example
      kubernetes.core.k8s:
        definition: "{{ lookup('ansible.builtin.file', 'cr-conf-dso-default.yaml') | from_yaml }}"

    - name: Disclaimer
      ansible.builtin.debug:
        msg:
          - Il semblerait que vous n'ayez jamais installé le socle sur ce cluster ou que la configuration par défaut ait été supprimée.
          - Veuillez modifier la resource de type dsc par défaut nommée 'conf-dso' et de scope cluster
          - "via la commande suivante :"
          - ""
          - " kubectl edit dsc conf-dso "
          - ""
          - Puis relancer l'installation.
          - ""
          - Attention ! Si vous relancez l'installation sans modifier la configuration par défaut, celle-ci s'appliquera telle qu'elle.
          - Ce n'est probablement pas ce que vous souhaitez faire.
          - ""
          - Alternativement, vous pouvez aussi déclarer la resource dsc de nom conf-dso (ou tout autre nom à votre convenance)
          - "dans un fichier YAML nommé par exemple 'ma-conf-dso.yaml', pour ensuite la créer via la commande suivante :"
          - ""
          - " kubectl apply -f ma-conf-dso.yaml "
          - ""
          - Puis relancer l'installation.
          - ""
          - "Si vous utilisez la resource dsc par défaut nommée conf-dso, vous relancerez le playbook d'installation comme ceci :"
          - ""
          - " ansible-playbook install.yaml "
          - ""
          - Si au contraire vous souhaitez utiliser un nom de resource différent, associé à une configuration différente,
          - "alors vous devrez utiliser la commande suivante pour relancer l'installation (exemple avec une dsc nommée conf-perso) :"
          - ""
          - " ansible-playbook install.yaml -e dsc_cr=conf-perso "

    - name: Exit playbook
      ansible.builtin.meta: end_play

- name: Set DSC Name fact
  ansible.builtin.set_fact:
    dsc_name: "{{ socle_config.resources[0].metadata.name }}"

- name: Set DSC fact
  ansible.builtin.set_fact:
    dsc: "{{ socle_config.resources[0] }}"

- name: Store CRD to local repository
  when: |
    post_conf_job is not defined and
    dsc_name == "conf-dso"
  block:
    - name: Create destination dir
      ansible.builtin.file:
        path: "{{ gitops_local_repo }}/{{ dsc.spec.global.gitOps.repo.path }}/envs/{{ dsc_name }}/apps/global/crds"
        state: directory
        mode: "0775"

    - name: Render CRD file into GitOps local repo
      ansible.builtin.copy:
        content: "{{ lookup('ansible.builtin.template', './templates/crd-conf-dso.yaml') }}"
        dest: "{{ gitops_local_repo }}/{{ dsc.spec.global.gitOps.repo.path }}/envs/{{ dsc_name }}/apps/global/crds/dsc-crd.yaml"
        mode: "0644"

- name: Set dsc_yaml fact
  ansible.builtin.set_fact:
    dsc_yaml: "{{ dsc
      | ansible.utils.remove_keys(target=['metadata', 'creationTimestamp', 'generation', 'managedFields', 'resourceVersion', 'uid'])
      | to_nice_yaml(indent=2) }}"

- name: Add socle_version annotation and dsc_name to dsc_yaml
  block:
    - name: Parsing YAML to dict
      ansible.builtin.set_fact:
        dsc_yaml_dict: "{{ dsc_yaml | from_yaml }}"

    - name: Adding annotation and dsc name
      ansible.builtin.set_fact:
        dsc_yaml_dict: >-
          {{ dsc_yaml_dict
            | combine(
                {
                  'metadata': {
                    'annotations': {
                      'socleVersion': socle_version
                      },
                    'name': dsc_name
                    }
                },
                recursive=True
              )
          }}

    - name: Set back to nice YAML
      ansible.builtin.set_fact:
        dsc_yaml: "{{ dsc_yaml_dict | to_nice_yaml(indent=2) }}"

- name: Store dsc to local repository
  when: post_conf_job is not defined
  block:
    - name: Create destination dir
      ansible.builtin.file:
        path: "{{ gitops_local_repo }}/{{ dsc.spec.global.gitOps.repo.path }}/envs/{{ dsc_name }}/apps/global/templates"
        state: directory
        mode: "0775"

    - name: Render dsc file into GitOps local repo
      ansible.builtin.copy:
        content: "{{ dsc_yaml }}"
        dest: "{{ gitops_local_repo }}/{{ dsc.spec.global.gitOps.repo.path }}/envs/{{ dsc_name }}/apps/global/templates/dsc.yaml"
        mode: "0644"

- name: Set instance name fact
  ansible.builtin.set_fact:
    instance_name: "{{ dsc.metadata.name }}"

- name: Set default config and releases facts
  ansible.builtin.set_fact:
    dsc_default_config: "{{ lookup('ansible.builtin.file', 'config.yaml') | from_yaml }}"
    dsc_default_releases: "{{ lookup('ansible.builtin.file', 'releases.yaml') | from_yaml }}"

- name: Set full_dsc fact
  ansible.builtin.set_fact:
    full_dsc: "{{ dsc_default_releases | combine(dsc_default_config, recursive=True) | combine(dsc, recursive=True) }}"

- name: Set dsc fact
  ansible.builtin.set_fact:
    dsc: "{{ full_dsc.spec }}"

- name: Set private registry fact
  ansible.builtin.set_fact:
    use_private_registry: "{{ dsc.global.registry is defined and dsc.global.registry | length > 0 | bool }}"

- name: Use imagePullSecrets
  ansible.builtin.set_fact:
    use_image_pull_secrets: "{{ dsc.global.imagePullSecretsData is defined and dsc.global.imagePullSecretsData | length > 0 | bool }}"

- name: Set root_domain fact from dsc global config
  ansible.builtin.set_fact:
    root_domain: "{{ dsc.global.rootDomain }}"

- name: Set infra_root_domain fact from dsc global config
  ansible.builtin.set_fact:
    infra_root_domain: "{{ dsc.global.infraRootDomain }}"

- name: Set tools domains facts from dsc config
  ansible.builtin.set_fact:
    argocd_domain: "{{ dsc.argocd.domain | default(dsc.argocd.subDomain ~ root_domain) }}"
    awx_domain: "{{ dsc.awx.domain | default(dsc.awx.subDomain ~ root_domain) }}"
    argocdinfra_domain: "{{ dsc.argocdInfra.domain | default(dsc.argocdInfra.subDomain ~ infra_root_domain) }}"
    console_domain: "{{ dsc.console.domain | default(dsc.console.subDomain ~ root_domain) }}"
    gitlab_domain: "{{ dsc.gitlab.domain | default(dsc.gitlab.subDomain ~ root_domain) }}"
    grafana_domain: "{{ dsc.grafana.domain | default(dsc.grafana.subDomain ~ root_domain) }}"
    harbor_domain: "{{ dsc.harbor.domain | default(dsc.harbor.subDomain ~ root_domain) }}"
    keycloak_domain: "{{ dsc.keycloak.domain | default(dsc.keycloak.subDomain ~ root_domain) }}"
    keycloakinfra_domain: "{{ dsc.keycloakInfra.domain | default(dsc.keycloakInfra.subDomain ~ infra_root_domain) }}"
    nexus_domain: "{{ dsc.nexus.domain | default(dsc.nexus.subDomain ~ root_domain) }}"
    sonar_domain: "{{ dsc.sonarqube.domain | default(dsc.sonarqube.subDomain ~ root_domain) }}"
    vault_domain: "{{ dsc.vault.domain | default(dsc.vault.subDomain ~ root_domain) }}"

- name: Set Vault infra domain fact from environment variable
  when: lookup('ansible.builtin.env', 'VAULT_INFRA_DOMAIN') | length > 0
  ansible.builtin.set_fact:
    vaultinfra_domain: "{{ lookup('ansible.builtin.env', 'VAULT_INFRA_DOMAIN') }}"

- name: Set Vault infra domain fact from dsc config when environment variable not set
  when: lookup('ansible.builtin.env', 'VAULT_INFRA_DOMAIN') | length == 0
  ansible.builtin.set_fact:
    vaultinfra_domain: "{{ dsc.vaultInfra.domain | default(dsc.vaultInfra.subDomain ~ infra_root_domain) }}"

- name: Set Vault infra token fact
  ansible.builtin.include_role:
    name: shared_tasks
  vars:
    shared_tasks_run: vault-infra-token.yaml

- name: Probe Vault infra domain cert validity
  ansible.builtin.uri:
    url: "https://{{ vaultinfra_domain }}"
    method: GET
    return_content: false
    validate_certs: true
  register: vaultinfra_probe
  ignore_errors: true

- name: Set Vault infra certificate validity fact based on domain probe result
  ansible.builtin.set_fact:
    vaultinfra_cert_valid: "{{ vaultinfra_probe.failed is not defined or not vaultinfra_probe.failed }}"

- name: Debug domains facts
  ansible.builtin.debug:
    msg:
      - "argocd_domain: {{ argocd_domain }}"
      - "argocdinfra_domain: {{ argocdinfra_domain }}"
      - "awx_domain: {{ awx_domain }}"
      - "console_domain: {{ console_domain }}"
      - "gitlab_domain: {{ gitlab_domain }}"
      - "grafana_domain: {{ grafana_domain }}"
      - "harbor_domain: {{ harbor_domain }}"
      - "keycloak_domain: {{ keycloak_domain }}"
      - "keycloakinfra_domain: {{ keycloakinfra_domain }}"
      - "nexus_domain: {{ nexus_domain }}"
      - "sonar_domain: {{ sonar_domain }}"
      - "vault_domain: {{ vault_domain }}"
      - "vaultinfra_domain: {{ vaultinfra_domain }}"

- name: Set vaultinfra_kv_name fact
  ansible.builtin.set_fact:
    vaultinfra_kv_name: "dso-{{ dsc.global.gitOps.envName }}"

- name: Set keycloak_reset_password fact
  ansible.builtin.set_fact:
    keycloak_reset_password: false

- name: Import ca role
  ansible.builtin.import_role:
    name: ca

- name: Set envs fact
  when: post_conf_job is not defined
  ansible.builtin.include_tasks:
    file: envs.yaml
