- name: Create or update DsoSocleConfig CRD
  kubernetes.core.k8s:
    definition: "{{ lookup('ansible.builtin.file', 'crd-conf-dso.yaml') | from_yaml }}"

- name: Get socle config from dsc
  kubernetes.core.k8s_info:
    kind: dsc
    name: conf-dso
    api_version: cloud-pi-native.fr/v1alpha
  register: socle_config

- name: Initialize config and exit
  when: socle_config.resources | length == 0
  block:
    - name: Create socle config example
      kubernetes.core.k8s:
        definition: "{{ lookup('ansible.builtin.file', 'cr-conf-dso-default.yaml') | from_yaml }}"

    - name: Disclaimer
      debug:
        msg:
          - "Il semblerait que vous n'ayez jamais installé le socle sur ce cluster."
          - "Veuillez modifier la resource de type dsc nommée conf-dso et de scope cluster"
          - "via la commande suivante :"
          - ""
          - "kubectl edit dsc conf-dso"
          - ""
          - "Puis relancer l'installation."
          - ""
          - "Alternativement, vous pouvez aussi déclarer la resource conf-dso dans un fichier YAML"
          - "nommé par exemple 'ma-conf-dso.yaml' et la créer via la commande suivante :"
          - ""
          - "kubectl apply -f ma-conf-dso.yaml"
          - ""
          - "Puis relancer l'installation."

    - name: Exit playbook
      meta: end_play

- name: Set DSC fact
  ansible.builtin.set_fact:
    DSC: "{{ socle_config.resources[0].spec }}"

- name: Set ROOT_DOMAIN fact
  ansible.builtin.set_fact:
    ROOT_DOMAIN: "{{ DSC.global.rootDomain }}"

- name: Set tools domains facts
  ansible.builtin.set_fact:
    ARGOCD_DOMAIN: "{{ DSC.argocd.subDomain }}{{ ROOT_DOMAIN }}"
    CONSOLE_DOMAIN: "{{ DSC.console.subDomain }}{{ ROOT_DOMAIN }}"
    GITLAB_DOMAIN: "{{ DSC.gitlab.subDomain }}{{ ROOT_DOMAIN }}"
    HARBOR_DOMAIN: "{{ DSC.harbor.subDomain }}{{ ROOT_DOMAIN }}"
    KEYCLOAK_DOMAIN: "{{ DSC.keycloak.subDomain }}{{ ROOT_DOMAIN }}"
    NEXUS_DOMAIN: "{{ DSC.nexus.subDomain }}{{ ROOT_DOMAIN }}"
    SONAR_DOMAIN: "{{ DSC.sonarqube.subDomain }}{{ ROOT_DOMAIN }}"
    VAULT_DOMAIN: "{{ DSC.vault.subDomain }}{{ ROOT_DOMAIN }}"

- debug:
    var: to_debug
  vars:
    to_debug:
      - "{{ ARGOCD_DOMAIN }}"
      - "{{ GITLAB_DOMAIN }}"
      - "{{ HARBOR_DOMAIN }}"
      - "{{ KEYCLOAK_DOMAIN }}"
      - "{{ NEXUS_DOMAIN }}"
      - "{{ SONAR_DOMAIN }}"
      - "{{ VAULT_DOMAIN }}"

#- meta: end_play