apiVersion: v1
kind: Secret
metadata:
  name: playwright-secret
type: Opaque
stringData:
  KEYCLOAK_DOMAIN: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#domain| jsonPath {.keycloak}>
  KEYCLOAK_REDIRECT_URI: https://<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#domain| jsonPath {.console}>
  KEYCLOAK_PROTOCOL: https
  KEYCLOAK_ADMIN_USERNAME: dsoadmin
  KEYCLOAK_ADMIN_PASSWORD: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/keycloak/values#auth| jsonPath {.adminPassword}>
  KEYCLOAK_REALM: {{ dsc.keycloak.applicationRealm }}
  KEYCLOAK_CLIENT_FRONTEND: console-frontend
  KEYCLOAK_CLIENT_BACKEND: console-backend
