apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-users
  namespace: {{ dsc.keycloak.namespace }}
data:
  users.csv: |
    username,surname,name,email,status
    admin@example.com,Admin,Admin,admin@example.com,active
    testuser@example.com,Test,User,testuser@example.com,active
    secondtestuser@example.com,SecondTest,User,secondtestuser@example.com,active
