{% if dsc.global.metrics.enabled and dsc.global.alerting.enabled %}
controller:
  metrics:
    rules:
      enabled: true
      namespace: "{{ dsc.argocdInfra.namespace }}"
      spec:
        - alert: Argo CD App Missing
          expr: |
            absent(argocd_app_info) == 1
          for: 15m
          labels:
            severity: critical
          annotations:
            summary: "[Argo CD] No reported applications"
            description: |
              Argo CD has not reported any applications data for the past 15 minutes which
              means that it must be down or not functioning properly.  This needs to be
              resolved for this cloud to continue to maintain state.
        - alert: Argo CD App Not Synced
          expr: |
            argocd_app_info{sync_status!="Synced"} == 1
          for: 12h
          labels:
            severity: warning
          annotations:
            summary: Application not synchronized
            description: |
              Argo CD instance in namespace {{"{{"}} $labels.namespace {{"}}"}} : The application {{"{{"}} $labels.name {{"}}"}}
              in namespace {{"{{"}} $labels.dest_namespace {{"}}"}} has not been synchronized for over 12 hours,
              which means that the state of this cloud has drifted away from the state inside Git.
{% endif %}
