{% if use_private_registry %}
image:
  repository: "{{ dsc.global.registry }}"

redis:
  image:
    repository: "{{ dsc.global.registry }}"
{% endif %}

{% if dsc.global.imagePullSecrets is defined %}
global:
  imagePullSecrets: {{ dsc.global.imagePullSecrets | to_json }}
{% endif %}
