apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nexus-alternative
  namespace: {{ NEXUS_NAMESPACE }}
  annotations:
{% for key, val in ingress.annotations.items() %}
    {{ key }}: {{ val }}
{% endfor %}
  labels:
    app: nexus
{% for key, val in ingress.labels.items() %}
    {{ key }}: {{ val }}
{% endfor %}
spec:
{% if not ingress.tls.type == 'none' %}
  tls:
  - hosts:
    - {{ NEXUS_DOMAIN }}
    secretName: nexus-issuer-account-key
{% endif %}
  rules:
    - host: {{ NEXUS_DOMAIN }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nexus
                port:
                  name: http