apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: nexus-system-letsencrypt-issuer
  namespace: nexus-system
spec:
  acme:
    email: {{ CERTMANAGER_EMAIL }}
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: nexus-system-issuer-account-key
    solvers:
    - http01:
        ingress:
          name: ingress-nexus-system-http-solver