---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ dsc.nexus.namespace }}
  name: nexus # Sets Deployment name
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: nexus
  template:
    metadata:
      labels:
        app: nexus
    spec:
{% if dsc.global.platform == "kubernetes" %}
      securityContext:
        runAsNonRoot: true
        runAsGroup: 200
        runAsUser: 200
        fsGroup: 200
{% endif %}
{% if use_image_pull_secrets %}
      imagePullSecrets:
      - name: dso-config-pull-secret
{% endif %}
      containers:
        - name: nexus
{% if use_private_registry %}
          image: "{{ dsc.global.registry }}/sonatype/nexus3:{{ dsc.nexus.imageTag }}"
{% else %}
          image: sonatype/nexus3:{{ dsc.nexus.imageTag }}
{% endif %}
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 8081 # Exposes container port
            - containerPort: 5000 # Exposes container port
          volumeMounts:
            - mountPath: /nexus-data
              name: nexus-data-volume
            - mountPath: /nexus-data-docker
              name: nexus-proxycache-volume
          env:
            - name: INSTALL4J_ADD_VM_PARAMS
              value: "-Djava.util.prefs.userRoot=/nexus-data/app"
{% if dsc.proxy.enabled %}
            - name: http_proxy
              value: "{{ dsc.proxy.http_proxy }}"
            - name: https_proxy
              value: "{{ dsc.proxy.https_proxy }}"
            - name: no_proxy
              value: "{{ dsc.proxy.no_proxy }}"
{% endif %}
      volumes:
        - name: nexus-data-volume
          persistentVolumeClaim:
            claimName: nexus-data-claim
        - name: nexus-proxycache-volume
          persistentVolumeClaim:
            claimName: nexus-data-proxy-cache
---
apiVersion: v1
kind: Service
metadata:
  namespace: {{ dsc.nexus.namespace }}
  name: nexus # Sets service name
  labels:
    app: nexus # Labels and Selectors
spec:
  type: ClusterIP # Sets service type
  ports:
    - name: http
      port: 8081
      protocol: TCP
  selector:
    app: nexus
---
apiVersion: v1
kind: Service
metadata:
  namespace: {{ dsc.nexus.namespace }}
  name: nexus-docker-proxy
  labels:
    app: nexus
spec:
  type: ClusterIP
  ports:
    - name: dockerproxy
      port: 5000
      protocol: TCP
  selector:
    app: nexus
