---
apiVersion: v1
kind: PersistentVolumeClaim # Create PVC
metadata:
  namespace: {{ NEXUS_NAMESPACE }}
  name: nexus-data-claim # Sets name of PV
spec:
  accessModes:
    - ReadWriteOnce # Sets read and write access
  resources:
    requests:
      storage: 250Gi # Sets volume size
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ NEXUS_NAMESPACE }}
  name: nexus  # Sets Deployment name
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: nexus
  template:
    metadata:
      labels:
        app: nexus
    spec:
      containers:
        - name: nexus
          image: sonatype/nexus3
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 8081  # Exposes container port
            - containerPort: 5000  # Exposes container port
          volumeMounts:
            - mountPath: /nexus-data
              name: nexus-data-volume
          env:
            - name: INSTALL4J_ADD_VM_PARAMS
              value: "-Djava.util.prefs.userRoot=/nexus-data/app"
      volumes:
        - name: nexus-data-volume
          persistentVolumeClaim:
            claimName: nexus-data-claim
---
apiVersion: v1
kind: Service
metadata:
  namespace: {{ NEXUS_NAMESPACE }}
  name: nexus # Sets service name
  labels:
    app: nexus # Labels and Selectors
spec:
  type: ClusterIP # Sets service type
  ports:
    - name: http
      port: 8081
      protocol: TCP
  selector:
    app: nexus
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nexus-ingress
  namespace: {{ NEXUS_NAMESPACE }}
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-issuer
spec:
  tls:
  - hosts:
      - {{ NEXUS_DOMAIN }}
    secretName: nexus-system-issuer-account-key
  rules:
    - host: {{ NEXUS_DOMAIN }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nexus
                port:
                  number: 8081
