---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ dsc.nexus.namespace }}
  name: nexus  # Sets Deployment name
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: nexus
  template:
    metadata:
      labels:
        app: nexus
    spec:
      containers:
        - name: nexus
          image: sonatype/nexus3:{{ dsc.nexus.imageTag }}
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 8081  # Exposes container port
            - containerPort: 5000  # Exposes container port
          volumeMounts:
            - mountPath: /nexus-data
              name: nexus-data-volume
          env:
            - name: INSTALL4J_ADD_VM_PARAMS
              value: "-Djava.util.prefs.userRoot=/nexus-data/app"
      volumes:
        - name: nexus-data-volume
          persistentVolumeClaim:
            claimName: nexus-data-claim
---
apiVersion: v1
kind: Service
metadata:
  namespace: {{ dsc.nexus.namespace }}
  name: nexus # Sets service name
  labels:
    app: nexus # Labels and Selectors
spec:
  type: ClusterIP # Sets service type
  ports:
    - name: http
      port: 8081
      protocol: TCP
  selector:
    app: nexus
