---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: {{ NEXUS_NAMESPACE }}
  name: nexus-data-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ NEXUS_STORAGE_SIZE }}