{% set dsoZoneRepo = 'https://' + gitlab_domain + '/' + dsc.global.projectsRootDir | join('/') + '/infra/' + dsc.argocd.zoneName + '.git' %}
zoneName: {{ dsc.argocd.zoneName }}
dsoZoneRepo: {{ dsoZoneRepo }}

argocd:
  fullnameOverride: "{{ dsc_name }}-argocd"
  crds:
    install: {{ not argo_infra_ownership }} 
    keep: true
{% if dsc.global.platform == "openshift" %}
  openshift:
    enabled: true
{% endif %}
  configs:
{% if dsc.argocd.admin.enabled %}
    secret:
      argocdServerAdminPassword: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/argocd/values#argocdServerAdminPassword>
{% endif %}
    params:
      server.insecure: true
    cm:
{% if instance_name != "conf-dso" %}
      application.instanceLabelKey: argocd.argoproj.io/instance.{{ instance_name }}
{% endif %}
      clusterResources: "true"
      url: "https://<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#domain | jsonPath {.argocd}>"
      users.anonymous.enabled: "false"
      admin.enabled: "{{ dsc.argocd.admin.enabled | lower }}"
      kustomize.buildOptions: "--enable-helm"
{% if dsc.global.environment == 'development' %}
      accounts.cpin-sa: apiKey
{% endif %}
  redis-ha:
    enabled: true
    fullnameOverride: "{{ dsc_name }}-redis-ha"
  controller:
    replicas: 3
  dex:
    enabled: false
  server:
    replicas: 3
  repoServer:
    replicas: 3
  applicationSet:
    replicas: 2
  notifications:
    enabled: false
