{% if dsc.global.offline %}
argocd:
  configs:
    tls:
      certificates:
        {{ dsc.argocd.privateGitlabDomain }}: <path:{{ vaultinfra_kv_name }}/data/env/conf-dso/apps/global/values#exposedCa>
{% endif %}
