{% if dsc.global.offline %} 
prometheusExporter:
  version: {{ dsc.sonarqube.PrometheusJavaagentVersion }}
  noCheckCertificate: true
  downloadURL: {{ dsc.sonarqube.pluginDownloadUrl }}/jmx_prometheus_javaagent-{{ dsc.sonarqube.PrometheusJavaagentVersion }}.jar 

plugins:
  install:
  - {{ dsc.sonarqube.pluginDownloadUrl }}/sonar-auth-oidc-plugin-2.1.1.jar
  - {{ dsc.sonarqube.pluginDownloadUrl }}/sonarqube-community-branch-plugin-1.19.0.jar
  noCheckCertificate: true

{% if use_private_registry %}
curlContainerImage: "{{ dsc.global.registry }}/curlimages/curl:8.2.1"
{% endif %}

{% else %}
plugins:
  install:
  - https://github.com/vaulttec/sonar-auth-oidc/releases/download/v2.1.1/sonar-auth-oidc-plugin-2.1.1.jar
  - https://github.com/mc1arke/sonarqube-community-branch-plugin/releases/download/1.19.0/sonarqube-community-branch-plugin-1.19.0.jar
{% endif %}
