---
spec:
  destination:
    namespace: {{ dsc.argocd.namespace }}
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: argo-cd
    helm:
      valuesObject:
{{ argo_values | to_yaml | indent(8, true) }}
    repoURL: https://argoproj.github.io/argo-helm
    targetRevision: {{ dsc.argocd.chartVersion }}
  syncPolicy:
    automated:
      prune: true
    syncOptions:
    - CreateNamespace=true
    - ApplyOutOfSyncOnly=true
