expose:
  type: ingress
  tls:
    enabled: true
{% if DSC.ingress.tls.type == 'tlsSecret' %}
    certSource: secret
    secret:
      secretName: {{ DSC.ingress.tls.tlsSecret.name }}
      notarySecretName: {{ DSC.ingress.tls.tlsSecret.name }}
{% else %}
    certSource: null
    secret: {}
{% endif %}
  ingress:
    hosts:
      core: {{ HARBOR_DOMAIN }}
      notary: notary{{ ROOT_DOMAIN }}
    notary:
      annotations:
{% for key, val in DSC.ingress.annotations.items() %}
        {{ key }}: {{ val }}
{% endfor %}
      labels:
{% for key, val in DSC.ingress.labels.items() %}
        {{ key }}: {{ val }}
{% endfor %}
    harbor:
      annotations:
{% for key, val in DSC.ingress.annotations.items() %}
        {{ key }}: {{ val }}
{% endfor %}
      labels:
{% for key, val in DSC.ingress.labels.items() %}
        {{ key }}: {{ val }}
{% endfor %}
externalURL: https://{{ HARBOR_DOMAIN }}
persistence:
  enabled: true
  resourcePolicy: keep
harborAdminPassword: "{{ DSC.harbor.adminPassword }}"
nginx:
  serviceAccountName: harbor-sa
  image:
    repository: docker.io/goharbor/nginx-photon
portal:
  serviceAccountName: harbor-sa
  image:
    repository: docker.io/goharbor/harbor-portal
core:
  serviceAccountName: harbor-sa
  image:
    repository: docker.io/goharbor/harbor-core
jobservice:
  serviceAccountName: harbor-sa
  image:
    repository: docker.io/goharbor/harbor-jobservice
registry:
  serviceAccountName: harbor-sa
  registry:
    image:
      repository: docker.io/goharbor/registry-photon
  controller:
    image:
      repository: docker.io/goharbor/harbor-registryctl
chartmuseum:
  serviceAccountName: harbor-sa
trivy:
  serviceAccountName: harbor-sa
  image:
    repository: docker.io/goharbor/trivy-adapter-photon
notary:
  server:
    serviceAccountName: harbor-sa
  signer:
    serviceAccountName: harbor-sa
database:
  internal:
    serviceAccountName: harbor-sa
    image:
      repository: docker.io/goharbor/harbor-db
redis:
  internal:
    serviceAccountName: harbor-sa
    image:
      repository: docker.io/goharbor/redis-photon
exporter:
  image:
    repository: docker.io/goharbor/harbor-exporte