- name: Set empty ca fact
  ansible.builtin.set_fact:
    additionals_ca_pem_array: []

- name: Get a ca resource
  ansible.builtin.include_tasks:
    file: get-ca.yaml
  with_items: "{{ dsc.additionalsCA }}"
  vars:
    kind: "{{ item.kind }}"
    name: "{{ item.name }}"
    key: "{{ item.key | default('') }}"

- name: Set empty ca fact
  ansible.builtin.set_fact:
    additionals_ca_pem: "{{ additionals_ca_pem_array | join('\n') }}"
