---
- name: No exposed_ca
  when: dsc.exposedCA.type == 'none'
  ansible.builtin.set_fact:
    exposed_ca_pem: ""

- name: Exposed_ca (configmap)
  when: dsc.exposedCA.type == 'configmap'
  block:
    - name: Get configMap
      kubernetes.core.k8s_info:
        name: "{{ dsc.exposedCA.configmap.name }}"
        namespace: "{{ dsc.exposedCA.configmap.namespace }}"
        kind: ConfigMap
      register: exposed_ca_resource

    - name: Extract key
      ansible.builtin.set_fact:
        exposed_ca_pem: "{{ exposed_ca_resource.resources[0].data[dsc.exposedCA.configmap.key] }}"

- name: Exposed_ca (secret)
  when: dsc.exposedCA.type == 'secret'
  block:
    - name: Get secret
      kubernetes.core.k8s_info:
        name: "{{ dsc.exposedCA.secret.name }}"
        namespace: "{{ dsc.exposedCA.secret.namespace }}"
        kind: Secret
      register: exposed_ca_resource

    - name: Extract key
      ansible.builtin.set_fact:
        exposed_ca_pem: "{{ exposed_ca_resource.resources[0].data[dsc.exposedCA.secret.key] | b64decode }}"

- name: Exposed_ca (certmanager)
  when: dsc.exposedCA.type == 'certmanager'
  block:
    - name: Get certmanager secret
      kubernetes.core.k8s_info:
        name: "{{ dsc.ingress.tls.ca.secretName }}"
        namespace: cert-manager
        kind: Secret
      register: exposed_ca_resource

    - name: Extract key
      ansible.builtin.set_fact:
        exposed_ca_pem: "{{ exposed_ca_resource.resources[0].data['tls.crt'] | b64decode }}"

- name: Exposed_ca (url)
  when: dsc.exposedCA.type == 'url'
  block:
    - name: Get url
      ansible.builtin.shell:
        cmd: curl {{ dsc.exposedCA.url }} -s | openssl x509
      changed_when: false
      register: exposed_ca_resource
      tags: [skip_ansible_lint]

    - name: Extract key
      ansible.builtin.set_fact:
        exposed_ca_pem: "{{ exposed_ca_resource.stdout }}"
