---
apiVersion: v2
name: cloudnative-pg
type: application
version: {{ dsc.cloudnativepg.chartVersion }}
description: Cloudnative-pg operator installer
dependencies: 
  - name: cloudnative-pg
    alias: cloudnativepg
    version: {{ dsc.cloudnativepg.chartVersion }}
    repository: {{ dsc.cloudnativepg.helmRepoUrl }}
