cpn-ansible-job:
  job:
    image:
      repository: "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#image | jsonPath {.repository.ghcr}>/cloud-pi-native/git-ansible"
      tag: "1"
    command:
    - /bin/sh
    - -c
    - |
      git clone https://github.com/cloud-pi-native/socle.git && \
      cd socle && \
      ansible-playbook post-install/awx-oidc.yaml
{% if dsc.proxy.enabled %}
    extraEnvFrom:
    - secretRef: 
        name: ansible-secret
    extraEnv:
    - name: GIT_HTTP_PROXY_AUTHMETHOD
      value: basic
{% endif %}
