---
- name: Get argo client secret
  kubernetes.core.k8s_info:
    kind: Secret
    namespace: "{{ dsc.keycloak.namespace }}"
    name: keycloak-client-secret-argo-client
  register: argocd_secret
  failed_when: argocd_secret.resources | length == 0

- name: Argo crb
  kubernetes.core.k8s:
    definition:
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRoleBinding
      metadata:
        creationTimestamp:
        name: system:openshift:scc:privileged
      roleRef:
        apiGroup: rbac.authorization.k8s.io
        kind: ClusterRole
        name: system:openshift:scc:privileged
      subjects:
        - kind: ServiceAccount
          namespace: "{{ dsc.argocd.namespace }}"
          name: argo-argo-cd-argocd-repo-server
        - kind: ServiceAccount
          namespace: "{{ dsc.argocd.namespace }}"
          name: argo-argo-cd-argocd-server
        - kind: ServiceAccount
          namespace: "{{ dsc.argocd.namespace }}"
          name: argo-redis
        - kind: ServiceAccount
          namespace: "{{ dsc.argocd.namespace }}"
          name: argo-redis-master
        - kind: ServiceAccount
          namespace: "{{ dsc.argocd.namespace }}"
          name: argo-redis-replica

- name: Add helm repo
  kubernetes.core.helm_repository:
    name: bitnami
    repo_url: https://charts.bitnami.com/bitnami

- name: Set path fact
  ansible.builtin.set_fact:
    path: "{{ role_path + '/templates/values' }}"

- name: Compute ArgoCD Helm values
  ansible.builtin.include_role:
    name: combine
  vars:
    combine_path: "{{ path }}"
    combine_user_values: "{{ dsc.argocd['values'] }}"
    combine_dest_var: "argo_values"

- name: Deploy helm
  kubernetes.core.helm:
    force: true
    name: argo
    chart_ref: bitnami/argo-cd
    chart_version: "{{ dsc.argocd.chartVersion }}"
    release_namespace: "{{ dsc.argocd.namespace }}"
    create_namespace: true
    values: "{{ argo_values }}"

- name: Find gitlab token in inventory
  kubernetes.core.k8s_info:
    namespace: "{{ dsc.console.namespace }}"
    kind: ConfigMap
    name: dso-config
  register: ansible_inventory

- name: Create global gitlab secret
  kubernetes.core.k8s:
    definition:
      data:
        password: "{{ ansible_inventory.resources[0].data.GITLAB_TOKEN | b64encode }}"
        url: "{{ ('https://' + ([gitlab_domain, dsc.global.projectsRootDir] | flatten | join ('/') )) | b64encode }}"
        username: "{{ 'root' | b64encode }}"
      kind: Secret
      metadata:
        labels:
          argocd.argoproj.io/secret-type: repo-creds
        name: gitlab
        namespace: "{{ dsc.argocd.namespace }}"
      type: Opaque

- name: Install routes
  kubernetes.core.k8s:
    template: "{{ item }}"
  with_items:
    - ingress.yaml.j2
