---
- name: Probe Vault infra domain cert validity
  ansible.builtin.uri:
    url: "https://{{ vaultinfra_domain }}"
    method: GET
    return_content: false
    validate_certs: true
  register: vaultinfra_probe
  ignore_errors: true

- name: Set Vault infra certificate validity fact based on domain probe result
  ansible.builtin.set_fact:
    vaultinfra_cert_valid: "{{ vaultinfra_probe.failed is not defined or not vaultinfra_probe.failed }}"
    
- name: Retrieve global values from infra Vault
  community.hashi_vault.vault_kv2_get:
    url: "https://{{ vaultinfra_domain }}"
    auth_method: token
    token: "{{ vault_infra_token }}"
    engine_mount_point: "{{ vaultinfra_kv_name }}"
    path: "env/{{ dsc_name }}/apps/global/values"
    validate_certs: "{{ vaultinfra_cert_valid }}"
  register: global_vault_values

- name: Retrieve GitLab values from infra Vault
  community.hashi_vault.vault_kv2_get:
    url: "https://{{ vaultinfra_domain }}"
    auth_method: token
    token: "{{ vault_infra_token }}"
    engine_mount_point: "{{ vaultinfra_kv_name }}"
    path: "env/{{ dsc_name }}/apps/gitlab/values"
    validate_certs: "{{ vaultinfra_cert_valid }}"
  register: gitlab_vault_values

- name: Set GitLab token and URL facts
  ansible.builtin.set_fact:
    gitlab_token: "{{ gitlab_vault_values.data.data.gitlabToken }}"
    gitlab_url: "https://{{ global_vault_values.data.data.domain.gitlab }}"

- name: Create Argo CD namespace
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ target_namespace }}"

- name: Create GitLab secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: gitlab
        namespace: "{{ target_namespace }}"
        labels:
          argocd.argoproj.io/secret-type: repo-creds
      type: Opaque
      data:
        username: "{{ 'root' | b64encode }}"
        password: "{{ gitlab_token | b64encode }}"
        url: "{{ gitlab_url | b64encode }}"