apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: "zone-{{ '{{ .Values.zoneName }}' }}-project"
spec:
  description: "Projet contenant l'Application responsable de tous les déploiements par zone"
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'
  sourceRepos:
    - https://cloud-pi-native.github.io/helm-charts
    - {{ '{{ .Values.dsoZoneRepo }}' }}
  destinations:
    - namespace: {{ '{{ .Release.Namespace }}' }}
      server: "https://kubernetes.default.svc"

---      
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "zone-{{ '{{ .Values.zoneName }}' }}-app"
spec:
  destination:
    namespace: {{ '{{ .Release.Namespace }}' }}
    server: https://kubernetes.default.svc
  project: "zone-{{ '{{ .Values.zoneName }}' }}-project"
  sources:
  - chart: dso-argocd-zone
    targetRevision: {{ dsc.argocd.zoneChartVersion | quote }}
    repoURL: https://cloud-pi-native.github.io/helm-charts
    helm:
      valueFiles:
      - ./values.yaml
      - $argocdValues/argocd-values.yaml
      values: |
        dsoZoneRepo: {{ '{{ .Values.dsoZoneRepo }}' }}
        autosync: true
  - repoURL: {{ '{{ .Values.dsoZoneRepo }}' }}
    targetRevision: HEAD
    ref: argocdValues
