{% if dsc.global.dockerAccount.enabled %}
---
apiVersion: v1
kind: Secret
metadata:
  name: helm-docker-registry-secret
  namespace: {{ dsc.argocd.namespace }}
type: Opaque
stringData:
  username: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#dockerAccount | jsonPath {.username}>
  password: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#dockerAccount | jsonPath {.password}>
{% endif %}
