---
apiVersion: v1
kind: Secret
metadata:
  labels:
    argocd.argoproj.io/secret-type: repo-creds
  name: gitlab
  namespace: {{ dsc.argocd.namespace }}
type: Opaque
stringData:
  password: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/gitlab/values#gitlabToken>
  url: "https://<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#domain | jsonPath {.gitlab}>/{{ dsc.global.projectsRootDir | flatten | join ('/') }}"
  username: "root"
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    argocd.argoproj.io/secret-type: repo-creds
  name: oci-dockerhub-creds
  namespace: {{ dsc.argocd.namespace }}
stringData:
  url: registry-1.docker.io
  name: bitnamicharts
  type: helm
  enableOCI: "true"
  username: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#dockerAccount | jsonPath {.username}>
  password: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#dockerAccount | jsonPath {.password}>
{% if dsc.proxy.enabled %}
  proxy: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#proxy | jsonPath {.httpProxy}>
{% endif %}
