apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: {{ grafana_name }}
  namespace: {{ dsc.grafana.namespace }}
  labels:
    app: {{ grafana_name }}
    app.kubernetes.io/managed-by: dso-console
    dashboards: default
spec:
  config:
    auth:
      oauth_allow_insecure_email_lookup: "true"
    auth.generic_oauth:
      api_url: https://{{ keycloak_domain }}/realms/dso/protocol/openid-connect/userinfo
      auth_url: https://{{ keycloak_domain }}/realms/dso/protocol/openid-connect/auth
      client_id: {{ grafana_secret.resources[0].data.CLIENT_ID | b64decode }}
      client_secret: {{ grafana_secret.resources[0].data.CLIENT_SECRET | b64decode }}
      email_attribute_path: email
      enabled: "true"
      groups_attribute_path: groups
      role_attribute_path: contains(groups[*], '/admin') && 'Admin'
      role_attribute_strict: "true"
      scopes: openid, generic
      tls_skip_verify_insecure: "true"
      token_url: https://{{ keycloak_domain }}/realms/dso/protocol/openid-connect/token
    server:
      root_url: https://{{ grafana_domain }}/{{ grafana_name }}
      serve_from_sub_path: "true"
  deployment:
    spec:
      template:
        spec:
          containers:
          - image: grafana/grafana:{{ dsc.grafana.imageVersion }}
            name: grafana
{% if dsc.proxy.enabled %}
            env:
            - name: HTTP_PROXY
              value: "{{ dsc.proxy.http_proxy }}"
            - name: HTTPS_PROXY
              value: "{{ dsc.proxy.https_proxy }}"
            - name: NO_PROXY
              value: "{{ dsc.proxy.no_proxy }}"
{% endif %}
{% if use_image_pull_secrets %}
          imagePullSecrets:
            - name: dso-config-pull-secret
{% endif %}
