apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ grafana_name }}
  namespace: {{ dsc.grafana.namespace }}
  annotations:
{% for key, val in dsc.ingress.annotations.items() %}
    {{ key }}: {{ val }}
{% endfor %}
  labels:
    app: grafana
{% for key, val in dsc.ingress.labels.items() %}
    {{ key }}: {{ val }}
{% endfor %}
spec:
{% if not dsc.ingress.tls.type == 'none' %}
  tls:
  - hosts:
    - {{ grafana_domain }}
{% if dsc.ingress.tls.type == 'tlsSecret' %}
    secretName: {{ dsc.ingress.tls.tlsSecret.name }}
{% else %}
    secretName: grafana-tls-secret
{% endif %}
{% endif %}
  ingressClassName: {{ dsc.ingress.className | default('') }}
  rules:
    - host: {{ grafana_domain }}
      http:
        paths:
          - pathType: Prefix
            path: /{{ grafana_name }}
            backend:
              service:
                name: {{ grafana_name }}-service
                port:
                  number: 3000
