keycloakx:
  ingress:
{% if dsc.ingress.tls.type == "tlsSecret" %}
    tls:
      - hosts:
          - <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#domain | jsonPath {.keycloak}>
        secretName: "{{ dsc.ingress.tls.tlsSecret.name }}"
{% else %}
    tls:
      - hosts:
          - <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#domain | jsonPath {.keycloak}>
        secretName: keycloakx-tls
{% endif %}
