cpn-ansible-job:
  enabled: {{ dsc.keycloakx.ansibleJobEnabled | lower }}
  job:
    image:
      repository: "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#image | jsonPath {.repository.ghcr}>/cloud-pi-native/git-ansible"
      tag: "1"
    command:
    - /bin/sh
    - -c
    - |
      git clone {{ dsc.keycloakx.repoSocle.url }} -b chore/migrate-keycloakx-cpin socle && \
      cd socle && \
      ansible-playbook post-install/keycloakx.yaml
    extraEnvFrom:
    - secretRef:
        name: keycloakx-ansible-secret
    extraVolumes:
    - name: users-csv
      configMap:
        name: keycloak-users
    extraVolumeMounts:
    - name: users-csv
      mountPath: /config
      readOnly: true
