console:
  client:
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchLabels:
                  app.kubernetes.io/instance: {{ dsc.global.gitOps.envName }}-{{ dsc.console.namespace }}
                  app.kubernetes.io/name: {{ dsc_name }}-cpn-console-client
              topologyKey: kubernetes.io/hostname

  server:
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchLabels:
                  app.kubernetes.io/instance: {{ dsc.global.gitOps.envName }}-{{ dsc.console.namespace }}
                  app.kubernetes.io/name: {{ dsc_name }}-cpn-console-server
              topologyKey: kubernetes.io/hostname
