console:
  server:
    image:
      repository: "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#image | jsonPath {.repository.ghcr}>/cloud-pi-native/console/server"
  client:
    image:
      repository: "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#image | jsonPath {.repository.ghcr}>/cloud-pi-native/console/client"
  postgres:
    image:
      registry: "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#image | jsonPath {.repository.ghcr}>"
      repository: "postgres:15.3"

{% if dsc.global.imagePullSecrets is defined %}
  global:
    imagePullSecrets: {{ dsc.global.imagePullSecrets | to_json }}
{% endif %}

