cluster:
  nameOverride: "pg-cluster-console"
  fullnameOverride: "pg-cluster-console"
  cluster:
    primaryUpdateMethod: restart
    enablePDB: false
    imageName: "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#image | jsonPath {.repository.ghcr}>/{{ dsc.console.cnpg.imageName }}"
{% if dsc.global.imagePullSecrets is defined %}
    imagePullSecrets: {{ dsc.global.imagePullSecrets | to_json }}
{% endif %}
    initdb:
      owner: "dso"
      database: "dso-console-db"
  
    # Require 1Gi of space per instance using default storage class
    storage:
      size: {{ dsc.console.postgresPvcSize }}
{% if dsc.console.postgresWalPvcSize is defined %}
    walStorage:
      enabled: true
      size: {{ dsc.console.postgresWalPvcSize }}
{% endif %}
  
    postgresql:
      parameters:
        max_worker_processes: "60"
{% if dsc.console.postgresWalMaxSlotKeepSize is defined %}
        max_slot_wal_keep_size: {{ dsc.console.postgresWalMaxSlotKeepSize }}
{% endif %}
      pg_hba:
        - host dso-console-db dso all md5
        - host dso-console-db streaming_replica all md5

{% if dsc.global.backup.velero.enabled %}
    annotations:
      pre.hook.backup.velero.io/command: '["/bin/bash", "-c", "(( $(date +%d) %2 == 0 )) && index=0 || index=1; pg_dump -U postgres -Fc -d dso-console-db > /var/lib/postgresql/data/app.dump-${index}"]'
      pre.hook.backup.velero.io/container: postgres
      pre.hook.backup.velero.io/on-error: Fail
      pre.hook.backup.velero.io/timeout: 90s
{% endif %}

    monitoring:
      enabled: {{ dsc.global.metrics.enabled }}

{% if dsc.global.backup.cnpg.enabled %}
  backups:       
    destinationPath: s3://<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#backup | jsonPath {.s3BucketName}>/cnpg
    enabled: true
    endpointURL: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#backup | jsonPath {.s3Endpoint}>
    retentionPolicy: 14d
    s3:          
      accessKey: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#backup | jsonPath {.s3AccessKey}>
      secretKey: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#backup | jsonPath {.s3SecretKey}>
    scheduledBackups:
    - name: pg-cluster-console
      schedule: 0 0 */6 * * *                                                              
      backupOwnerReference: self
      method: barmanObjectStore
{% if dsc.global.backup.s3.endpointCA is defined %}
    endpointCA:
      create: true
      name: {{ dsc.global.backup.s3.endpointCA.name }}
      key: {{ dsc.global.backup.s3.endpointCA.key }}
      value: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#cnpgS3CaPem>
{% endif %}
{% endif %}
