{% if dsc.global.backup.cnpg.enabled %}
cpn-ansible-job:
  job:
    image:
      repository: "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#image | jsonPath {.repository.ghcr}>/cloud-pi-native/git-ansible"
      tag: "1"
    command:
    - /bin/sh
    - -c
    - |
      git clone {{ dsc.awx.repoSocle.url }} -b {{ dsc.awx.repoSocle.revision }} socle && \
      cd socle && \
      ansible-playbook post-install/pgdump.yaml
{% if dsc.global.backup.s3.endpointCA is defined %}
    extraEnv:
      - name: AWS_CA_BUNDLE
        value: /bundle-s3-dir/ca.pem
{% endif %}
{% if dsc.proxy.enabled %}
    extraEnvFrom:
    - secretRef: 
        name: ansible-secret
{% endif %}
{% if dsc.global.backup.s3.endpointCA is defined %} 
    extraVolumes:
    - name: bundle-s3
      secret:
        secretName: ansible-secret
    extraVolumeMounts:
    - name: bundle-s3
      mountPath: /bundle-s3-dir
      readOnly: true
{% endif %}
  cronJob:
    create: true
    schedule: "7 1 * * *"
{% endif %}
