{% if use_private_registry %}
image:
  repository: "{{ dsc.global.registry }}/cloudnative-pg/cloudnative-pg"
{% endif %}

{% if dsc.global.imagePullSecrets is defined %}
imagePullSecrets: {{ dsc.global.imagePullSecrets | to_json }}
{% endif %}