{% if use_private_registry %}
image:
  repository: "{{ dsc.global.registry }}/cloudnative-pg/cloudnative-pg"
{% endif %}

{% if use_image_pull_secrets %}
imagePullSecrets:
- name: dso-config-pull-secret
{% endif %}