{% set apps = [] %}
{% for env, app in envs | subelements('apps', skip_missing=True) %}
{% set _ = apps.append({
  "app": app.argocd_app,
  "enabled": (dsc.observatorium.installEnabled if app.argocd_app == "observability" else dsc[app.argocd_app].installEnabled) | default(false),
  "clusterName": app.clusterName | default(""),
  "namespace": app.nameSpace,
  "customNamespacePrefix": app.customNamespacePrefix | default(""),
  "syncWave": app.syncWave | default(10) | int
}) %}
{% endfor %}
{% set json_data = {
  "env": envs[0].name,
  "provider": "self-hosted",
  "region": "fr-par",
  "namespacePrefix": dsc.global.gitOps.namespacePrefix,
  "destination": {
    "clusterName": dsc.global.gitOps.envName | default("")
  },
  "targetRevision": dsc.global.gitOps.repo.revision | default("main"),
  "apps": apps
} %}
{{ json_data | to_json }}
