---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nexus-alternative
  namespace: {{ dsc.nexus.namespace }}
  annotations:
{% for key, val in dsc.ingress.annotations.items() %}
    {{ key }}: {{ val }}
{% endfor %}
    nginx.ingress.kubernetes.io/auth-url: "http://oauth2-proxy.{{ dsc.nexus.namespace }}.svc/oauth2/auth"
    nginx.ingress.kubernetes.io/auth-signin: "https://$host/oauth2/start?rd=$escaped_request_uri"
    nginx.ingress.kubernetes.io/auth-response-headers: "X-Auth-Request-User,X-Auth-Request-Email,Authorization"
  labels:
    app: nexus
{% for key, val in dsc.ingress.labels.items() %}
    {{ key }}: {{ val }}
{% endfor %}
spec:
{% if not dsc.ingress.tls.type == 'none' %}
  tls:
  - hosts:
    - <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#domain | jsonPath {.nexus}>
{% if dsc.ingress.tls.type == 'tlsSecret' %}
    secretName: {{ dsc.ingress.tls.tlsSecret.name }}
{% else %}
    secretName: nexus-tls-secret
{% endif %}
{% endif %}
  ingressClassName: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#ingressClassName>
  rules:
    - host: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#domain | jsonPath {.nexus}>
      http:
        paths:
          - path: /oauth2
            pathType: Prefix
            backend:
              service:
                name: oauth2-proxy
                port:
                  name: http
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ dsc.nexus.release }}
                port:
                  name: http
