---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nexus-alternative
  namespace: {{ dsc.nexus.namespace }}
  annotations:
{% for key, val in dsc.ingress.annotations.items() %}
    {{ key }}: {{ val }}
{% endfor %}
  labels:
    app: nexus
{% for key, val in dsc.ingress.labels.items() %}
    {{ key }}: {{ val }}
{% endfor %}
spec:
{% if not dsc.ingress.tls.type == 'none' %}
  tls:
  - hosts:
    - <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#domain | jsonPath {.nexus}>
{% if dsc.ingress.tls.type == 'tlsSecret' %}
    secretName: {{ dsc.ingress.tls.tlsSecret.name }}
{% else %}
    secretName: nexus-tls-secret
{% endif %}
{% endif %}
  ingressClassName: "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#ingressClassName>"
  rules:
    - host: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#domain | jsonPath {.nexus}>
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ dsc.nexus.release }}
                port:
                  name: http
