---
apiVersion: v2
name: argocd
type: application
version: {{ dsc.argocd.chartVersion }}
dependencies:
- name: argo-cd
  alias: argocd
  version: {{ dsc.argocd.chartVersion }}
  repository: {{ dsc.argocd.helmRepoUrl }}
{% if dsc.global.backup.velero.enabled | default(false) %}
- name: dso-backup
  alias: dso-backup
  version: {{ dsc.global.backup.dsoBackup.chartVersion | default('1.0.0') | quote }}
  repository: {{ dsc.global.backup.dsoBackup.helmRepoUrl | default(dsc.cpnAnsibleJob.helmRepoUrl) }}
{% endif %}
