---
- name: Get vault status
  kubernetes.core.k8s_exec:
    container: vault
    pod: "{{ vault_pod }}"
    namespace: "{{ dsc.vault.namespace }}"
    command: vault status -format=json
  register: vault_health
  ignore_errors: true

- name: Set vault_status to "not init"
  ansible.builtin.set_fact:
    vault_status: not init
  when: vault_health.stdout | from_json | json_query('initialized') == false

- name: Set vault_status to sealed
  ansible.builtin.set_fact:
    vault_status: sealed
  when: (vault_health.stdout | from_json | json_query('initialized') == true) and (vault_health.stdout | from_json | json_query('sealed') == true)

- name: Set vault_status to OK
  ansible.builtin.set_fact:
    vault_status: OK
  when: (vault_health.stdout | from_json | json_query('initialized') == true) and (vault_health.stdout | from_json | json_query('sealed') == false)
