- name: Get vault health
  ansible.builtin.uri:
    validate_certs: "{{ dsc.exposedCA.type == 'none' }}"
    url: "https://{{ vault_domain }}/v1/sys/health"
    status_code: [200, 503, 501]
  register: vault_health
  retries: 12
  delay: 5
  until: vault_health.json is defined

- name: Set vault_status to OK
  ansible.builtin.set_fact:
    vault_status: OK
  when: vault_health.status == 200

- name: Set vault_status to "not init"
  ansible.builtin.set_fact:
    vault_status: not init
  when: vault_health.status == 501

- name: Set vault_status to unavailable
  ansible.builtin.set_fact:
    vault_status: unavailable
  when: vault_health.status == 503

- name: Set vault_status to sealed
  ansible.builtin.set_fact:
    vault_status: sealed
  when: vault_health.status == 503 and vault_health.json is defined and vault_health.json.sealed
