---
- name: Create Vault namespace
  kubernetes.core.k8s:
    state: present
    kind: Namespace
    name: "{{ dsc.vault.namespace }}"
    api_version: v1

- name: Add helm repo
  kubernetes.core.helm_repository:
    name: hashicorp
    repo_url: https://helm.releases.hashicorp.com

- name: Set path fact
  ansible.builtin.set_fact:
    path: "{{ role_path + '/templates/values' }}"

- name: Compute Vault Helm values
  ansible.builtin.include_role:
    name: combine
  vars:
    combine_path: "{{ path }}"
    combine_user_values: "{{ dsc.vault['values'] }}"
    combine_dest_var: "vault_values"

- name: Deploy helm
  kubernetes.core.helm:
    name: "{{ dsc_name }}-vault"
    chart_ref: hashicorp/vault
    chart_version: "{{ dsc.vault.chartVersion }}"
    release_namespace: "{{ dsc.vault.namespace }}"
    create_namespace: true
    values: "{{ vault_values }}"

- name: Create route and certs
  kubernetes.core.k8s:
    template: "{{ item }}"
  with_items:
    - ingress.yaml.j2

# Post install
- name: Post install
  ansible.builtin.include_tasks: post-install.yml

# Setup sso
- name: Setup SSO
  ansible.builtin.include_tasks: sso.yml
