apiVersion: v1
kind: Secret
metadata:
    name: ansible-extra-config
    namespace: "{{ dsc.awx.namespace }}"
data:
    sshkey.bastion: "{{ dsc.awx.privateConfiguration.keyBastionUser}}"
    sshkey.idrsa: "{{ dsc.awx.privateConfiguration.keyServiceAccount }}"
