---
apiVersion: v1
kind: Secret
metadata:
  name: console-playwright-secret
  annotations:
    avp.kubernetes.io/remove-missing: "true"
type: Opaque
stringData:
  KEYCLOAK_DOMAIN: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#domain| jsonPath {.keycloak}>
  KEYCLOAK_REDIRECT_URI: https://<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#domain| jsonPath {.console}>
  KEYCLOAK_PROTOCOL: https
  CONSOLE_ADMIN_USERNAME: 'admin@example.com'
  CONSOLE_ADMIN_PASSWORD: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/tests/values#dsoRealmAdminPassword>
  CONSOLE_ADMIN_EMAIL: 'admin@example.com'
  CONSOLE_TEST_USERNAME: 'testuser@example.com'
  CONSOLE_TEST_PASSWORD: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/tests/values#dsoRealmTestUserPassword>
  CONSOLE_TEST_EMAIL: 'testuser@example.com'
  CONSOLE_SECOND_TEST_USERNAME: 'secondtestuser@example.com'
  CONSOLE_SECOND_TEST_PASSWORD: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/tests/values#dsoRealmSecondTestUserPassword>
  CONSOLE_SECOND_TEST_EMAIL: 'secondtestuser@example.com'
  CONSOLE_GLOBAL_TIMEOUT: '300000'
  CONSOLE_EXPECT_TIMEOUT: '300000'
  CONSOLE_DESTINATION_CLUSTER: "{{ dsc.tests.playwright.consoleDestinationCluster }}"
  CONSOLE_VALUES_FILE: "{{ dsc.tests.playwright.consoleValuesFile }}"
{% if dsc.proxy.enabled %}
  HTTP_PROXY: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#proxy | jsonPath {.httpProxy}>
  HTTPS_PROXY: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#proxy | jsonPath {.httpsProxy}>
  NO_PROXY: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#proxy | jsonPath {.noProxy}>
{% endif %}
  MATTERMOST_URL: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/tests/values#mattermost | jsonPath {.url}>
  MATTERMOST_CHANNEL_ID: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/tests/values#mattermost | jsonPath {.channelId}>
  MATTERMOST_TOKEN: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/tests/values#mattermost | jsonPath {.botToken}>
  PLAYWRIGHT_TEST: "playwright/integration-tests/user-flow.spec.ts -c playwright.config.integration.ts"
---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-playwright-secret
  annotations:
    avp.kubernetes.io/remove-missing: "true"
type: Opaque
stringData:
  KEYCLOAK_DOMAIN: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#domain| jsonPath {.keycloak}>
  KEYCLOAK_REDIRECT_URI: https://<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#domain| jsonPath {.console}>
  KEYCLOAK_PROTOCOL: https
  KEYCLOAK_ADMIN_USERNAME: dsoadmin
  KEYCLOAK_ADMIN_PASSWORD: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/keycloak/values#auth| jsonPath {.adminPassword}>
  KEYCLOAK_REALM: {{ dsc.keycloak.applicationRealm }}
  KEYCLOAK_CLIENT_FRONTEND: console-frontend
  KEYCLOAK_CLIENT_BACKEND: console-backend
{% if dsc.proxy.enabled %}
  HTTP_PROXY: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#proxy | jsonPath {.httpProxy}>
  HTTPS_PROXY: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#proxy | jsonPath {.httpsProxy}>
  NO_PROXY: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#proxy | jsonPath {.noProxy}>
{% endif %}
  MATTERMOST_URL: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/tests/values#mattermost | jsonPath {.url}>
  MATTERMOST_CHANNEL_ID: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/tests/values#mattermost | jsonPath {.channelId}>
  MATTERMOST_TOKEN: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/tests/values#mattermost | jsonPath {.botToken}>
  PLAYWRIGHT_TEST: playwright/e2e-tests/keycloak.spec.ts
