apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: keycloak-alternative
  namespace: {{ dsc.keycloak.namespace }}
  annotations:
{% for key, val in dsc.ingress.annotations.items() %}
    {{ key }}: {{ val }}
{% endfor %}
    route.openshift.io/termination: reencrypt
  labels:
    app: keycloak
{% for key, val in dsc.ingress.labels.items() %}
    {{ key }}: {{ val }}
{% endfor %}
spec:
{% if not dsc.ingress.tls.type == 'none' %}
  tls:
  - hosts:
    - {{ keycloak_domain }}
{% if dsc.ingress.tls.type == 'tlsSecret' %}
    secretName: {{ dsc.ingress.tls.tlsSecret.name }}
{% else %}
    secretName: keycloak-tls-secret
{% endif %}
{% endif %}
  rules:
    - host: {{ keycloak_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: keycloak
                port:
                  name: keycloak