apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: keycloak-alternative
  namespace: {{ KEYCLOAK_NAMESPACE }}
  annotations:
{% for key, val in ingress.annotations.items() %}
    {{ key }}: {{ val }}
{% endfor %}
  labels:
    app: keycloak
{% for key, val in ingress.labels.items() %}
    {{ key }}: {{ val }}
{% endfor %}
spec:
  tls:
  - hosts:
    - {{ KEYCLOAK_DOMAIN }}
    secretName: keycloak-issuer-account-key
  rules:
    - host: {{ KEYCLOAK_DOMAIN }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: keycloak
                port:
                  name: keycloak