apiVersion: keycloak.org/v1alpha1
kind: KeycloakUser
metadata:
  name: admin-gitlab
  labels:
    app: sso
  namespace: {{ dsc.keycloak.namespace }}
spec:
  realmSelector:
    matchLabels:
      app: sso
  user:
    credentials:
      - temporary: false
        type: password
        value:  {{ admin_user_password | b64encode }}
    username: admin@example.com
    firstName: Admin
    lastName: Admin
    email: admin@example.com
    enabled: true
    emailVerified: true
