apiVersion: keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  name: portail-client
  labels:
    app: sso
  namespace: {{ dsc.keycloak.namespace }}
spec:
  client:
    clientId: portail-client
    clientAuthenticatorType: public
    redirectUris:
      - "*"
    webOrigins:
      - "*"
    defaultClientScopes:
    - generic

  realmSelector:
    matchLabels:
      app: sso
