kind: Route
metadata:
  labels:
    app: keycloak
  name: keycloak-alternative
  namespace: {{ KEYCLOAK_NAMESPACE }}
spec:
  host: {{ KEYCLOAK_DOMAIN }}
  port:
    targetPort: keycloak
  tls:
    termination: passthrough
  to:
    kind: Service
    name: keycloak
    weight: 100
  wildcardPolicy: None
