apiVersion: keycloak.org/v1alpha1
kind: Keycloak
metadata:
  name: dso-keycloak
  labels:
    app: sso
  namespace: {{ DSC.keycloak.namespace }}
spec:
  externalAccess:
    enabled: false
  keycloakDeploymentSpec:
    imagePullPolicy: Always
  postgresDeploymentSpec:
    imagePullPolicy: Always
  keycloakDeploymentSpec:
    experimental:
      env:
{% if DSC.proxy.enabled %}
        - name: HTTP_PROXY
          value: {{ DSC.proxy.http_proxy }}
        - name: HTTPS_PROXY
          value: {{ DSC.proxy.https_proxy }}
        - name: NO_PROXY
          value: {{ DSC.proxy.no_proxy }}
{% endif %}
  instances: 1