apiVersion: keycloak.org/v1alpha1
kind: Keycloak
metadata:
  name: dso-keycloak
  labels:
    app: sso
  namespace: {{ KEYCLOAK_NAMESPACE }}
spec:
  externalAccess:
    enabled: true
  keycloakDeploymentSpec:
    imagePullPolicy: Always
  postgresDeploymentSpec:
    imagePullPolicy: Always
  keycloakDeploymentSpec:
    experimental:
      env:
{% if USE_PROXY is defined %}
        - name: HTTP_PROXY
          value: {{ HTTP_PROXY }}
        - name: HTTPS_PROXY
          value: {{ HTTPS_PROXY }}
        - name: NO_PROXY
          value: {{ NO_PROXY }}
{% endif %}
  instances: 1