apiVersion: keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  name: argo-client
  labels:
    app: sso
  namespace: {{ KEYCLOAK_NAMESPACE }}
spec:
  client:
    clientId: argo-client
#    secret: 810f6a26-173a-4fdc-b080-15357ff9ed36
    clientAuthenticatorType: client-secret
    standardFlowEnabled: true
    redirectUris:
      - https://{{ ARGOCD_DOMAIN }}/auth/callback
      - "*"
    webOrigins:
      - https://{{ ARGOCD_DOMAIN }}
    defaultClientScopes:
      - generic
  realmSelector:
    matchLabels:
      app: sso
