apiVersion: keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  name: gitlab-client
  labels:
    app: sso
  namespace: {{ dsc.keycloak.namespace }}
spec:
  client:
    clientId: gitlab-client
#    secret: 530169ec-83e6-430e-84d7-22c937dc789c
    clientAuthenticatorType: client-secret
    standardFlowEnabled: true
    redirectUris:
      - https://{{ gitlab_domain }}/users/auth/openid_connect/callback
    webOrigins:
      - https://{{ gitlab_domain }}
    defaultClientScopes:
    - generic

  realmSelector:
    matchLabels:
      app: sso
