apiVersion: keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  name: sonar-client
  labels:
    app: sso
  namespace: {{ dsc.keycloak.namespace }}
spec:
  client:
    clientId: sonar-client
#    secret: 3c6ec656-defe-4fa3-be05-a24460ec97eb
    clientAuthenticatorType: client-secret
    standardFlowEnabled: true
    redirectUris:
      - https://{{ sonar_domain }}/auth/callback
    webOrigins:
      - https://{{ sonar_domain }}
    defaultClientScopes:
    - generic

  realmSelector:
    matchLabels:
      app: sso
