apiVersion: keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  name: console-frontend-client
  labels:
    app: sso
  namespace: {{ dsc.keycloak.namespace }}
spec:
  client:
    clientId: console-frontend
    standardFlowEnabled: true
    publicClient: true
    redirectUris:
      - "https://{{ console_domain }}/*"
{% if dsc.environment == 'development' %}
      - "https://dso.local/*"
{% endif %}
      webOrigins:
    - "https://{{ console_domain }}"
{% if dsc.environment == 'development' %}
    - "https://dso.local"
{% endif %}
    defaultClientScopes:
    - generic

  realmSelector:
    matchLabels:
      app: sso
