apiVersion: keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  name: console-frontend-client
  labels:
    app: sso
  namespace: {{ KEYCLOAK_NAMESPACE }}
spec:
  client:
    clientId: console-frontend
    standardFlowEnabled: true
    publicClient: true
    redirectUris:
      - "*"
    webOrigins:
      - "*"
    defaultClientScopes:
    - generic

  realmSelector:
    matchLabels:
      app: sso
