apiVersion: keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  name: console-backend-client
  labels:
    app: sso
  namespace: {{ dsc.keycloak.namespace }}
spec:
  client:
    clientId: console-backend
    clientAuthenticatorType: client-secret
    standardFlowEnabled: true
    redirectUris:
      - https://{{ console_domain }}/*
      - https://{{ console_domain }}/
    webOrigins:
      - https://{{ console_domain }}
    defaultClientScopes:
    - generic

  realmSelector:
    matchLabels:
      app: sso
