kind: Namespace
apiVersion: v1
metadata:
  name: {{ dsc.keycloak.namespace }}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ dsc.keycloak.namespace }}-opgroup
  namespace: {{ dsc.keycloak.namespace }}
spec:
  targetNamespaces:
    - {{ dsc.keycloak.namespace }}
