apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  labels:
    app: cnpg-keycloak
  name: cnpg-keycloak
  namespace: {{ dsc.keycloak.namespace }}
spec:
  namespaceSelector:
    matchNames:
    - {{ dsc.keycloak.namespace }}
  podMetricsEndpoints:
  - bearerTokenSecret:
      key: ""
    interval: 30s
    path: /metrics 
    port: metrics
    scheme: http
  selector:
    matchLabels:
      cnpg.io/cluster: pg-cluster-keycloak
      cnpg.io/podRole: instance
      postgresql: pg-cluster-keycloak
