---
apiVersion: v2
name: keycloak
type: application
version: {{ dsc.keycloak.chartVersion }}
dependencies:
- name: cluster
  alias: cluster
  version: {{ dsc.cloudnativepg.cluster.chartVersion }}
  repository: {{ dsc.cloudnativepg.cluster.helmRepoUrl }}
- name: keycloak
  alias: keycloak
  version: {{ dsc.keycloak.chartVersion }}
  repository: "{{ dsc.keycloak.helmRepoUrl if 'oci://' in dsc.keycloak.helmRepoUrl else dsc.keycloak.helmRepoUrl ~ '/keycloak' }}"
- name: cpn-job
  alias: cpn-ansible-job
  version: {{ dsc.cpnAnsibleJob.chartVersion | quote }}
  repository: {{ dsc.cpnAnsibleJob.helmRepoUrl }}
{% if dsc.global.backup.velero.enabled | default(false) %}
- name: dso-backup
  alias: dso-backup
  version: {{ dsc.global.backup.dsoBackup.chartVersion | default('1.0.0') | quote }}
  repository: {{ dsc.global.backup.dsoBackup.helmRepoUrl | default(dsc.cpnAnsibleJob.helmRepoUrl) }}
{% endif %}
