---
apiVersion: v2
name: keycloak
type: application
version: {{ dsc.keycloak.chartVersion }}
dependencies:
- name: cluster
  alias: cluster
  version: {{ dsc.cloudnativepg.cluster.chartVersion }}
  repository: {{ dsc.cloudnativepg.cluster.helmRepoUrl }}
- name: keycloak
  alias: keycloak
  version: {{ dsc.keycloak.chartVersion }}
  repository: "{{ dsc.keycloak.helmRepoUrl if 'oci://' in dsc.keycloak.helmRepoUrl else dsc.keycloak.helmRepoUrl ~ '/keycloak' }}"
- name: cpn-job
  alias: cpn-ansible-job
  version: {{ dsc.cpnAnsibleJob.chartVersion | quote }}
  repository: {{ dsc.cpnAnsibleJob.helmRepoUrl }}
