{% if dsc.proxy.enabled %}
AWX:
  spec:
    task_extra_env: |
      - name: HTTP_PROXY
        value: {{ dsc.proxy.http_proxy }}
      - name: HTTPS_PROXY
        value: {{ dsc.proxy.https_proxy }}
      - name: NO_PROXY
        value: {{ dsc.proxy.no_proxy }}
    web_extra_env: |
      - name: HTTP_PROXY
        value: {{ dsc.proxy.http_proxy }}
      - name: HTTPS_PROXY
        value: {{ dsc.proxy.https_proxy }}
      - name: NO_PROXY
        value: {{ dsc.proxy.no_proxy }}
    extra_settings:
      - setting: AWX_TASK_ENV['HTTP_PROXY']
        value: "'{{ dsc.proxy.http_proxy }}'"
      - setting: AWX_TASK_ENV['HTTPS_PROXY']
        value: "'{{ dsc.proxy.https_proxy }}'"
      - setting: AWX_TASK_ENV['NO_PROXY']
        value: "'{{ dsc.proxy.no_proxy }}'"
{% endif %}
