---
apiVersion: v2
name: gitlabrunner
type: application
version: {{ dsc.gitlabrunner.chartVersion }}
dependencies:
- name: gitlab-runner
  alias: gitlabrunner
  version: {{ dsc.gitlabrunner.chartVersion }}
  repository: "{{ dsc.gitlabrunner.helmRepoUrl }}"
- name: cpn-ansible-job
  alias: cpn-ansible-job
  version: {{ dsc.cpnAnsibleJob.chartVersion | quote }}
  repository: {{ dsc.cpnAnsibleJob.helmRepoUrl }}
