apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ dsc.global.gitOps.envName }}-dso-grafana"
  namespace: {{ dsc.argocdInfra.namespace }}
spec:
  destination:
    namespace: {{ dsc.grafana.namespace }}
    name: {% raw %}{{ .Values.destinationClusterName }}
{% endraw %}
  project: {{ dsc.argocdInfra.projectName }}
  sources:
  - chart: dso-grafana
    repoURL: {{ dsc.grafana.helmRepoUrl }}
    targetRevision: {{ dsc.grafana.chartVersion }}
    helm:  
      values: {% raw %}|
        {{ .Values.grafana | toYaml | nindent 8 }}
{% endraw %}
      valueFiles:
      - ./values.yaml
      - $tenants/helm/values.yaml
  - ref: tenants
    repoURL: "https://<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#domain | jsonPath {.gitlab}>/observability/observability.git"
    targetRevision: main
  syncPolicy:
    automated:
      prune: true
    #  selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - ServerSideApply=true
