apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: pg-cluster-sonar
  namespace: {{ dsc.sonarqube.namespace }}
{% if dsc.global.backup.type == 'velero' %}
  annotations:
    pre.hook.backup.velero.io/command: '["/bin/bash", "-c", "(( $(date +%d) %2 == 0 )) && index=0 || index=1; pg_dump -U postgres -Fc -d  sonardb > /var/lib/postgresql/data/app.dump-${index}"]'
    pre.hook.backup.velero.io/container: postgres
    pre.hook.backup.velero.io/on-error: Fail
    pre.hook.backup.velero.io/timeout: 90s
{% endif %}
spec:
  instances: 3

  # Parameters and pg_hba configuration will be append
  # to the default ones to make the cluster work
{% if use_private_registry %}
  imageName: "{{ dsc.global.registry }}/cloudnative-pg/postgresql:16.1"
{% endif %}
  postgresql:
{% if use_private_registry %}
    image: "{{ dsc.global.registry }}/cloudnative-pg/postgresql:16.1"
{% endif %}
    parameters:
      max_worker_processes: "60"
    pg_hba:
      # To access through TCP/IP you will need to get username
      # and password from the secret pg-cluster-sonar-app
      - host sonardb dso_admin all md5

  bootstrap:
    initdb:
      database: sonardb
      owner: dso_admin

  enableSuperuserAccess: true

  # Example of rolling update strategy:
  # - unsupervised: automated update of the primary once all
  #                 replicas have been upgraded (default)
  # - supervised: requires manual supervision to perform
  #               the switchover of the primary
  primaryUpdateStrategy: unsupervised

  # Require 1Gi of space per instance using default storage class
  storage:
    size: {{ dsc.sonarqube.postgresPvcSize }}

