---
{% if dsc.sonarqube.cnpg.exposed %}
apiVersion: v1
kind: Service
metadata:
  labels:
    cnpg.io/cluster: pg-cluster-sonar
  name: pg-cluster-sonar-rw-nodeport
  namespace: {{ dsc.sonarqube.namespace }}
spec:
  ports:
  - name: postgres
    port: 5432
    protocol: TCP
    nodePort: {{ dsc.sonarqube.cnpg.nodePort }}
  selector:
    cnpg.io/cluster: pg-cluster-sonar
    role: primary
  type: NodePort
{% endif %}
