apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    app: sonarqube
  name: sonarqube
  namespace: {{ dsc.sonarqube.namespace }}
spec:
  groups:
  - name: SonarQube
    rules:
    - alert: SonarQube instance not available
      annotations:
        message: SonarQube instance in namespace {{ dsc.sonarqube.namespace }} has not been available for the last 5 minutes.
        summary: SonarQube instance down (no ready container)"
      expr: |
        (absent(kube_pod_container_status_ready{
        pod=~"sonarqube-.*",
        container="sonarqube",
        namespace="{{ dsc.sonarqube.namespace }}"}) == 1)
        or sum(kube_pod_container_status_ready{
        pod=~"sonarqube-.*",
        container="sonarqube",
        namespace="{{ dsc.sonarqube.namespace }}"}) == 0
      for: 5m
      labels:
        severity: critical
    - alert: SonarQube DB not available
      annotations:
        message: All SonarQube CNPG pods in namespace {{ dsc.sonarqube.namespace }} have been unavailable for the last 5 minutes.
        summary: SonarQube database down (containers not ready)
      expr: |
        (absent(kube_pod_container_status_ready{
        pod=~"pg-cluster-sonar-\\d+",
        container="postgres", namespace="{{ dsc.sonarqube.namespace }}"}) == 1)
        or sum(kube_pod_container_status_ready{
        pod=~"pg-cluster-sonar-\\d+",
        container="postgres", namespace="{{ dsc.sonarqube.namespace }}"}) == 0
      for: 5m
      labels:
        severity: critical
    - alert: Sonarqube DB Pod not healthy
      annotations:
        message: SonarQube {{"{{"}} $labels.pod {{"}}"}} pod in namespace {{ dsc.sonarqube.namespace }} has been unavailable for the last 5 minutes.
        summary: SonarQube database pod not healthy (container is not ready)
      expr: |
        kube_pod_container_status_ready{
        pod=~"pg-cluster-sonar-\\d+",
        container="postgres", namespace="{{ dsc.sonarqube.namespace }}"} == 0
      for: 5m
      labels:
        severity: warning
    - alert: SonarQube DB PVC has low remaining disk space
      annotations:
        message: PVC {{"{{"}} $labels.persistentvolumeclaim {{"}}"}} in namespace {{"{{"}} $labels.namespace {{"}}"}} is running out of disk space (< 20% left). VALUE = {{"{{"}} $value {{"}}"}}%
        summary: SonarQube CNPG PVC is running out of disk space in namespace {{"{{"}} $labels.namespace {{"}}"}}
      expr: |
        round(
        kubelet_volume_stats_available_bytes{
        persistentvolumeclaim=~"pg-cluster-sonar-\\d+",
        namespace="{{ dsc.sonarqube.namespace }}"}
        / kubelet_volume_stats_capacity_bytes{
        persistentvolumeclaim=~"pg-cluster-sonar-\\d+",
        namespace="{{ dsc.sonarqube.namespace }}"} * 100, 0.01) < 20 > 10
      for: 1m
      labels:
        severity: warning
    - alert: SonarQube DB PVC almost out of disk space
      annotations:
        message: PVC {{"{{"}} $labels.persistentvolumeclaim {{"}}"}} in namespace {{ dsc.sonarqube.namespace }} is almost full (< 10% left). VALUE = {{"{{"}} $value {{"}}"}}%
        summary: SonarQube CNPG PVC almost out of disk space in namespace {{ dsc.sonarqube.namespace }}
      expr: |
        round(
        kubelet_volume_stats_available_bytes{
        persistentvolumeclaim=~"pg-cluster-sonar-\\d+",
        namespace="{{ dsc.sonarqube.namespace }}"}
        / kubelet_volume_stats_capacity_bytes{
        persistentvolumeclaim=~"pg-cluster-sonar-\\d+",
        namespace="{{ dsc.sonarqube.namespace }}"} * 100, 0.01) < 10 > 0
      for: 1m
      labels:
        severity: critical
    - alert: SonarQube DB PVC out of disk space
      annotations:
        message: PVC {{"{{"}} $labels.persistentvolumeclaim {{"}}"}} in namespace {{ dsc.sonarqube.namespace }} is full (0% left).
        summary: SonarQube CNPG PVC out of disk space in namespace {{ dsc.sonarqube.namespace }}
      expr: |
        kubelet_volume_stats_available_bytes{
        persistentvolumeclaim=~"pg-cluster-sonar-\\d+",
        namespace="{{ dsc.sonarqube.namespace }}"} == 0
      for: 1m
      labels:
        severity: critical
