apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: sonar-ingress
  namespace: {{ SONAR_NAMESPACE }}
  annotations:
    route.openshift.io/termination: edge
spec:
  rules:
    - host: {{ SONAR_DOMAIN }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: sonar
                port:
                  number: 9000
