apiVersion: v1
kind: PersistentVolumeClaim # Create PVC
metadata:
  namespace: sonar-system
  name: sonar-data-claim # Sets name of PV
spec:
  accessModes:
    - ReadWriteOnce # Sets read and write access
  resources:
    requests:
      storage: 100Gi # Sets volume size