apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: sonar-ingress
  namespace: {{ DSC.sonarqube.namespace }}
  annotations:
{% for key, val in DSC.ingress.annotations.items() %}
    {{ key }}: {{ val }}
{% endfor %}
  labels:
{% for key, val in DSC.ingress.labels.items() %}
    {{ key }}: {{ val }}
{% endfor %}
spec:
{% if not DSC.ingress.tls.type == 'none' %}
  tls:
    - hosts:
        - {{ SONAR_DOMAIN }}
{% if DSC.ingress.tls.type == 'tlsSecret' %}
      secretName: {{ DSC.ingress.tls.tlsSecret.name }}
{% else %}
      secretName: sonar-tls-secret
{% endif %}
{% endif %}
  rules:
    - host: {{ SONAR_DOMAIN }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: sonar
                port:
                  number: 9000
