---
- name: Get Keycloak admin password
  kubernetes.core.k8s_info:
    namespace: "{{ dsc.keycloak.namespace }}"
    kind: Secret
    name: keycloak
  register: kc_adm_pass

- name: Set Keycloak admin facts
  ansible.builtin.set_fact:
    keycloak_admin_password: "{{ kc_adm_pass.resources[0].data['admin-password'] | b64decode }}"
    keycloak_admin: admin

- name: Get Keycloak API token
  ansible.builtin.uri:
    url: "{{ keycloak_auth_url }}/realms/{{ dsc.keycloak.managementRealm }}/protocol/openid-connect/token"
    method: POST
    status_code: [200, 202]
    validate_certs: "{{ dsc.exposedCA.type == 'none' }}"
    return_content: true
    body: username={{ keycloak_admin }}&password={{ keycloak_admin_password }}&grant_type=password&client_id=admin-cli
  register: kc_token
  ignore_errors: true

- name: Reset Keycloak admin fact
  when: kc_token is failed
  ansible.builtin.set_fact:
    keycloak_admin: dsoadmin

- name: Get Keycloak API token
  ansible.builtin.uri:
    url: "{{ keycloak_auth_url }}/realms/{{ dsc.keycloak.managementRealm }}/protocol/openid-connect/token"
    method: POST
    status_code: [200, 202]
    validate_certs: "{{ dsc.exposedCA.type == 'none' }}"
    return_content: true
    body: username={{ keycloak_admin }}&password={{ keycloak_admin_password }}&grant_type=password&client_id=admin-cli
  register: kc_token

- name: Set kc_access_token fact
  ansible.builtin.set_fact:
    kc_access_token: "{{ kc_token.json.access_token }}"

- name: Initialize list of all dso users
  set_fact:
    kc_dso_users: []

- name: Get paginated users
  vars:
    page_size: 100
    first_index: "{{ item }}"
  ansible.builtin.uri:
    url: "{{ keycloak_auth_url }}/admin/realms/{{ dsc.keycloak.applicationRealm }}/users?first={{ first_index }}&max={{ page_size }}"
    method: GET
    headers:
      Authorization: "Bearer {{ kc_access_token }}"
    return_content: true
    validate_certs: "{{ dsc.exposedCA.type == 'none' }}"
  loop: "{{ range(0, 800, 100) }}"
  register: kc_user_pages

- name: Combine all pages
  set_fact:
    kc_dso_users: "{{ kc_dso_users + (item.json | list) }}"
  loop: "{{ kc_user_pages.results }}"
  when: item.json | length > 0

- name: Convert Keycloak users JSON to CSV
  ansible.builtin.set_fact:
    kc_dso_users_csv: |
      username,surname,name,email,status
      {% for u in kc_dso_users %}
      {{ [u.username | default(''),
          u.lastName | default(''),
          u.firstName | default(''),
          u.email | default(''),
          'active' if u.enabled else 'disabled'] | join(',') }}
      {% endfor %}

- name: Write users CSV to file
  ansible.builtin.copy:
    dest: "/tmp/keycloak_users.csv"
    content: "{{ kc_dso_users_csv }}"
