watchCluster: true

image:
{% if use_private_registry %}
  registry: "{{ dsc.global.registry }}"
{% else %}
  registry: registry.gitlab.com
{% endif %}
  repository: gitlab-org/cloud-native
  name: gitlab-operator
  tag: {{ dsc.gitlabOperator.chartVersion }}
  # digest:
  pullPolicy: IfNotPresent
  # pullSecrets: []
  prepend: "false"

nameOverride: "gitlab"
fullnameOverride: ""

extraEnvs: []

podAnnotations: {}

resources:
  limits:
    cpu: 200m
    memory: 300Mi
  requests:
    cpu: 200m
    memory: 100Mi

affinity: {}
nodeSelector: {}
tolerations: []

manager:
  debug:
    enabled: true
{% if use_private_registry %}
  kubeRbacProxy:
    image:
      registry: "{{ dsc.global.registry }}"
{% endif %}
  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the name template
    # name:
  webhook:
    selfSignedCert:
      # Specifies whether CertManager Issuer and Certificate should be created
      # to generate a self-signed certificate for the Manager's webhook.
      create: true

app:
  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the name template
    # name:

nginx-ingress:
  serviceAccount:
    # Specifies whether a service account should be created
    create: false

scc: {}
#  apiVersion: ""

cert-manager:
  install: false
