apiVersion: v1
data:
  HTTP_PROXY: "{{ USE_PROXY | ternary(HTTP_PROXY, '') }}"
  HTTPS_PROXY: "{{ USE_PROXY | ternary(HTTPS_PROXY, '') }}"
  NO_PROXY: "{{ USE_PROXY | ternary(NO_PROXY, '') }}"
kind: ConfigMap
metadata:
  name: custom-env
  namespace: {{ GITLAB_NAMESPACE }}
