apiVersion: apps.gitlab.com/v1beta2
kind: Runner
metadata:
  name: gitlab-runner
  namespace: {{ GITLAB_NAMESPACE }}
spec:
  buildImage: alpine
{% if ingress.tls.type == 'tlsSecret' %}
  ca: {{ ingress.tls.tlsSecret.name }}
{% elif exposed_ca.type != 'none' %}
  ca: exposed-ca
{% else %}
  ca: 
{% endif %}
  #config: custom-config-toml
  env: custom-env
  gitlabUrl: https://{{ GITLAB_DOMAIN }}/
  runUntagged: true
  tags: openshift
  token: gitlab-gitlab-runner-secret
