apiVersion: apps.gitlab.com/v1beta2
kind: Runner
metadata:
  name: gitlab-runner
  namespace: {{ dsc.gitlab.namespace }}
spec:
  buildImage: alpine
{% if dsc.ingress.tls.type == 'tlsSecret' %}
  ca: {{ dsc.ingress.tls.tlsSecret.name }}
{% elif dsc.exposedCA.type != 'none' %}
  ca: exposed-ca
{% else %}
  ca: 
{% endif %}
  #config: custom-config-toml
  env: custom-env
  gitlabUrl: https://{{ gitlab_domain }}/
  runUntagged: true
  tags: openshift
  token: gitlab-gitlab-runner-secret
