apiVersion: apps.gitlab.com/v1beta2
kind: Runner
metadata:
  name: gitlab-runner
  namespace: gitlab-system
spec:
  gitlabUrl: https://{{ GITLAB_DOMAIN }}/
  runUntagged: true
  buildImage: alpine
  token: gitlab-gitlab-runner-secret
  tags: openshift
  env: custom-env
  #config: custom-config-toml

