---
apiVersion: v2
name: harbor
type: application
version: {{ dsc.harbor.chartVersion }}
dependencies:
- name: cluster
  alias: cluster
  version: {{ dsc.cloudnativepg.cluster.chartVersion }}
  repository: {{ dsc.cloudnativepg.cluster.helmRepoUrl }}
- name: harbor
  alias: harbor
  version: {{ dsc.harbor.chartVersion }}
  repository: {{ dsc.harbor.helmRepoUrl }}
- name: cpn-job
  alias: cpn-ansible-job
  version: {{ dsc.cpnAnsibleJob.chartVersion | quote }}
  repository: {{ dsc.cpnAnsibleJob.helmRepoUrl }}
