apiVersion: v2
type: application
name: console
version: 1.0.0
dependencies:
- name: cpn-cnpg
  alias: cpn-cnpg
  version: {{ dsc.cpnCnpg.chartVersion | quote }}
  repository: {{ dsc.cpnCnpg.helmRepoUrl }}
- alias: console
  name: cpn-console
  repository: {{ dsc.console.helmRepoUrl }}
  version: {{ dsc.console.chartVersion | quote }}
