apiVersion: v2
type: application
name: console
version: 1.0.0
dependencies:
- name: cluster
  alias: cluster
  version: {{ dsc.cloudnativepg.cluster.chartVersion }}
  repository: {{ dsc.cloudnativepg.cluster.helmRepoUrl }}
- alias: console
  name: cpn-console
  repository: {{ dsc.console.helmRepoUrl }}
  version: {{ dsc.console.chartVersion | quote }}
