---
spec:
  destination:
    namespace: testcm-kubeview
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: kubeview
    helm:
      fileParameters:
      - name: config
        path: ./roles/gitops/kubeview/files/values.yaml
    repoURL: https://benc-uk.github.io/kubeview/charts
    targetRevision: 0.1.31
  syncPolicy:
    automated:
      prune: true
    syncOptions:
    - CreateNamespace=true
    - ApplyOutOfSyncOnly=true
