---
apiVersion: v2
name: sonarqube
type: application
version: {{ dsc.sonarqube.chartVersion }}
dependencies:
- name: cpn-cnpg
  alias: cpn-cnpg
  version: {{ dsc.cpnCnpg.chartVersion }}
  repository: {{ dsc.cpnCnpg.helmRepoUrl }}
- name: sonarqube
  alias: sonarqube
  version: {{ dsc.sonarqube.chartVersion }}
  repository: "{{ dsc.sonarqube.helmRepoUrl }}"
