---
apiVersion: v2
name: sonarqube
type: application
version: {{ dsc.sonarqube.chartVersion }}
dependencies:
- name: cluster
  alias: cluster
  version: {{ dsc.cloudnativepg.cluster.chartVersion }}
  repository: {{ dsc.cloudnativepg.cluster.helmRepoUrl }}
- name: sonarqube
  alias: sonarqube
  version: {{ dsc.sonarqube.chartVersion }}
  repository: "{{ dsc.sonarqube.helmRepoUrl }}"
- name: cpn-ansible-job
  alias: cpn-ansible-job
  version: {{ dsc.cpnAnsibleJob.chartVersion | quote }}
  repository: {{ dsc.cpnAnsibleJob.helmRepoUrl }}
