ingress:
  className: {{ dsc.ingress.className | default('') }}
  hosts:
    - {{ console_domain }}
  annotations: {{ dsc.ingress.annotations }}
  labels: {{ dsc.ingress.labels }}

postgresql:
  enabled: false

global:
  postgresql:
    dbUrl: {{ 'postgresql://' + (pg_db_secret.resources[0].data.username | b64decode) + ':' + (pg_db_secret.resources[0].data.password | b64decode) + '@pg-cluster-console-rw:5432/dso-console-db?schema=public' }}
  keycloak:
    clientIds:
      backend: {{ console_backend_secret.resources[0].data.CLIENT_ID | b64decode }}
      frontend: {{ console_frontend_secret.resources[0].data.CLIENT_ID | b64decode }}
    clientSecrets:
      backend: {{ console_backend_secret.resources[0].data.CLIENT_SECRET | b64decode }}
    redirectUri: https://{{ console_domain }}
    sessionSecret: {{ session_secret }}
    domain: "{{ keycloak_domain }}"
    realm: dso

server:
  envFrom:
    - secretRef:
        name: dso-config

cnpg:
  enabled: true
  nameOverride: pg-cluster-console
