{% if use_private_registry %}
server:
  container:
    image: "{{ dsc.global.registry }}/cloud-pi-native/console/server:{{ dsc.console.release }}"

client:
  container:
    image: "{{ dsc.global.registry }}/cloud-pi-native/console/client:{{ dsc.console.release }}"

postgres:
  container:
    image: "{{ dsc.global.registry }}/postgres:15.3"
{% endif %}


{% if use_image_pull_secrets %}
global:
  imagePullSecrets:
  - dso-config-pull-secret
{% endif %}