{% if dsc.ingress.tls.type != 'none' and dsc.ingress.tls.type == 'tlsSecret' %}
ingress:
  tls:
    - secretName: {{ dsc.ingress.tls.tlsSecret.name }}
      hosts:
        - {{ console_domain }}
{% endif %}