kind: Secret
apiVersion: v1
type: Opaque
metadata:
  name: sonarqube
  annotations:
    avp.kubernetes.io/remove-missing: "true"
data:
  password: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/sonarqube/values#auth | jsonPath {.adminPassword} | base64encode>
  currentPassword: YWRtaW4=
