---
apiVersion: v2
name: vault
type: application
version: {{ dsc.vault.chartVersion }}
dependencies:
- name: vault
  alias: vault
  version: {{ dsc.vault.chartVersion }}
  repository: {{ dsc.vault.helmRepoUrl }}
{% if dsc.global.backup.vault.enabled  %}
- name: cpn-backup-utils
  alias: cpn-backup-utils
  version: {{ dsc.global.backup.vault.chartVersion }}
  repository: {{ dsc.cpnCnpg.helmRepoUrl }}
{% endif %}
- name: cpn-ansible-job
  alias: cpn-ansible-job
  version: {{ dsc.cpnAnsibleJob.chartVersion | quote }}
  repository: {{ dsc.cpnAnsibleJob.helmRepoUrl }}
