---
apiVersion: v2
name: vault
type: application
version: {{ dsc.vault.chartVersion }}
dependencies:
- name: vault
  alias: vault
  version: {{ dsc.vault.chartVersion }}
  repository: {{ dsc.vault.helmRepoUrl }}
{% if dsc.global.backup.vault.enabled  %}
- name: cpn-backup-utils
  alias: cpn-backup-utils
  version: {{ dsc.global.backup.vault.chartVersion }}
  repository: {{ dsc.cpnAnsibleJob.helmRepoUrl }}
{% endif %}
- name: cpn-job
  alias: cpn-ansible-job
  version: {{ dsc.cpnAnsibleJob.chartVersion | quote }}
  repository: {{ dsc.cpnAnsibleJob.helmRepoUrl }}
{% if dsc.global.backup.velero.enabled | default(false) %}
- name: dso-backup
  alias: dso-backup
  version: {{ dsc.global.backup.dsoBackup.chartVersion | default('1.0.0') | quote }}
  repository: {{ dsc.global.backup.dsoBackup.helmRepoUrl | default(dsc.cpnAnsibleJob.helmRepoUrl) }}
{% endif %}
