{% if dsc.global.backup.gitlab.enabled %}
apiVersion: v1
stringData:
  config: |
    [default]
    access_key = "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#backup | jsonPath {.s3AccessKey}>"
    secret_key = "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#backup | jsonPath {.s3SecretKey}>"
    host_base = "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#backup | jsonPath {.s3Endpoint}>"
    host_bucket = "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#backup | jsonPath {.s3Endpoint}>"
    proxy_host = "http://<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#proxy | jsonPath {.hostProxy}>"
    proxy_port = "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#proxy | jsonPath {.portProxy}>"
kind: Secret
metadata:
  annotations:
    avp.kubernetes.io/remove-missing: "true"
  name: gitlab-backup
type: Opaque
{% endif %}
