{% if dsc.global.backup.cnpg.enabled and
dsc.global.backup.s3.endpointCA.namespace is defined and
dsc.global.backup.s3.endpointCA.name is defined and
dsc.global.backup.s3.endpointCA.key is defined %}
apiVersion: v1
data:
  ca.pem: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#cnpgS3CaPem>
kind: Secret
metadata:
  annotations:
    avp.kubernetes.io/remove-missing: "true"
  name: "bundle-cnpg-s3"
type: Opaque
{% endif %}
