{% if dsc.exposedCA.type == "configmap" or dsc.exposedCA.type == "secret" %}
apiVersion: v1
data:
  tls.crt: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/common/values#exposedCa | base64encode>
kind: Secret
metadata:
  annotations:
    avp.kubernetes.io/remove-missing: "true"
  name: exposed-ca
type: Opaque
{% endif %}
