apiVersion: v1
data:
  provider: "<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/gitlab/values#oidcProvider>"
kind: Secret
metadata:
  annotations:
    avp.kubernetes.io/remove-missing: "true"
  name: openid-connect
type: Opaque
