{% if dsc.gitlab.pages.enabled and dsc.gitlab.pages.objectStore.external %}
apiVersion: v1
stringData:
  {{ dsc.gitlab.pages.objectStore.connection.key }}: |
    provider: AWS
    region: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/gitlab/values#pagesS3 | jsonPath {.region}>
    aws_access_key_id: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/gitlab/values#pagesS3 | jsonPath {.accessKey}>
    aws_secret_access_key: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/gitlab/values#pagesS3 | jsonPath {.secretKey}>
    endpoint: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/gitlab/values#pagesS3 | jsonPath {.endpoint}>
    path_style: {{ dsc.gitlab.pages.objectStore.path_style }}
kind: Secret
metadata:
  annotations:
    avp.kubernetes.io/remove-missing: "true"
  name: {{ dsc.gitlab.pages.objectStore.connection.secret }}
type: Opaque
{% endif %}
