apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: gitlab-backup
  namespace: "{{ dsc.gitlab.namespace }}"
data:
  config: |
    [default]
    access_key = "{{ dsc.global.backup.s3.credentials.accessKeyId.value }}"
    secret_key = "{{ dsc.global.backup.s3.credentials.secretAccessKey.value }}"
    host_base = "{{ dsc.global.backup.s3.endpointURL }}"
    host_bucket = "{{ dsc.global.backup.s3.endpointURL }}"
    proxy_host = "http://{{ dsc.proxy.host | default('') }}"
    proxy_port = "{{ dsc.proxy.port | default(0) }}"
