apiVersion: apps.gitlab.com/v1beta1
kind: GitLab
metadata:
  name: gitlab
  namespace: {{ GITLAB_NAMESPACE }}
spec:
  chart:
    values:
      certmanager:
        install: true
      gitlab:
        webservice:
          ingress:
            tls:
              secretName: gitlab-webservice
      registry:
        ingress:
          tls:
            secretName: gitlab-registry
      minio:
        ingress:
          tls:
            secretName: gitlab-minio
      global:
        certificates:
          customCAs:
            - configMap: openshift-service-ca.crt
{% if CA_ENABLED == 'True' %}
            - configMap: {{ CA_NAME }}
{% endif %}
        hosts:
          domain: {{ ROOT_DOMAIN }}
          gitlab:
            name: gitlab-op{{ ROOT_DOMAIN }}
          registry:
            name: gitlab-registry{{ ROOT_DOMAIN }}
          minio:
            name: gitlab-minio{{ ROOT_DOMAIN }}
          smartcard:
            name: gitlab-smartcard{{ ROOT_DOMAIN }}
          kas:
            name: gitlab-kas{{ ROOT_DOMAIN }}
          pages:
            name: gitlab-pages{{ ROOT_DOMAIN }}
        ingress:
          annotations:
           cert-manager.io/cluster-issuer: letsencrypt-issuer
          configureCertmanager: false
          tls:
            enabled: false
        extraEnv:
{% if USE_PROXY %}
          HTTP_PROXY: {{ HTTP_PROXY }}
          HTTPS_PROXY: {{ HTTPS_PROXY }}
          NO_PROXY: {{ NO_PROXY }}
{% endif %}
        appConfig:
          ldap:
            preventSignin: true
          omniauth:
            enabled: true
            syncProfileAttributes: ["email"]
            allowSingleSignOn: ["openid_connect"]
            blockAutoCreatedUsers: false
            autoSignInWithProvider: "openid_connect"
            autoLinkLdapUser: false
            autoLinkSamlUser: false
            autoLinkUser: ["openid_connect"]
            providers:
              - secret: openid-connect
    version: {{ GITLAB_VERSION }}
