certmanager:
  install: true
{% if ingress.tls.type != 'tlsSecret' %}
gitlab:
  webservice:
    ingress:
      tls:
        secretName: gitlab-webservice
registry:
  enabled: false
  ingress:
      enabled: false
minio:
  ingress:
    tls:
      secretName: gitlab-minio
{% else %}
gitlab:
  webservice:
    ingress:
      tls: {}
minio:
  ingress:
    tls: {}
{% endif %}
global:
  certificates:
    customCAs:
      - configMap: openshift-service-ca.crt
{% for item in additionals_ca %}
{% if item.kind == 'ConfigMap' %}
      - configMap: {{ item.name }}
{% endif %}
{% if item.kind == 'Secret' %}
      - secret: {{ item.name }}
{% endif %}
{% endfor %}
{% if exposed_ca.type != 'none' %}
      - secret: exposed-ca
{% endif %}
  hosts:
    domain: {{ ROOT_DOMAIN[1:] }}
    registry:
      name: gitlab-registry.example.com
{% if GITLAB_DOMAIN %}
    gitlab:
      name: {{ GITLAB_DOMAIN }}
{% endif %}
  ingress:
    annotations:
{% for key, val in ingress.annotations.items() %}
      {{ key }}: {{ val }}
{% endfor %}
    labels:
{% for key, val in ingress.labels.items() %}
      {{ key }}: {{ val }}
{% endfor %}
    class: none
    configureCertmanager: false
    tls:
      enabled: true
{% if ingress.tls.type == 'tlsSecret' %}
      secretName: {{ ingress.tls.tlsSecret.name }}
{% endif %}
  extraEnv:
{% if USE_PROXY %}
    http_proxy: {{ HTTP_PROXY }}
    https_proxy: {{ HTTPS_PROXY }}
    no_proxy: {{ NO_PROXY }}
    HTTP_PROXY: {{ HTTP_PROXY }}
    HTTPS_PROXY: {{ HTTPS_PROXY }}
    NO_PROXY: {{ NO_PROXY }}
{% endif %}
  appConfig:
    ldap:
      preventSignin: true
    omniauth:
      enabled: true
      syncProfileAttributes: ["email"]
      allowSingleSignOn: ["openid_connect"]
      blockAutoCreatedUsers: false
      autoSignInWithProvider: "openid_connect"
      autoLinkLdapUser: false
      autoLinkSamlUser: false
      autoLinkUser: ["openid_connect"]
      providers:
        - secret: openid-connect
