kind: Namespace
apiVersion: v1
metadata:
  name: {{ DSC.gitlab.namespace }}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: gitlab-opgroup
  namespace: {{ DSC.gitlab.namespace }}
spec:
  targetNamespaces:
    - {{ DSC.gitlab.namespace }}
