kind: Namespace
apiVersion: v1
metadata:
  name: {{ dsc.gitlab.namespace }}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: gitlab-opgroup
  namespace: {{ dsc.gitlab.namespace }}
spec:
  targetNamespaces:
    - {{ dsc.gitlab.namespace }}
