---
{% if dsc.gitlab.cnpg.exposed %}
apiVersion: v1
kind: Service
metadata:
  labels:
    cnpg.io/cluster: pg-cluster-gitlab
  name: pg-cluster-gitlab-rw-nodeport
  namespace: {{ dsc.gitlab.namespace }}
spec:
  ports:
  - name: postgres
    port: 5432
    protocol: TCP
    nodePort: {{ dsc.gitlab.cnpg.nodePort }}
  selector:
    cnpg.io/cluster: pg-cluster-gitlab
    role: primary
  type: NodePort
{% endif %}
