apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    app.kubernetes.io/name: gitlab
  name: gitlab
  namespace: {{ dsc.gitlab.namespace }}
spec:
  groups:
  - name: GitLab
    rules:
    - alert: GitLab webservice not available
      annotations:
        message: GitLab webservice in namespace {{ dsc.gitlab.namespace }} has not been available for the last 5 minutes.
        summary: GitLab webservice down (no ready pod)"
      expr: |
        sum(kube_pod_status_ready{
        pod=~"gitlab-webservice-.*",
        namespace="{{ dsc.gitlab.namespace }}",
        condition="true"}) == 0
      for: 5m
      labels:
        severity: critical
    - alert: GitLab webservice Pod not healthy
      annotations:
        message: GitLab {{"{{"}} $labels.pod {{"}}"}} pod in namespace {{ dsc.gitlab.namespace }} has been unavailable for the last 5 minutes.
        summary: GitLab webservice pod not healthy (container {{"{{"}} $labels.container {{"}}"}} is not ready)
      expr: |
        kube_pod_container_status_ready{
        pod=~"gitlab-webservice-.*",
        container!~"[webservice|gitlab-workhorse]", namespace="{{ dsc.gitlab.namespace }}"} == 0
      for: 5m
      labels:
        severity: warning
