name: openid_connect
label: Keycloak
args:
  name: openid_connect
  scope:
    - openid
    - generic
  response_type: code
  issuer: https://{{ KEYCLOAK_DOMAIN }}/auth/realms/dso
  client_auth_method: query
  discovery: true
  uid_field: email
  client_options:
    identifier: gitlab-client
    secret: 530169ec-83e6-430e-84d7-22c937dc789c
    redirect_uri: https://{{ GITLAB_DOMAIN }}/users/auth/openid_connect/callback
