---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: gitlab-app
  namespace: {{ dsc.gitlab.namespace }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: gitlab-app-nonroot
  namespace: {{ dsc.gitlab.namespace }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: gitlab-app-anyuid
  namespace: {{ dsc.gitlab.namespace }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: gitlab-nginx-ingress
  namespace: {{ dsc.gitlab.namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: gitlab-nginx-ingress
  namespace: {{ dsc.gitlab.namespace }}
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - configmaps
  - pods
  - secrets
  - endpoints
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses/status
  verbs:
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - ingressclasses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - update
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - coordination.k8s.io
  resourceNames:
  - ingress-controller-leader
  resources:
  - leases
  verbs:
  - get
  - update
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: gitlab-nginx-ingress
  namespace: {{ dsc.gitlab.namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: gitlab-nginx-ingress
subjects:
- kind: ServiceAccount
  name: gitlab-nginx-ingress
  namespace: {{ dsc.gitlab.namespace }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: gitlab-manager
  namespace: {{ dsc.gitlab.namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: gitlab-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: gitlab-manager-role
subjects:
- kind: ServiceAccount
  name: gitlab-manager
  namespace: {{ dsc.gitlabOperator.namespace }}
- kind: ServiceAccount
  name: gitlab-manager
  namespace: {{ dsc.gitlab.namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: gitlab-app-rolebinding-anyuid
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: gitlab-app-role-anyuid
subjects:
- kind: ServiceAccount
  name: gitlab-app-anyuid
  namespace: {{ dsc.gitlabOperator.namespace }}
- kind: ServiceAccount
  name: gitlab-app-anyuid
  namespace: {{ dsc.gitlab.namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: gitlab-app-rolebinding-nonroot
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: gitlab-app-role-nonroot
subjects:
- kind: ServiceAccount
  name: gitlab-app-nonroot
  namespace: {{ dsc.gitlabOperator.namespace }}
- kind: ServiceAccount
  name: gitlab-app-nonroot
  namespace: {{ dsc.gitlab.namespace }}
