apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: gitlab-{{ item.name }}
  namespace: {{ dsc.gitlab.namespace }}
spec:
  endpoints:
  - bearerTokenSecret:
      key: ""
    interval: 30s
    path: {{ item.path }}
    port: {{ additional_metrics_port_name }}
  namespaceSelector: {}
  selector:
    matchLabels:
      app.kubernetes.io/component: {{ item.name }}
      app.kubernetes.io/instance: gitlab-{{ item.name }}
      app.kubernetes.io/managed-by: gitlab-operator
      app.kubernetes.io/name: gitlab
      app.kubernetes.io/part-of: gitlab
