image:
  pullPolicy: IfNotPresent
extraEnv:
  - name: SOPS_AGE_KEY_FILE
    value: /etc/sops-age-key-file/key
{% if dsc.proxy.enabled %}
  - name: HTTP_PROXY
    value: "{{ dsc.proxy.http_proxy }}"
  - name: HTTPS_PROXY
    value: "{{ dsc.proxy.https_proxy }}"
  - name: NO_PROXY
    value: "{{ dsc.proxy.no_proxy }},argo-argo-cd-repo-server"
{% endif %}
secretsAsFiles:
  - mountPath: /etc/sops-age-key-file/
    name: sops-age-key-file
    secretName: sops-age-key-file