apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: infra-argocd
spec:
  destination:
    namespace: {{ dsc.grafana.namespace }}
    server: https://kubernetes.default.svc
  project: default
  sources:
  - chart: dso-grafana
    repoURL: {{ dsc.grafana.helmRepoUrl }}
    targetRevision: {{ dsc.grafana.chartVersion }}
    helm:  
      values: {% raw %}|
        {{ .Values.grafana | toYaml | nindent 8 }}
{% endraw %}
      valueFiles:
      - ./values.yaml
      - $tenants/helm/values.yaml
  - ref: tenants
    repoURL: "https://<path:forge-dso/data/env/{{ dsc_name }}/apps/common/values#domain | jsonPath {.gitlab}>/observability/observability.git"
    targetRevision: main
  syncPolicy:
    automated:
      prune: true
    #  selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - ServerSideApply=true
