apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ dsc.global.gitOps.envName }}-dso-observatorium"
  namespace: {{ dsc.argocdInfra.namespace }}
spec:
  destination:
    namespace: {{ dsc.observatorium.namespace }}
    name: {% raw %}{{ .Values.destinationClusterName }}
{% endraw %}
  project: {{ dsc.argocdInfra.projectName }}
  sources:
  - chart: observatorium
    repoURL: {{ dsc.observatorium.helmRepoUrl }}
    targetRevision: {{ dsc.observatorium.chartVersion | quote }}
    helm:
      values: {% raw %}|
        global:
          {{ .Values.global | toYaml | nindent 10 }}
        {{ .Values.observatorium | toYaml | nindent 8 }}
{% endraw %}
      valueFiles:
      - ./values.yaml
      - $tenants/helm/values.yaml
  - ref: tenants
    repoURL: "https://<path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/global/values#domain | jsonPath {.gitlab}>/observability/observability.git"
    targetRevision: main
  syncPolicy:
    automated:
      prune: true
    #  selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - ServerSideApply=true
