expose:
  imagePullPolicy: IfNotPresent
  type: ingress
  ingress:
    className: {{ dsc.ingress.className | default('') }}
    hosts:
      core: {{ harbor_domain }}
      notary: {{ dsc.harbor.subDomain }}-notary{{ root_domain }}
    notary:
      annotations:
{% for key, val in dsc.ingress.annotations.items() %}
        {{ key }}: {{ val }}
{% endfor %}
      labels:
{% for key, val in dsc.ingress.labels.items() %}
        {{ key }}: {{ val }}
{% endfor %}
    harbor:
      annotations:
{% for key, val in dsc.ingress.annotations.items() %}
        {{ key }}: {{ val }}
{% endfor %}
      labels:
{% for key, val in dsc.ingress.labels.items() %}
        {{ key }}: {{ val }}
{% endfor %}
externalURL: https://{{ harbor_domain }}
persistence:
  enabled: true
  resourcePolicy: keep
  persistentVolumeClaim:
    registry:
      size: "{{ dsc.harbor.pvcRegistrySize }}"
    jobservice:
      jobLog:
        size: 5Gi
    database:
      size: 10Gi
    redis:
      size: 5Gi
    trivy:
      size: 10Gi
harborAdminPassword: "{{ dsc.harbor.adminPassword }}"
nginx:
  replicas: 2
  serviceAccountName: harbor-sa
  image:
    repository: docker.io/goharbor/nginx-photon
portal:
  replicas: 2
  serviceAccountName: harbor-sa
  image:
    repository: docker.io/goharbor/harbor-portal
core:
  replicas: 3
  serviceAccountName: harbor-sa
  image:
    repository: docker.io/goharbor/harbor-core
jobservice:
  replicas: 2
  serviceAccountName: harbor-sa
  image:
    repository: docker.io/goharbor/harbor-jobservice
registry:
  replicas: 3
  serviceAccountName: harbor-sa
  registry:
    image:
      repository: docker.io/goharbor/registry-photon
  controller:
    image:
      repository: docker.io/goharbor/harbor-registryctl
trivy:
  replicas: 2
  serviceAccountName: harbor-sa
  image:
    repository: docker.io/goharbor/trivy-adapter-photon
database:
  internal:
    serviceAccountName: harbor-sa
    image:
      repository: docker.io/goharbor/harbor-db
{% if dsc.global.backup.type == 'velero' %}
  podAnnotations:
    pre.hook.backup.velero.io/command: '["/bin/bash", "-c", "pg_dump -Fc  -U postgres -d registry  > /var/lib/postgresql/data/app.dump"]'
{% endif %}
redis:
  internal:
    serviceAccountName: harbor-sa
    image:
      repository: docker.io/goharbor/redis-photon
exporter:
  replicas: 1
  image:
    repository: docker.io/goharbor/harbor-exporter
  serviceAccountName: harbor-sa
{% if dsc.global.metrics.enabled %}
metrics:
  enabled: true
  serviceMonitor:
    enabled: true
{% endif %}