{% if use_private_registry %}
nginx:
  image:
    repository: "{{ dsc.global.registry }}/goharbor/nginx-photon"

portal:
  image:
    repository: "{{ dsc.global.registry }}/goharbor/harbor-portal"

core:
  image:
    repository: "{{ dsc.global.registry }}/goharbor/harbor-core"

jobservice:
  image:
    repository: "{{ dsc.global.registry }}/goharbor/harbor-jobservice"

registry:
  registry:
    image:
      repository: "{{ dsc.global.registry }}/goharbor/registry-photon"
  controller:
    image:
      repository: "{{ dsc.global.registry }}/goharbor/harbor-registryctl"

trivy:
  image:
    repository: "{{ dsc.global.registry }}/goharbor/trivy-adapter-photon"

database:
  internal:
    image:
      repository: "{{ dsc.global.registry }}/goharbor/harbor-db"

redis:
  internal:
    image:
      repository: "{{ dsc.global.registry }}/goharbor/redis-photon"

exporter:
  image:
    repository: "{{ dsc.global.registry }}/goharbor/harbor-exporter"
{% endif %}


{% if use_image_pull_secrets %}
imagePullSecrets:
  - name: dso-config-pull-secret
{% endif %}