---
- name: Message
  ansible.builtin.debug:
    msg: "Traitement du templating de l'app {{ item.1.argocd_app }}"

- name: Set source and destination path facts
  ansible.builtin.set_fact:
    source_path: "{{ role_path }}/templates/{{ item.1.argocd_app }}"
    dest_path: "{{ gitops_local_repo }}/{{ dsc.global.gitOps.repo.path }}/envs/{{ item.0.name }}/apps/{{ item.1.argocd_app }}"

- name: Set install_enabled fact when not observability
  when: (dsc[item.1.argocd_app].installEnabled is defined) and (item.1.argocd_app != "observability")
  ansible.builtin.set_fact:
    install_enabled: "{{ dsc[item.1.argocd_app].installEnabled }}"

- name: Set install_enabled fact when observability
  when: (dsc[item.1.argocd_app].installEnabled is defined) and (item.1.argocd_app == "observability")
  ansible.builtin.set_fact:
    install_enabled: "{{ dsc.observatorium.installEnabled }}"

- name: Create chart and values destination dir
  ansible.builtin.file:
    path: "{{ dest_path }}"
    state: directory
    mode: "0775"

# Files copy

- name: Files copy
  when: install_enabled
  block:
    - name: Check if files path exists
      ansible.builtin.stat:
        path: "{{ source_path }}/files"
      register: argocd_app_files_stat

    - name: Copy files if exists
      when: argocd_app_files_stat.stat.exists
      ansible.builtin.copy:
        src: "{{ source_path }}/files"
        dest: "{{ dest_path }}/"
        mode: "0644"

# Chart file rendering

- name: Render "{{ item.1.argocd_app }}" Chart template file and write to destination
  when: install_enabled
  ansible.builtin.copy:
    content: "{{ lookup('ansible.builtin.template', source_path + '/Chart.yaml.j2') | from_yaml | to_nice_yaml(indent=2) }}"
    dest: "{{ dest_path }}/Chart.yaml"
    mode: "0644"

# Templates rendering

- name: Templates rendering
  when: install_enabled
  block:
    - name: Create templates destination dir
      ansible.builtin.file:
        path: "{{ dest_path }}/templates"
        state: directory
        mode: "0775"

    - name: Check if keycloak/templates/users.yaml exists
      ansible.builtin.stat:
        path: "{{ gitops_local_repo }}/{{ dsc.global.gitOps.repo.path }}/envs/{{ item.0.name }}/apps/keycloak/templates/users.yaml"
      register: keycloak_users_file_stat

    - name: Render "{{ item.1.argocd_app }}" templates and write yaml files to destination
      when: not (my_template | basename == 'users.yaml.j2' and keycloak_users_file_stat.stat.exists)
      vars:
        rendered_content: "{{ lookup('ansible.builtin.template', my_template) }}"
        dest_filename: "{{ my_template | basename | regex_replace('\\.j2$', '') }}"
      ansible.builtin.include_tasks: render_or_delete.yml
      with_fileglob: "{{ source_path }}/templates/*"
      loop_control:
        loop_var: my_template

    - name: Delete stale files in destination not present in template source
      ansible.builtin.file:
        state: absent
        dest: "{{ dest_path }}/templates/{{ item }}"
      with_items: >-
        {{
          (lookup('fileglob', gitops_local_repo + '/*', wantlist=True)
          | map('basename')
          | list)
          | difference(
              lookup('fileglob', source_path + '/templates/*', wantlist=True)
              | map('basename')
              | map('regex_replace', '\\.j2$', '')
              | list
            )
        }}

# Values rendering

- name: Values rendering
  when: install_enabled
  block:
    - name: Compute "{{ item.1.argocd_app }}" Helm values
      ansible.builtin.include_role:
        name: combine
      vars:
        combine_path: "{{ source_path }}/values"
        combine_user_values: >-
          {%- set app_name = item.1.argocd_app -%}
          {%- if app_name == 'gitlab' -%}
            {%- if 'cnpg' in dsc.gitlab and 'values' in dsc.gitlab['cnpg'] -%}
          {{ {} | combine({app_name: dsc.gitlabOperator['values'], 'cluster': dsc[app_name]['cnpg']['values']}) }}
            {%- else -%}
          {{ {} | combine({app_name: dsc.gitlabOperator['values']}) }}
            {%- endif -%}
          {%- elif app_name == 'cloudnativepg' -%}
          {{ {} | combine({app_name: dsc[app_name]['operator']['values']}) }}
          {%- elif 'cnpg' in dsc[app_name] and 'values' in dsc[app_name]['cnpg'] -%}
          {{ {} | combine({app_name: dsc[app_name]['values'], 'cluster': dsc[app_name]['cnpg']['values']}) }}
          {%- else -%}
          {{ {} | combine({app_name: dsc[app_name]['values']}) }}
          {%- endif -%}
        combine_dest_var: "{{ item.1.argocd_app }}_values"

    - name: Render "{{ item.1.argocd_app }}" values and write values.yaml to destination
      ansible.builtin.copy:
        content: "{{ lookup('vars', item.1.argocd_app ~ '_values') | to_nice_yaml(indent=2) }}"
        dest: "{{ dest_path }}/values.yaml"
        mode: "0644"

    - name: Special parsing for pipe after colon
      ansible.builtin.include_tasks: ./parsing.yml
