global:
  openshift: true
{% if dsc.global.metrics.enabled %}
  serverTelemetry:
    prometheusOperator: true
{% endif %}
injector:
{% if dsc.global.metrics.enabled %}
  metrics:
    enabled: true
{% endif %}
  image:
    repository: docker.io/hashicorp/vault-k8s
  agentImage:
    repository: docker.io/hashicorp/vault
server:
  route:
    enabled: false
  ha:
    enabled: true
    replicas: 3
    apiAddr: "https://{{ vault_domain }}"
    raft:
      enabled: true
{% if dsc.global.metrics.enabled %}
      config: |
        ui = true
        listener "tcp" {
          tls_disable = 1
          address = "[::]:8200"
          cluster_address = "[::]:8201"
          telemetry {
            unauthenticated_metrics_access = "false"
          }
        }
        storage "raft" {
          path = "/vault/data"
        }
        telemetry {
          prometheus_retention_time = "30s"
          disable_hostname = true
        }
{% endif %}
  standalone:
    enabled: false
  auditStorage:
    enable: true
  dataStorage:
    enable: true
    size: 23Gi
  image:
    repository: docker.io/hashicorp/vault
csi:
  image:
    repository: docker.io/hashicorp/vault-csi-provider
  agent:
    image:
      repository: docker.io/hashicorp/vault
{% if dsc.global.metrics.enabled %}
serverTelemetry:
  serviceMonitor:
    enabled: true
{% endif %}