---
- name: Validate dsc.sonarqube.pluginDownloadUrl is defined and not empty
  ansible.builtin.assert:
    that:
      - >
        dsc.sonarqube.pluginDownloadUrl is defined and
        dsc.sonarqube.pluginDownloadUrl != ""
    fail_msg: "'dsc.sonarqube.pluginDownloadUrl' must be set and not be empty"

- name: Validate dsc.sonarqube.prometheusJavaagentVersion is defined and not empty
  ansible.builtin.assert:
    that:
      - >
        dsc.sonarqube.prometheusJavaagentVersion is defined and
        dsc.sonarqube.prometheusJavaagentVersion != ""
    fail_msg: "'dsc.sonarqube.prometheusJavaagentVersion' must be set and not be empty"

- name: Validate dsc.gitlabCatalog.catalogRepoUrl is different than default
  ansible.builtin.assert:
    that:
      - dsc.gitlabCatalog.catalogRepoUrl != "https://github.com/cloud-pi-native/gitlab-ci-catalog.git"
    fail_msg: "'dsc.gitlabCatalog.catalogRepoUrl' is same as 'https://github.com/cloud-pi-native/gitlab-ci-catalog.git'"

- name: Validate dsc.console.helmRepoUrl is different than default
  ansible.builtin.assert:
    that:
      - dsc.console.helmRepoUrl != "https://cloud-pi-native.github.io/helm-charts"
    fail_msg: "'dsc.console.helmRepoUrl' is same as 'https://cloud-pi-native.github.io/helm-charts'"

- name: Validate dsc.argocd.privateGitlabDomain is defined and not empty
  ansible.builtin.assert:
    that:
      - >
        dsc.argocd.privateGitlabDomain is defined and
        dsc.argocd.privateGitlabDomain != ""
    fail_msg: "'dsc.argocd.privateGitlabDomain' must be set and not be empty"
