kind: Secret
apiVersion: v1
type: Opaque
metadata:
  name: keycloakx-admin-secret
  annotations:
    avp.kubernetes.io/remove-missing: "true"
data:
  KEYCLOAK_ADMIN: YWRtaW4=
  KEYCLOAK_ADMIN_PASSWORD: <path:{{ vaultinfra_kv_name }}/data/env/{{ dsc_name }}/apps/keycloakx/values#auth | jsonPath {.adminPassword} | base64encode>
